include:
  # This remote project centralize our CI "golden path" https://docs.gitlab.com/ee/ci/yaml/#includefile
  remote: 'https://gitlab.com/drupalspoons/composer-plugin/-/raw/master/templates/.gitlab-ci.yml'

#
# Below, projects may override anything in the template above.
#

# Rarely needed override of composer-plugin version. Don't cope this item your project.
#composer:
#  variables:
#    COMPOSER_PLUGIN_CONSTRAINT: "dev-master"

rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
