// -------
// Imports
// -------
@import "../navigation/variables";
@import "../navigation/base";
@import "../navigation/icons";
@import "../navigation/menu";

// Toolbar Variables
:root {
  --gin-toolbar-height: 39px;
  --gin-toolbar-secondary-height: 48px;
  --gin-scroll-offset: 72px;
  --gin-toolbar-y-offset: var(--gin-toolbar-height);
  --gin-toolbar-x-offset: 0px; // Needs px to work in calc() functions.
  --gin-sticky-offset: 0px; // Needs px to work in calc() functions.
  --gin-icon-size-toolbar: 20px;

  @include mq(medium) {
    --gin-toolbar-height: 0px; // Needs px to work in calc() functions.
    --gin-toolbar-secondary-height: 60px;
    --gin-toolbar-x-offset: var(--drupal-displace-offset-left, 64px);
    --gin-scroll-offset: 130px;
    --gin-sticky-offset: var(--gin-height-sticky);
  }
}

html.navigation-active {
  @include mq(medium) {
    --gin-toolbar-x-offset: var(--drupal-displace-offset-left, 264px);
  }
}

body.gin--navigation {
  @include mq($to: medium) {
    padding-top: var(--gin-toolbar-y-offset) !important;
    padding-left: var(--gin-toolbar-x-offset, 39px) !important;
  }
}

.gin--navigation .gin-secondary-toolbar--frontend {
  z-index: 102;
  margin-inline-start: var(--gin-toolbar-x-offset);
}

// Set transtion to Gin's to avoid different speeds.
.navigation__sidebar ~ .dialog-off-canvas-main-canvas,
.gin--navigation .gin-secondary-toolbar--frontend {
  transition: margin-inline-start var(--gin-transition-fast), margin-left var(--gin-transition-fast);
}

// ----------
// Navigation
// ----------
.gin--navigation {
  font-family: var(--gin-font);
  padding-top: 0 !important;

  .navigation__sidebar {
    border-right: 1px solid var(--gin-border-color-layer);
    transition: var(--gin-transition-fast);

    // Hide on smaller screens for now as this is not ready yet.
    @include mq($to: medium) {
      display: none;
    }
  }

  .navigation__sidebar,
  .navigation__sidebar--sticky-menu {
    background: var(--gin-bg-layer);
  }

  // Navigation header
  .navigation__header {
    margin-bottom: -4px;
  }

  // Navigation link
  .navigation-link {
    color: var(--gin-color-text);
    font-weight: normal;
  }

  // Focus
  .navigation-link:focus,
  .level-1 > .navigation-link:hover {
    outline: none;
    box-shadow: 0 0 0 1px var(--gin-color-focus-border), 0 0 0 4px var(--gin-color-focus);
  }

  .navigation-link--gin-home {
    color: var(--gin-bg-layer2);
  }

  .menu-item.current > .navigation-link {
    color: var(--gin-color-primary);
  }

  // -------
  // Level 1
  // -------

  // Gin Custom logo menu
  .menu--logo .navigation-menu {
    margin-top: 0;
  }

  //Active menu item
  .level-1.menu-item--expanded,
  .level-1.current {
    background-color: transparent;

    > .navigation-link {
      color: var(--gin-color-primary);
      background-color: var(--gin-color-primary-light);

      // Icons
      &::before,
      &::after {
        background: var(--gin-color-primary);
      }

      &:hover,
      &:focus {
        color: var(--gin-color-primary-hover);
        background-color: var(--gin-color-primary-light-hover);
      }
    }
  }

  // Menu item hover
  .level-1 > .navigation-link:hover,
  .level-1 > .navigation-link:focus,
  .level-2 > .navigation-link:hover,
  .level-2 > .navigation-link:focus,
  .level-2 .navigation-link:hover,
  .level-2 .navigation-link:focus,
  .menu-item.menu-item--expanded:not(.current) > .navigation-link,
  .navigation-link--sidebar-toggle:hover,
  .navigation-link--sidebar-toggle:focus {
    color: var(--gin-color-primary-hover);
    background-color: var(--gin-color-primary-light-hover);

    // Icons
    &::before,
    &::after {
      background: var(--gin-color-primary);
    }
  }

  // Hide Drupal 9 block_content links
  .level-1 > .navigation-link--manage-fields,
  .level-1 > .navigation-link--manage-form-display,
  .level-1 > .navigation-link--manage-display,
  .level-1 > .navigation-link--delete {
    display: none;
  }

  // -----------
  // Level 2 & 3
  // -----------
  .level-2,
  .level-3  {
    font-size: var(--gin-font-size-xs);
  }

  .level-2.current > .navigation-link::after,
  .level-3.current > .navigation-link::after {
    background-color: var(--gin-color-primary);
  }

  .level-2 > .navigation-link::before, .level-3 > .navigation-link::before,
  .level-2.menu-item--expanded > .navigation-menu::before {
    background-color: var(--gin-border-color-layer2);
  }
}

// Submenu
html:not(.navigation-active) .gin--navigation .level-1 {
  > .navigation-menu-wrapper,
  &.menu-item--expanded > .navigation-menu-wrapper .arrow-ref::before {
    background-color: var(--gin-bg-layer3);
  }
}

// Fixes a quirk when the toolbar
// module is still active
.toolbar-anti-flicker.toolbar-loading.toolbar-fixed body.gin--navigation,
.toolbar-anti-flicker.toolbar-loading.toolbar-fixed.toolbar-horizontal.toolbar-tray-open body.gin--navigation {
  padding-top: 0;
}

// Fix padding
.menu-title,
.level-1 .navigation-link,
.dashboard-link .navigation-link {
  padding-inline: 6px 10px;
}

// Scrollbar fix
.navigation-active .navigation__sidebar {
  overflow-y: initial;
}

// ---------
// RTL Fixes
// ---------

html:not(.navigation-active) .navigation__highlighted > .navigation-menu-wrapper .navigation-menu-wrapper > .navigation-menu, html:not(.navigation-active) .navigation__sidebar--menu > .navigation-menu-wrapper .navigation-menu-wrapper > .navigation-menu,
html:not(.navigation-active) .navigation__sidebar--sticky-menu .navigation-menu-wrapper > .navigation-menu,
.gin--navigation .menu-title.visually-hidden + .navigation-menu {
  margin-inline-start: 0;
}

.navigation-active .gin--navigation .navigation-menu {
  margin-inline-start: -2px;
}

// --------------
// Icon overrides
// --------------

.navigation-link--has-icon {
  --icon: icon('fallback'); /* Default icon, aka --basic */

  &::before {
    width: var(--gin-icon-size-toolbar);
    height: var(--gin-icon-size-toolbar);
    background-color: var(--gin-icon-color);
    mask-size: 100% 100%;
  }

  &:hover::before,
  &:focus::before {
    background-color: var(--gin-color-primary);
  }
}

// Custom Gin Home logo
.navigation-link--gin-home {
  box-sizing: border-box;
  padding: 5px !important; // make the logo 32px
  margin: 8px 4px 4px;
  background: var(--gin-color-primary);

  &::before {
    --icon: #{icon('drupal')};
    background: var(--gin-bg-layer2);
  }

  // Navigation expanded
  .navigation-active & {
    max-width: 30px;
    margin-inline-start: 0;

    span {
      display: none;
    }

    &::before {
      margin-inline-end: 0;
    }
  }
}

.navigation-link--tools::before {
  --icon: #{icon('tool')};
}

.navigation-link--appearance::before {
  --icon: #{icon('appearance')};
}

.navigation-link--blocks::before {
  --icon: #{icon('blocks')};
}

.navigation-link--bookmarks::before {
  --icon: #{icon('bookmarks')};
}

.navigation-link--configuration::before {
  --icon: #{icon('config')};
}

.navigation-link--content::before {
  --icon: #{icon('content')};
}

.navigation-link--create::before {
  --icon: #{icon('create')};
}

.navigation-link--extend::before {
  --icon: #{icon('extend-new')};
}

.navigation-link--files::before {
  --icon: #{icon('files')};
}

.navigation-link--help::before {
  --icon: #{icon('help')};
}

.navigation-link--media::before {
  --icon: #{icon('media')};
}

.navigation-link--people::before {
  --icon: #{icon('people-new')};
}

.navigation-link--reports::before {
  --icon: #{icon('reports')};
}

.navigation-link--structure::before {
  --icon: #{icon('structure')};
}

.navigation-link--sidebar-toggle[aria-expanded=true]::before {
  --icon: #{icon('toggle-collapse')};
}

.navigation-link--sidebar-toggle[aria-expanded=false]::before {
  --icon: #{icon('toggle-expand')};
}

.navigation-link--user::before {
  --icon: #{icon('user')};
}

// -------------
// Secondary nav
// -------------
.gin-secondary-toolbar {
  // Fixes quirks when the toolbar
  // module is still active
  .toolbar-menu__trigger {
    display: none;
  }

  .toolbar-tray .menu-item + .menu-item {
    border-left: none;
  }

  // Hide user menu as we have it
  // declared in the new nav
  .toolbar-secondary .toolbar-bar .toolbar-id--toolbar-icon-user {
    margin-right: -1em;
  }
}

// ---------
// User menu
// ---------

// Hide user menu in favor
// of secondary one
.gin--navigation .navigation-menu__user {
  display: none !important;
}

// -----------
// Sticky menu
// -----------
.navigation__sidebar--sticky-menu .navigation-menu {
  display: flex;
  flex-direction: column;
}

// -----------------------
// Hide Toolbar on desktop
// -----------------------
#toolbar-administration {
  .level-1 {
    display: block;
  }

  .menu-item {
    font-weight: var(--gin-font-weight-normal);
  }

  // Show toolbar on smaller screens for now as this is not ready yet.
  @include mq(medium) {
    display: none;
  }
}

.toolbar-menu__title,
.toolbar-menu__sub-title,
.toolbar-menu__trigger {
  display: none !important;
}
