$sprites: (
    'checkmark': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M2 8.571L5.6 12 14 4'/%3e%3c/svg%3e",
    'hide': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M2.01 1.696L2 1.707 14.072 13.78l-.696.697-2.078-2.078A9.232 9.232 0 018 13c-3.636 0-6.742-2.073-8-5 .647-1.505 1.783-2.784 3.228-3.672L1 2.1l.707-.707zM5 8c0-.546.146-1.058.4-1.5l4.1 4.1A3 3 0 015 8zM5.151 3.444l1.76 1.76a3 3 0 013.885 3.885l2.344 2.344C14.41 10.561 15.41 9.375 16 8c-1.258-2.927-4.364-5-8-5-.999 0-1.958.156-2.849.444z'/%3e%3c/svg%3e",
    'remove': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M13 3L3 13M13 13L3 3'/%3e%3c/svg%3e",
    'show': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M8 3C4.364 3 1.258 5.073 0 8c1.258 2.927 4.364 5 8 5s6.742-2.073 8-5c-1.258-2.927-4.364-5-8-5zm0 8a3 3 0 100-6 3 3 0 000 6z'/%3e%3c/svg%3e",
    'trash': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M14.9 2.9c-.1-.4-.2-.6-.2-.6-.1-.4-.4-.4-.8-.5l-2.3-.3c-.3 0-.3 0-.4-.3-.4-.7-.5-1.2-.9-1.2H5.7c-.4 0-.5.5-.9 1.3-.1.2-.1.2-.4.3l-2.3.3c-.4 0-.7.1-.8.4 0 0-.1.2-.2.5-.1.6-.2.5.3.5h13.2c.5 0 .4.1.3-.4zm-1.5 1.8H2.6c-.7 0-.8.1-.7.6l.8 10.1c.1.5.1.6.8.6h9.1c.6 0 .7-.1.8-.6l.8-10.1c0-.5-.1-.6-.8-.6z'/%3e%3c/svg%3e",
    'checked': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M3.795 7.096l2.387 2.506 6.023-6.327 1.484 1.56-7.507 7.89L2.31 8.656z'/%3e%3c/svg%3e",
    'add': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M91.125 53.008a5.772 5.772 0 01-1.61 2.508c-1.413 1.414-3.523 2.285-5.527 2.285h-.117c-.89.008-1.77 0-2.656 0l-23.402.004v26.18c0 2.117-.89 3.992-2.297 5.527-1.414 1.531-3.508 2.196-5.527 2.285a5.94 5.94 0 01-3.008-.671 5.772 5.772 0 01-2.508-1.61c-1.418-1.422-2.285-3.531-2.285-5.531v-.117c-.008-.89 0-1.77 0-2.656V57.806H16.016c-2.117 0-3.992-.88-5.527-2.286-1.536-1.418-2.2-3.507-2.286-5.527a5.94 5.94 0 01.672-3.008 5.772 5.772 0 011.61-2.508c1.414-1.414 3.523-2.285 5.527-2.285h.117c.89-.008 1.77 0 2.656 0l23.402-.004V16.016c0-2.117.891-3.992 2.297-5.527 1.414-1.535 3.504-2.2 5.524-2.285a5.94 5.94 0 013.007.672 5.772 5.772 0 012.508 1.61c1.414 1.413 2.285 3.523 2.285 5.526v.118c.008.89 0 1.77 0 2.656l.004 23.402h26.172c2.118 0 3.993.89 5.528 2.285 1.53 1.414 2.195 3.508 2.285 5.527a5.94 5.94 0 01-.672 3.008z'/%3e%3c/svg%3e",
    'asterisk': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M0 7.562l1.114-3.438c2.565.906 4.43 1.688 5.59 2.35-.306-2.921-.467-4.93-.484-6.027h3.511c-.05 1.597-.234 3.6-.558 6.003 1.664-.838 3.566-1.613 5.714-2.325L16 7.562c-2.05.678-4.06 1.131-6.028 1.356.984.856 2.372 2.381 4.166 4.575l-2.906 2.059c-.935-1.274-2.041-3.009-3.316-5.206-1.194 2.275-2.244 4.013-3.147 5.206l-2.856-2.059c1.872-2.307 3.211-3.832 4.017-4.575A86.77 86.77 0 010 7.562'/%3e%3c/svg%3e",
    'close': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M91.668 13.676l-5.34-5.34L50 44.66 13.672 8.336l-5.34 5.34L44.66 50 8.332 86.324l5.34 5.34L50 55.34l36.328 36.324 5.34-5.34L55.34 50z'/%3e%3c/svg%3e",
    'drop': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M1.2 5.4L2.6 4 8 9.2l5.4-5.3 1.4 1.4L8 12.1 1.2 5.4z'/%3e%3c/svg%3e",
    'drupal': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M65.8 21.1C58.7 14.2 52.1 7.6 50.1 0c-2 7.6-8.6 14.2-15.7 21.1C24 31.5 12.1 43.4 12.1 61.3c-.6 20.9 16.2 38.3 37.1 38.7 20.9.4 38.4-16.2 38.7-37.1v-1.6c.2-17.9-11.7-29.8-22.1-40.2zM31.5 64.7c-1.1 1.4-2.2 3.1-2.9 4.7-.2.2-.4.5-.7.5h-.2c-.9 0-1.8-1.6-1.8-1.6-.2-.4-.5-.9-.7-1.3l-.2-.4c-2.3-5-.4-12.1-.4-12.1.9-3.4 2.5-6.8 4.5-9.7 1.3-1.8 2.7-3.6 4.1-5.4l1.8 1.8 8.5 8.6c.4.4.4.9 0 1.3L34.7 61l-3.2 3.7zm19 24.8c-7.2 0-13.2-5.9-13-13.2 0-3.2 1.3-6.3 3.2-8.6 2.7-3.2 6.1-6.5 9.9-10.8 4.3 4.7 7.2 7.7 9.9 11.4.2.2.4.5.5.9 1.4 2.2 2.3 4.7 2.3 7.4.3 7.2-5.6 12.9-12.8 12.9zm24.6-20.9c-.2.5-.7.9-1.3 1.1h-.2c-.5-.2-.9-.5-1.3-.9-2.3-3.4-4.9-6.7-7.7-9.5l-3.4-3.6-11.5-11.9c-2.3-2.2-4.7-4.7-6.8-7 0-.2-.2-.2-.2-.2-.4-.5-.7-1.1-.9-1.8v-.4c-.4-2 .4-4 1.8-5.4 2.2-2.2 4.5-4.5 6.7-6.8 2.3 2.5 4.9 5 7.4 7.6 5 4.7 9.5 9.9 13.7 15.5 3.4 4.9 5.2 10.4 5.2 16.4-.4 2.1-.7 4.6-1.5 6.9z'/%3e%3c/svg%3e",
    'gin': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M50 20.5c2.5 2.9 5.3 5.6 8 8.3 10 10 19 19 19 32.4V62.9c-.4 14.7-12.5 26.6-27.2 26.6h-.5c-7.2-.2-14.1-3.1-19-8.3-4.9-5.4-7.6-12.3-7.4-19.7v-.2c0-13.4 9.4-22.5 19-32.4 2.9-2.8 5.6-5.7 8.1-8.4M50 0c-2 7.6-8.7 14.3-15.8 21C23.9 31.5 12 43.5 12 61.2c-.5 21 16.3 38.4 37.1 38.8h.9c20.5 0 37.5-16.5 38-37.1v-1.6c0-17.9-12-29.7-22.3-40.2C58.7 14.3 52 7.6 50 0z'/%3e%3c/svg%3e",
    'handle': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M5.4 1.2L3.9 2.6 9.2 8l-5.3 5.4 1.4 1.4L12.1 8 5.4 1.2z'/%3e%3c/svg%3e",
    'grid': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M10.5 9h3a1.5 1.5 0 011.5 1.5v3a1.5 1.5 0 01-1.5 1.5h-3A1.5 1.5 0 019 13.5v-3A1.5 1.5 0 0110.5 9zm-8 0h3A1.5 1.5 0 017 10.5v3A1.5 1.5 0 015.5 15h-3A1.5 1.5 0 011 13.5v-3A1.5 1.5 0 012.5 9zm8-8h3A1.5 1.5 0 0115 2.5v3A1.5 1.5 0 0113.5 7h-3A1.5 1.5 0 019 5.5v-3A1.5 1.5 0 0110.5 1zm-8 0h3A1.5 1.5 0 017 2.5v3A1.5 1.5 0 015.5 7h-3A1.5 1.5 0 011 5.5v-3A1.5 1.5 0 012.5 1z'/%3e%3c/svg%3e",
    'list': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M7 15a1.5 1.5 0 010-3h7a1.5 1.5 0 010 3H7zm-4.5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3zM7 9.5a1.5 1.5 0 010-3h7a1.5 1.5 0 010 3H7zm-4.5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3zM7 4a1.5 1.5 0 010-3h7a1.5 1.5 0 010 3H7zM2.5 4a1.5 1.5 0 110-3 1.5 1.5 0 010 3z'/%3e%3c/svg%3e",
    'error': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3e%3cpath d='M3 11.193L11.45 3' stroke='black' stroke-width='2'/%3e%3ccircle cx='7' cy='7' r='6' fill='none' stroke='black' stroke-width='2'/%3e%3c/svg%3e",
    'info': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M50 0a50 50 0 10.001 100A50 50 0 0050 0zm0 76.398l-.488.102h-1c-.301-.059-.602-.11-.89-.192a5.54 5.54 0 112.398.09zm16-36.309a12.349 12.349 0 01-2.898 4.91 33.157 33.157 0 01-5 4.11c-1 .691-1.891 1.41-2.828 2.129h-.004a5.993 5.993 0 00-1.848 2.671c-.2.54-.43 1.079-.64 1.622a3.731 3.731 0 01-3.481 2.468 4.898 4.898 0 01-2.531-.398 4.13 4.13 0 01-2.27-3.09 7.093 7.093 0 011.2-5.3 14.575 14.575 0 013.14-3.321c1.308-1.07 2.66-2.09 4-3.16a10.51 10.51 0 002.738-3.13 5.862 5.862 0 00-.699-6.5 5.366 5.366 0 00-3-1.66 9.553 9.553 0 00-4.66.079 5.689 5.689 0 00-3.61 3c-.468.879-.879 1.781-1.32 2.672A6.422 6.422 0 0141 38.999a4.474 4.474 0 01-3.39 1.09 4.715 4.715 0 01-2.141-.578 3.713 3.713 0 01-2-3.3 9.694 9.694 0 012-6.122 15.466 15.466 0 016-4.86 18.345 18.345 0 015.691-1.64l1.121-.11h2l1.078.102v-.004c2.676.172 5.293.848 7.711 2 2.16.996 4.004 2.57 5.32 4.551a11.733 11.733 0 011.81 5.18c.269 1.59.202 3.219-.2 4.781z'/%3e%3c/svg%3e",
    'status': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath stroke='black' stroke-width='3' fill='none' d='M2 8.6L5.6 12 14 4'/%3e%3c/svg%3e",
    'warning': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cg%3e%3cpath d='M6.5 1h3v9h-3z'/%3e%3ccircle cx='8' cy='13.5' r='1.5'/%3e%3c/g%3e%3c/svg%3e",
    'first': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M2 2v12M14 2L8 8l6 6' stroke='black' stroke-width='2'/%3e%3c/svg%3e",
    'last': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M14 14V2M2 14l6-6-6-6' stroke='black' stroke-width='2'/%3e%3c/svg%3e",
    'next': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M5 14l6-6-6-6' stroke='black' fill='none' stroke-width='2'/%3e%3c/svg%3e",
    'prev': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M11 2L5 8l6 6' stroke='black' stroke-width='2'/%3e%3c/svg%3e",
    'clock': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cg%3e%3cpath d='M90.645 40.797a4.165 4.165 0 00-8.129 1.813c.133.601.254 1.21.36 1.824.304 1.84.457 3.703.457 5.566 0 8.84-3.512 17.32-9.762 23.57a33.335 33.335 0 01-47.14 0 33.335 33.335 0 010-47.14A33.335 33.335 0 0150 16.668a33.005 33.005 0 0116.918 4.602 4.163 4.163 0 005.703-1.48 4.17 4.17 0 00-1.484-5.707 41.611 41.611 0 00-36.5-2.77A41.596 41.596 0 0010.072 38.45 41.605 41.605 0 0048.85 91.548a41.601 41.601 0 0033.327-15.137 41.598 41.598 0 008.47-35.613z'/%3e%3cpath d='M78.027 31.945a4.166 4.166 0 005.715 1.152 4.166 4.166 0 001.277-5.687 42.373 42.373 0 00-2.863-3.903c-1.48-1.71-4.051-1.925-5.797-.488s-2.027 4.004-.633 5.785c.828 1 1.594 2.051 2.3 3.141zM45.832 29.168V50c0 1.578.895 3.02 2.305 3.727l16.668 8.332a4.165 4.165 0 005.59-1.864 4.168 4.168 0 00-1.864-5.59l-14.363-7.18V29.169C54.168 26.867 52.301 25 50 25s-4.168 1.867-4.168 4.168z'/%3e%3c/g%3e%3c/svg%3e",
    'database': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M9.734 26.496C17.801 32.621 34.25 35.851 50 35.851c15.746 0 32.2-3.234 40.266-9.355v12.801c0 6.086-17.219 12.891-40.266 12.891-23.047-.004-40.266-6.809-40.266-12.891zm0 34.211c0 6.086 17.22 12.891 40.266 12.891 23.043 0 40.266-6.805 40.266-12.891V47.902C82.2 54.027 65.746 57.257 50 57.257s-32.199-3.234-40.266-9.355zm0 21.406C9.734 88.195 26.954 95 50 95c23.043 0 40.266-6.805 40.266-12.891V69.308C82.2 75.433 65.746 78.663 50 78.663S17.801 75.43 9.734 69.308zM90.265 17.89c0-6.086-17.223-12.891-40.266-12.891-23.047 0-40.266 6.805-40.266 12.891S26.953 30.781 50 30.781c23.043-.004 40.266-6.809 40.266-12.891z'/%3e%3c/svg%3e",
    'php': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cg%3e%3cpath d='M67.086 31.777a2.07 2.07 0 00.98-.77 2.1 2.1 0 00.36-1.214c0-.57-.164-1.04-.5-1.41a2.192 2.192 0 00-1.27-.696c-.379-.07-1.14-.105-2.277-.105h-1.527v4.445h1.73c1.242-.004 2.082-.082 2.504-.25zM36.691 31.777c.422-.164.75-.418.988-.77.239-.347.356-.753.356-1.214 0-.57-.168-1.04-.5-1.41a2.19 2.19 0 00-1.274-.696c-.375-.07-1.132-.105-2.273-.105H32.46v4.445h1.73c1.25-.004 2.082-.082 2.5-.25z'/%3e%3cpath d='M82.812 0H17.187c-3.438 0-6.25 2.813-6.25 6.25v87.5c0 3.438 2.812 6.25 6.25 6.25h65.625c3.438 0 6.25-2.813 6.25-6.25V6.25c0-3.438-2.813-6.25-6.25-6.25zM59.691 24.934h5.074c1.922 0 3.176.078 3.758.234.898.235 1.648.743 2.254 1.532.605.789.91 1.804.91 3.054 0 .961-.18 1.766-.523 2.422-.348.656-.793 1.168-1.332 1.543-.54.371-1.082.617-1.633.742-.758.149-1.852.223-3.285.223h-2.059v5.91h-3.164zm-15.789 0h3.164v6.164h6.195l-.004-6.164h3.165v15.66h-3.165v-6.848h-6.195v6.848h-3.164zm-14.602 0h5.074c1.922 0 3.176.078 3.758.234.898.235 1.648.743 2.254 1.532.605.789.91 1.804.91 3.054 0 .961-.176 1.766-.523 2.422-.348.656-.79 1.168-1.328 1.543a4.723 4.723 0 01-1.641.742c-.754.149-1.848.223-3.277.223h-2.063v5.91L29.3 40.59zm44.113 54.883H26.585v-3.125h46.832zm0-11.066H26.585v-3.125h46.832z'/%3e%3c/g%3e%3c/svg%3e",
    'server': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M21.328 14.164a8.927 8.927 0 00-8.688 6.777L3.433 56.253a15.86 15.86 0 017.16-1.707h78.81c2.593 0 5.023.637 7.207 1.727l-8.957-35.176c-.977-4.094-4.57-6.934-8.73-6.934zM10.594 60.117C4.75 60.117 0 64.871 0 70.715v4.547c0 5.82 4.75 10.574 10.594 10.574h78.832c5.82 0 10.574-4.73 10.574-10.574v-4.57c0-.66-.07-1.297-.184-1.934l-.34-1.34c-1.386-4.23-5.367-7.3-10.05-7.3zm12.504 9.3h.004a3.572 3.572 0 013.57 3.571c0 .945-.375 1.856-1.047 2.524a3.57 3.57 0 11-2.523-6.094zm25.785.794h31.582a2.794 2.794 0 012.797 2.797 2.794 2.794 0 01-2.797 2.797H48.883a2.794 2.794 0 01-2.797-2.797 2.794 2.794 0 012.797-2.797z'/%3e%3c/svg%3e",
    'drag': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M14.103 5.476a.5.5 0 00-.701-.053.526.526 0 00-.082.713l1.1 1.346H8.512V1.62l1.32 1.113a.501.501 0 00.732-.054.528.528 0 00-.085-.744L8.328.119a.5.5 0 00-.647 0L5.529 1.935a.527.527 0 00-.085.744.504.504 0 00.732.054l1.32-1.113v5.862H1.588L2.68 6.136a.526.526 0 00-.1-.68.5.5 0 00-.675.02L.117 7.67a.525.525 0 000 .66l1.788 2.194a.5.5 0 00.702.053.526.526 0 00.081-.713l-1.1-1.346h5.908v5.862l-1.32-1.113a.501.501 0 00-.698.082.526.526 0 00.051.716l2.152 1.817v-.001a.5.5 0 00.647 0l2.151-1.816a.526.526 0 00.052-.716.501.501 0 00-.699-.082l-1.32 1.113V8.518h5.908l-1.091 1.346a.527.527 0 00.022.776.504.504 0 00.752-.116l1.78-2.194a.527.527 0 000-.66z'/%3e%3c/svg%3e",
    'sort-asc': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M8 0L1.7 6.3l1.6 1.6L7 4.2V16h2.2V4.3L12.9 8l1.6-1.6L8 0z'/%3e%3c/svg%3e",
    'sort-desc': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M6.9 0v11.7L3.2 8.1 1.7 9.7 8 16l6.3-6.3-1.6-1.6L9 11.8V0H6.9z'/%3e%3c/svg%3e",
    'sort': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M0 2.3v2.3h16V2.3H0zm0 4.5v2.3h11.4V6.8H0zm0 4.6v2.3h6.9v-2.3H0z'/%3e%3c/svg%3e",
    'appearance': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M84.9 0C80.8.1 77 1.9 74.3 5L62.1 20.1 47.1 5 0 52.7 47.3 100l47.3-47.3-15.1-15 15.1-12.2c4.5-4 6.1-10.4 4-16C96.4 3.8 91 0 84.9 0zM47.3 85.8l-5.4-5.5 11.5-11.6-7.1-7.1-11.6 11.7-7.9-8 11.5-11.6-7.1-7.1-11.6 11.6-5.5-5.5 20.5-20.5 33.1 33.1-20.4 20.5z'/%3e%3c/svg%3e",
    'backtosite': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M91.699 44.199H22.301l19.5-19.5c2.3-2.3 2.3-5.898 0-8.2s-5.898-2.3-8.2 0L4.2 45.899c-2.301 2.3-2.301 5.898 0 8.199l29.3 29.301c1.102 1.102 2.602 1.7 4.102 1.7s3-.602 4.102-1.7c2.3-2.3 2.3-5.898 0-8.2L22.302 55.802H91.7c3.2 0 5.8-2.602 5.8-5.801s-2.6-5.8-5.8-5.8z'/%3e%3c/svg%3e",
    'commerce': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cg%3e%3cpath d='M99.3 19.9c-.6-.7-1.5-1.1-2.4-1.1H23.4L20.7 8.6c-.4-1.4-1.6-2.3-3-2.3H3.1C1.4 6.2 0 7.6 0 9.4s1.4 6.1 3.1 6.1h12.2l2.7 7.1v.1l10 37.4 3.4 12.6c.4 1.4 1.6 4.3 3 4.3h50c1.7 0 3.1-2.4 3.1-4.1s-1.4-4.1-3.1-4.1H36.8L35 62.2l55.8-2.8c1.4-.1 2.7-1.1 2.9-2.6l6.2-34.4c.2-.9 0-1.8-.6-2.5zm-55.5 27c0 1.7-1.4 3.1-3.1 3.1s-3.1-1.4-3.1-3.1V34.4c0-1.7 1.4-3.1 3.1-3.1s3.1 1.4 3.1 3.1v12.5zm18.7 0c0 1.7-1.4 3.1-3.1 3.1s-3.1-1.4-3.1-3.1V34.4c0-1.7 1.4-3.1 3.1-3.1s3.1 1.4 3.1 3.1v12.5zm18.7 0c0 1.7-1.4 3.1-3.1 3.1S75 48.6 75 46.9V34.4c0-1.7 1.4-3.1 3.1-3.1s3.1 1.4 3.1 3.1v12.5zM50 90.6c0 5.2-4.2 9.4-9.4 9.4s-9.4-4.2-9.4-9.4 4.2-9.4 9.4-9.4 9.4 4.2 9.4 9.4M87.5 90.6c0 5.2-4.2 9.4-9.4 9.4s-9.4-4.2-9.4-9.4 4.2-9.4 9.4-9.4 9.4 4.2 9.4 9.4'/%3e%3c/g%3e%3c/svg%3e",
    'config': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M15.9 9.1c.1-.4.1-.7.1-1.1 0-.4 0-.8-.1-1.2l-2.5-.3c-.1-.5-.3-.9-.5-1.3l1.5-2c-.5-.6-1-1.1-1.6-1.6l-2 1.5c-.4-.2-.9-.4-1.3-.6L9.1.1C8.8 0 8.4 0 8 0c-.4 0-.8 0-1.1.1l-.4 2.5c-.4.1-.9.3-1.3.5l-2-1.5c-.6.4-1.1 1-1.6 1.6l1.5 2c-.2.4-.4.8-.5 1.3l-2.5.3C0 7.2 0 7.6 0 8c0 .4 0 .7.1 1.1l2.5.3c.1.5.3.9.6 1.3l-1.6 2c.5.6 1 1.1 1.6 1.6l2-1.6c.4.2.9.4 1.3.5l.3 2.5c.4.3.8.3 1.2.3s.8 0 1.1-.1l.3-2.5c.5-.1.9-.3 1.3-.5l2 1.6c.6-.5 1.1-1 1.6-1.6l-1.6-2c.2-.4.4-.9.5-1.3.2-.2 2.7-.5 2.7-.5zM8 10.8c-1.6 0-2.8-1.3-2.8-2.8 0-1.5 1.3-2.8 2.8-2.8 1.5 0 2.8 1.3 2.8 2.8 0 1.5-1.3 2.8-2.8 2.8z'/%3e%3c/svg%3e",
    'content': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M63.6 7.4v18.3c0 1 .8 1.8 1.8 1.8h18.3c1.6 0 2.4-1.9 1.3-3.1L66.8 6.1c-1.1-1.1-3.2-.3-3.2 1.3z'/%3e%3cpath class='st0' d='M55.6 32.7v-27H21.8c-7.4-.1-7.4 7.6-7.4 7.6v73.1s0 7.9 7.6 7.9h55.1s8.4 0 8.4-8.3V35.5H58.6c-1.6.1-3-1.3-3-2.8z'/%3e%3c/svg%3e",
    'devel': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M15.9 9.1c.1-.4.1-.7.1-1.1 0-.4 0-.8-.1-1.2l-2.5-.3c-.1-.5-.3-.9-.5-1.3l1.5-2c-.5-.6-1-1.1-1.6-1.6l-2 1.5c-.4-.2-.9-.4-1.3-.6L9.1.1C8.8 0 8.4 0 8 0c-.4 0-.8 0-1.1.1l-.4 2.5c-.4.1-.9.3-1.3.5l-2-1.5c-.6.4-1.1 1-1.6 1.6l1.5 2c-.2.4-.4.8-.5 1.3l-2.5.3C0 7.2 0 7.6 0 8c0 .4 0 .7.1 1.1l2.5.3c.1.5.3.9.6 1.3l-1.6 2c.5.6 1 1.1 1.6 1.6l2-1.6c.4.2.9.4 1.3.5l.3 2.5c.4.3.8.3 1.2.3s.8 0 1.1-.1l.3-2.5c.5-.1.9-.3 1.3-.5l2 1.6c.6-.5 1.1-1 1.6-1.6l-1.6-2c.2-.4.4-.9.5-1.3.2-.2 2.7-.5 2.7-.5zM8 10.8c-1.6 0-2.8-1.3-2.8-2.8 0-1.5 1.3-2.8 2.8-2.8 1.5 0 2.8 1.3 2.8 2.8 0 1.5-1.3 2.8-2.8 2.8z'/%3e%3c/svg%3e",
    'edit': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cg%3e%3cpath d='M14.545 3.042l-1.586-1.585a1.003 1.003 0 00-1.414 0L10.252 2.75l3 3 1.293-1.293a1.004 1.004 0 000-1.415zM5.25 13.751l-3-3 6.998-6.998 3 3zM.908 14.775c-.087.262.055.397.316.312l2.001-.667-1.65-1.646-.667 2.001z'/%3e%3c/g%3e%3c/svg%3e",
    'extend': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M37.5 6.5v24.7h25v-25c0-1.8.7-3.5 2-4.7C65.8.3 67.6-.3 69.3-.1c3.3.4 5.7 3.2 5.6 6.5v24.7h12.2c3.3-.1 6.1 2.4 6.5 5.6.2 1.8-.4 3.5-1.6 4.8-1.2 1.3-2.9 2.1-4.7 2H81v20.3c0 4.1-1.6 8.1-4.6 11s-6.9 4.6-11 4.6h-7.8V100H42.2V79.7h-7.8c-4.1 0-8.1-1.6-11-4.6-2.9-2.9-4.6-6.9-4.6-11V43.7h-6.3c-1.8 0-3.5-.7-4.7-2-1.2-1.3-1.8-3.1-1.6-4.8.4-3.3 3.2-5.7 6.5-5.6H25v-25c0-1.8.7-3.5 2-4.7C28.3.4 30.1-.2 31.8 0c3.3.4 5.8 3.2 5.7 6.5z'/%3e%3c/svg%3e",
    'group': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M59.7 27.2c2-5.3 7.4-9.7 13.7-9.7 7.9 0 14.5 6.9 14.5 13.7 0 6.9-3.3 13.7-8.6 16.3v4.3c8.1 1.8 16.5 5.9 20.6 12v6.6H80.3C76 66.1 69.6 63 63.5 61.2c5.6-4.1 8.4-11.2 8.4-18.1 0-7.2-5.3-13.6-12.2-15.9zM.1 70.5v-6.6c4.1-6.1 12.5-10.2 20.4-12v-4.3c-5.1-2.5-8.4-9.4-8.4-16.3s6.4-13.7 14.2-13.7c6.4 0 12 4.3 13.7 9.7-6.6 2.3-12 8.6-12 16 0 6.9 2.8 14 8.4 18.1-6.1 1.8-12.5 4.8-17 9.2L.1 70.5zm23.4 11.9v-6.6c4.1-6.1 12.5-10.2 20.6-12v-4.1c-5.3-2.8-8.6-9.7-8.6-16.5S42.1 29.5 50 29.5s14.2 6.9 14.2 13.7c0 6.9-3.3 13.7-8.4 16.5v4.1c7.9 1.8 16.5 5.9 20.4 12v6.6H23.5z'/%3e%3c/svg%3e",
    'hamburger': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M92.953 27.328H7.015c-1.914 0-3.469-1.555-3.469-3.469s1.555-3.469 3.469-3.469h85.938a3.47 3.47 0 010 6.938zM92.953 53.469H7.015c-1.914 0-3.469-1.555-3.469-3.469s1.555-3.469 3.469-3.469h85.938a3.47 3.47 0 010 6.938zM92.953 79.688H7.015c-1.914 0-3.469-1.555-3.469-3.469s1.555-3.469 3.469-3.469h85.938a3.47 3.47 0 010 6.938z'/%3e%3c/svg%3e",
    'help': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M50 0a50 50 0 10.001 100A50 50 0 0050 0zm0 76.398l-.488.102h-1c-.301-.059-.602-.11-.89-.192a5.54 5.54 0 112.398.09zm16-36.309a12.349 12.349 0 01-2.898 4.91 33.157 33.157 0 01-5 4.11c-1 .691-1.891 1.41-2.828 2.129h-.004a5.993 5.993 0 00-1.848 2.671c-.2.54-.43 1.079-.64 1.622a3.731 3.731 0 01-3.481 2.468 4.898 4.898 0 01-2.531-.398 4.13 4.13 0 01-2.27-3.09 7.093 7.093 0 011.2-5.3 14.575 14.575 0 013.14-3.321c1.308-1.07 2.66-2.09 4-3.16a10.51 10.51 0 002.738-3.13 5.862 5.862 0 00-.699-6.5 5.366 5.366 0 00-3-1.66 9.553 9.553 0 00-4.66.079 5.689 5.689 0 00-3.61 3c-.468.879-.879 1.781-1.32 2.672A6.422 6.422 0 0141 38.999a4.474 4.474 0 01-3.39 1.09 4.715 4.715 0 01-2.141-.578 3.713 3.713 0 01-2-3.3 9.694 9.694 0 012-6.122 15.466 15.466 0 016-4.86 18.345 18.345 0 015.691-1.64l1.121-.11h2l1.078.102v-.004c2.676.172 5.293.848 7.711 2 2.16.996 4.004 2.57 5.32 4.551a11.733 11.733 0 011.81 5.18c.269 1.59.202 3.219-.2 4.781z'/%3e%3c/svg%3e",
    'people': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M6.722 11.291l.451-.17-.165-.32c-.536-1.039-.685-1.934-.761-2.672-.082-.808-.144-2.831 1.053-4.189.244-.278.493-.493.743-.675.012-.826-.135-1.766-.646-2.345-.618-.7-1.4-.787-1.4-.787L5.5.078l-.498.055S4.219.22 3.604.92c-.617.702-.717 1.948-.625 2.855.06.583.17 1.263.574 2.05.274.533.341.617.355 1.01.022.595.027 1.153-.671 1.538-.697.383-1.564.508-2.403 1.088-.596.41-.709 1.033-.78 1.459l-.051.41a.443.443 0 00.448.498h5.012c.457-.24.89-.402 1.259-.537zm-1.658 3.805c.07-.427.184-1.05.78-1.46.838-.581 1.708-.706 2.404-1.089.699-.385.693-.943.672-1.537-.014-.393-.08-.477-.354-1.01-.406-.787-.515-1.467-.576-2.049-.093-.909.008-2.155.625-2.856.615-.7 1.398-.787 1.398-.787l.492-.055h.002l.496.055s.781.087 1.396.787c.615.701.72 1.947.623 2.855-.062.583-.172 1.262-.571 2.049-.271.533-.341.617-.354 1.01-.021.595-.062 1.22.637 1.604.697.385 1.604.527 2.438 1.104.923.641.822 1.783.822 1.783a.557.557 0 01-.542.5H5.461a.441.441 0 01-.448-.496l.051-.408z'/%3e%3c/svg%3e",
    'reports': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M4 13.529c0 .275-.225.5-.5.5h-3a.501.501 0 01-.5-.5v-4.25c0-.274.225-.5.5-.5h3c.275 0 .5.226.5.5v4.25zm6.002 0c0 .275-.225.5-.5.5H6.5a.501.501 0 01-.5-.5v-13c0-.275.225-.5.5-.5h3.002c.275 0 .5.225.5.5v13zm6 0c0 .275-.225.5-.5.5h-3a.501.501 0 01-.5-.5v-9.5c0-.275.225-.5.5-.5h3c.275 0 .5.225.5.5v9.5z'/%3e%3c/svg%3e",
    'search': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M92.75 82.488L75.422 65.16a38.45 38.45 0 003.754-36.129 38.447 38.447 0 00-62.774-12.629A38.447 38.447 0 0029.03 79.176a38.45 38.45 0 0036.129-3.754L82.488 92.75c2.836 2.832 7.43 2.832 10.262 0s2.832-7.426 0-10.262zm-49.172-13.25a25.667 25.667 0 01-18.16-43.82 25.692 25.692 0 0118.156-7.52 25.67 25.67 0 0125.664 25.68 25.65 25.65 0 01-7.516 18.145 25.648 25.648 0 01-18.145 7.516z' fill-rule='evenodd'/%3e%3c/svg%3e",
    'shortcut': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3cpath d='M49.9 2.3c-.9 0-1.8.7-2.1 1.6L37.1 37.1 2.3 37c-1 0-1.9.6-2.2 1.6-.3.9 0 2 .8 2.5l28.2 20.4-10.8 33.2c-.3.9 0 2 .8 2.5.8.6 1.9.6 2.7 0L50 76.7l28.2 20.5c.8.6 1.9.6 2.7 0 .8-.6 1.1-1.6.8-2.5L70.8 61.6 99 41.2c.8-.6 1.1-1.6.8-2.5-.3-.9-1.2-1.6-2.2-1.6l-34.8.1L52.2 3.9c-.4-1-1.3-1.6-2.3-1.6z'/%3e%3c/svg%3e",
    'structure': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M15.002 11.277V9.263c0-1.456-.824-2.25-2.25-2.25h-3.5a.25.25 0 01-.25-.25v-2.04a1.99 1.99 0 001-1.723A2 2 0 006 3c0 .738.405 1.376 1 1.722v2.042a.25.25 0 01-.25.25h-3.5C1.888 7.014 1 7.932 1 9.266v2.012c-.595.353-1 .984-1 1.729a2 2 0 004 0c0-.732-.405-1.377-1-1.729V9.266a.25.25 0 01.25-.25h3.536c.118.018.214.11.214.234v2.027c-.595.347-1 .983-1 1.723a2.001 2.001 0 004.002 0c0-.738-.404-1.376-1-1.723V9.25c0-.124.098-.216.215-.234h3.535a.25.25 0 01.25.25v2.012a2 2 0 00-1 1.729 2 2 0 004 0c0-.745-.404-1.384-1-1.73z'/%3e%3c/svg%3e",
    'tmgmt': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3cpath d='M32 0C14.327 0 0 14.327 0 32s14.327 32 32 32 32-14.327 32-32S49.673 0 32 0zm0 60c-3.935 0-7.68-.813-11.077-2.278l14.572-16.393C35.82 40.963 36 40.49 36 40v-6a2 2 0 00-2-2c-7.062 0-14.513-7.341-14.586-7.414A2 2 0 0018 24h-8a2 2 0 00-2 2v12a2 2 0 001.106 1.789L16 43.236v11.743C8.747 49.919 4 41.514 4 32c0-4.295.968-8.363 2.696-12H14a2 2 0 001.414-.586l8-8A2 2 0 0024 10V5.162A27.985 27.985 0 0132 4c4.4 0 8.563 1.016 12.268 2.825A11.92 11.92 0 0040 16c0 3.205 1.248 6.219 3.515 8.485a11.967 11.967 0 009.072 3.501c.863 3.238 2.422 11.666-.525 23.271a1.954 1.954 0 00-.053.327C46.926 56.777 39.84 60 32 60z'/%3e%3c/svg%3e",
    'user': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M1 15a.497.497 0 01-.496-.5s.007-.746 1.071-1.512c1.138-.818 2.347-.969 3.308-1.498s.954-1.299.925-2.115c-.019-.543-.112-.657-.489-1.392-.556-1.084-.709-2.021-.791-2.823-.127-1.252.011-3.035.86-4.001C6.235.195 7.502.055 7.502.055l.5-.055.498.055s1.266.14 2.113 1.104c.85.966.988 2.75.859 4.001-.08.802-.234 1.739-.791 2.823-.377.734-.476.849-.488 1.392-.029.816-.035 1.586.926 2.115s2.17.68 3.307 1.498c1.064.766 1.072 1.512 1.072 1.512a.497.497 0 01-.496.5H1z'/%3e%3c/svg%3e"
);

$sizes: (
    'checkmark': (
        'width': 16px,
        'height': 16px
    ),
    'hide': (
        'width': 16px,
        'height': 16px
    ),
    'remove': (
        'width': 16px,
        'height': 16px
    ),
    'show': (
        'width': 16px,
        'height': 16px
    ),
    'trash': (
        'width': 16px,
        'height': 16px
    ),
    'checked': (
        'width': 16px,
        'height': 16px
    ),
    'add': (
        'width': 100px,
        'height': 100px
    ),
    'asterisk': (
        'width': 16px,
        'height': 16px
    ),
    'close': (
        'width': 100px,
        'height': 100px
    ),
    'drop': (
        'width': 16px,
        'height': 16px
    ),
    'drupal': (
        'width': 100px,
        'height': 100px
    ),
    'gin': (
        'width': 100px,
        'height': 100px
    ),
    'handle': (
        'width': 16px,
        'height': 16px
    ),
    'grid': (
        'width': 16px,
        'height': 16px
    ),
    'list': (
        'width': 16px,
        'height': 16px
    ),
    'error': (
        'width': 14px,
        'height': 14px
    ),
    'info': (
        'width': 100px,
        'height': 100px
    ),
    'status': (
        'width': 16px,
        'height': 16px
    ),
    'warning': (
        'width': 16px,
        'height': 16px
    ),
    'first': (
        'width': 16px,
        'height': 16px
    ),
    'last': (
        'width': 16px,
        'height': 16px
    ),
    'next': (
        'width': 16px,
        'height': 16px
    ),
    'prev': (
        'width': 16px,
        'height': 16px
    ),
    'clock': (
        'width': 100px,
        'height': 100px
    ),
    'database': (
        'width': 100px,
        'height': 100px
    ),
    'php': (
        'width': 100px,
        'height': 100px
    ),
    'server': (
        'width': 100px,
        'height': 100px
    ),
    'drag': (
        'width': 16px,
        'height': 16px
    ),
    'sort-asc': (
        'width': 16px,
        'height': 16px
    ),
    'sort-desc': (
        'width': 16px,
        'height': 16px
    ),
    'sort': (
        'width': 16px,
        'height': 16px
    ),
    'appearance': (
        'width': 100px,
        'height': 100px
    ),
    'backtosite': (
        'width': 100px,
        'height': 100px
    ),
    'commerce': (
        'width': 100px,
        'height': 100px
    ),
    'config': (
        'width': 16px,
        'height': 16px
    ),
    'content': (
        'width': 100px,
        'height': 100px
    ),
    'devel': (
        'width': 16px,
        'height': 16px
    ),
    'edit': (
        'width': 16px,
        'height': 16px
    ),
    'extend': (
        'width': 100px,
        'height': 100px
    ),
    'group': (
        'width': 100px,
        'height': 100px
    ),
    'hamburger': (
        'width': 100px,
        'height': 100px
    ),
    'help': (
        'width': 100px,
        'height': 100px
    ),
    'people': (
        'width': 16px,
        'height': 16px
    ),
    'reports': (
        'width': 16px,
        'height': 16px
    ),
    'search': (
        'width': 100px,
        'height': 100px
    ),
    'shortcut': (
        'width': 100px,
        'height': 100px
    ),
    'structure': (
        'width': 16px,
        'height': 16px
    ),
    'tmgmt': (
        'width': 64px,
        'height': 64px
    ),
    'user': (
        'width': 16px,
        'height': 16px
    )
);

$variables: (
    /* EMPTY */
);

// https://github.com/waldemarfm/sass-svg-uri/blob/v1.0.0/_svg-uri.scss
@function sprite-str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if type-of($replace) == 'null' {
        $replace: '';
    }

    @if ( $index ) {
        @return str-slice($string, 1, $index - 1) + $replace + sprite-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function sprite-svg-uri($value) {
    $encoded: '';
    $slice: 2000;
    $index: 0;

    @for $i from 1 through ceil(str-length($value) / $slice) {
        $chunk: str-slice($value, $index, $index + $slice - 1);
        $chunk: sprite-str-replace($chunk, '"', "'");
        $chunk: sprite-str-replace($chunk, '<', '%3C');
        $chunk: sprite-str-replace($chunk, '>', '%3E');
        $chunk: sprite-str-replace($chunk, '&', '%26');
        $chunk: sprite-str-replace($chunk, '#', '%23');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }

    @return $encoded;
}

@mixin sprite($name, $user-variables: (), $include-size: false) {
    $sprite: map-get($sprites, $name);

    // Inject variables
    $default-variables: map-get($variables, $name);
    @if type-of($default-variables) == 'map' {
        @each $key, $value in map-merge($default-variables, $user-variables) {
            @if ( not map-has-key($default-variables, $key) ) {
                @warn 'Sprite \'#{$name}\' does not support variable named \'#{$key}\'';
            }

            $sprite: sprite-str-replace($sprite, '___#{$key}___', sprite-svg-uri(quote(#{$value})));
        }
    } @else if type-of($user-variables) == 'map' {
        @warn 'Sprite \'#{$name}\' does not contain any variables';
    }

    background: url($sprite) center no-repeat;

    @if $include-size {
        $size: map-get($sizes, $name);
        background-size: map-get($size, width) map-get($size, height);
    }
}
