.breadcrumb {
  &-wrapper {
    width: 1px; // Fixes ellipsis with flex overfloating issue.
  }

  &__item,
  &__link {
    font-weight: normal;
    color: var(--colorGinTextLight);
  }

  &__item + &__item::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 8px;
    padding: 0 4px;
    background-color: var(--colorGinTextLight);
    mask-image: icon('handle');
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 10px 10px;
    opacity: .8;
  }

  &__link {
    line-height: 2; // make sure we have enough room for focus ring
    border-radius: 2px;
  }

  &__list {
    text-overflow: ellipsis;
    width: auto;
    overflow: hidden;
    padding-left: .25rem;
    margin-left: -.25rem;
    margin-top: -.25rem;
  }
}
