.card {
  padding: 0;
  background: transparent;
  border: 1px solid var(--colorGinTableBorder);
  border-radius: $borderDefault;
  box-shadow: 4px 4px 10px var(--colorGinLayer2Background);
  overflow: hidden;

  &-list {
    margin-bottom: 2rem;
  }

  &__image {
    img {
      border-radius: $borderDefault $borderDefault 0 0;

      @include mq($breakpointXSmall) {
        border-radius: $borderDefault 0 0 $borderDefault;
      }
    }
  }

  &__content-wrapper {
    background-color: var(--colorGinLayerBackground);
    border-radius: 0 0 $borderXSmall $borderXSmall;

    @include mq($breakpointXSmall) {
      border-radius: 0 $borderXSmall $borderXSmall 0;
    }

    .gin--dark-mode & {
      background-color: var(--colorGinLayer2Background);
    }
  }

  .heading-f {
    color: var(--colorGinTitle);
  }
}
