#coffee-form {
  padding: 4px;
  background: #000;
  border-radius: $borderMedium;

  #coffee-form-inner,
  #coffee-q {
    color: var(--colorGinText);
    background: var(--colorGinLayerBackground);
  }

  #coffee-results {
    a {
      border-radius: $borderDefault;

      &, .description {
        color: var(--colorGinText);
      }

      &:hover,
      &.ui-state-active {
        background: var(--colorGinPrimary);

        &, .description {
          color: var(--colorGinButtonText);
        }

        .description {
          opacity: .9;
        }
      }
    }
  }

  .ui-autocomplete {
    background: transparent;
    box-shadow: none;

    .ui-menu-item-wrapper {
      padding: 16px;
    }
  }
}
