.ui-dialog:not(.ui-dialog-off-canvas) {
  max-width: 1280px;
  margin: 1rem;
  border: 0 none !important;
  border-radius: $borderBig;
  background: var(--colorGinLayerBackground);

  // Dialog without title
  .ui-dialog-content:first-of-type {
    border-top-left-radius: $borderBig;
    border-top-right-radius: $borderBig;
  }

  // Node actions placement
  .layout-region-node-actions {
    position: absolute;
    bottom: 0;
    left: 1rem;
    top: auto;
    right: auto;
  }

  // Show meta full width
  .layout-region-node-secondary {
    width: 100%;
  }

  // Views exposed form override for dialog
  .views-exposed-form.views-exposed-form,
  .views-displays {
    border: 1px solid var(--colorGinLayerBorder);
  }
}

.ui-dialog {
  &,
  &:focus,
  &:focus:active,
  &:focus:hover {
    box-shadow: 20px 20px 40px rgba(0, 0, 0, .3);
  }

  .ui-dialog-titlebar {
    line-height: 1.2;
    padding: 24px;
    background: #1b1b1d;
    border: 0 none;
    border-top-left-radius: $borderBig;
    border-top-right-radius: $borderBig;
  }

  .ui-dialog-title {
    font-weight: normal;
  }

  .ui-dialog-content {
    color: var(--colorGinText);
  }

  .ui-widget-content.ui-dialog-buttonpane {
    padding: 16px 24px;
    border-top: 1px solid var(--colorGinLayerBorder);
    border-bottom-left-radius: $borderBig;
    border-bottom-right-radius: $borderBig;
    background: var(--colorGinAppBackground);

    .button {
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .ui-widget-content.ui-dialog-buttonpane,
  [data-drupal-selector*="-remove-form"] {
    .button.button--danger {
      border-color: var(--colorGinDanger) !important;
    }
  }

  .ui-dialog-titlebar-close {
    top: 20px;
    right: 18px;
    border: none;
    opacity: .8;
    transform: none;
    margin: 0;

    .ui-icon-closethick {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      transform: none;
      background: #fff;
      mask-image: icon('close');
      mask-size: 24px 24px;
      mask-repeat: no-repeat;
      mask-position: center center;
    }

    &:hover {
      opacity: 1;
    }
  }

  .ui-widget-content.ui-dialog-content {
    padding-left: 24px;
    padding-right: 24px;
    background: var(--colorGinLayerBackground);
  }
}

.erl-overlay,
.layout-paragraphs-dialog {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  width: calc(100% - 2rem) !important;
  transform: translate(-50%, -50%);

  @include mq($breakpointLarge) {
    width: calc(100% - 4rem) !important;
  }
}

.ui-widget-overlay {
  opacity: .9;
  background: var(--colorGinLayer2Background);
}

.views-ui-dialog {
  .views-offset-bottom {
    border-top: 1px solid var(--colorGinBorder);
  }
}

.ui-widget-content a {
  color: var(--colorGinPrimary);
}

// Off canvas dialog.
.ui-widget.ui-dialog.ui-dialog-off-canvas {
  --colorGinOffCanvasActive: var(--colorGinPrimary);
  background: #444;
  border: 0 none;
  box-shadow: 0 0 48px rgba(0, 0, 0, .075);

  .ui-dialog-titlebar {
    background: #1b1b1d;
    border-radius: 0;
  }

  .ui-dialog-titlebar-close {
    top: 20px;
  }

  .ui-resizable-w {
    border: 0 none;
    background-color: transparent;
  }

  .fieldset {
    color: var(--colorGinText);
  }

  #drupal-off-canvas {
    input[type="submit"].button--primary {
      background: var(--colorGinOffCanvasActive);
    }
  }
}

// Webform Off canvas
.ui-dialog.webform-off-canvas .ui-widget-content.ui-dialog-content {
  background: var(--colorGinLayerBackground);
}

// Token
table.treetable {
  tr.branch {
    background-color: transparent;
  }
}
