.entities-list {
  .item-container {
    // TEMP: Force small variants
    > .remove-button,
    >.replace-button,
    > .edit-button {
      @extend .button--extrasmall;
      display: inline-block;
      font-size: 0.79rem;
      margin-left: 0;
    }
  }
}

// When entities are embedded
.gin-entity-browser {
  .entity-browser-form {
    padding: 0;
    border: 0 none;
    box-shadow: none;

    .page-wrapper > .layout-container {
      margin: 0;
    }
  }

  .views-exposed-form {
    box-shadow: none;
  }
}

.eb-tabs {
  margin-left: 4px; // Fix for outline
  margin-bottom: 0.75em;

  ul {
    border-bottom: none; // Remove superflous bottom.
  }
}
