// Paragraphs in Layout Builder
.field--widget-entity-reference-layout-widget,
.layout-paragraphs-field {
  fieldset.erl-field,
  fieldset.layout-paragraphs-field {
    position: relative;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    box-shadow: none;

    > legend {
      display: none;
    }

    .fieldset__wrapper {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .erl-layout,
  .layout-paragraphs-layout {
    background: none;

    .layout {
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      background: #fff;
    }

    .layout-controls,
    .erl-actions,
    .layout-paragraphs-actions {
      background: var(--colorGinLayer2Background);
    }
  }

  .erl-add-content__group,
  .erl-add-content--group,
  .layout-paragraphs-add-content__group,
  .layout-paragraphs-add-content--group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    transform: translateX(-50%);
    max-height: 480px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: var(--colorGinAppBackground);
    border: 0 none;
    border-radius: $borderDefault;

    button {
      color: #000;
      text-align: center;
      flex-basis: 33.333%;
      margin-bottom: 16px;

      @include mq($breakpointLarge) {
        flex-basis: 25%;
      }

      img {
        width: 24px;
        height: 24px;
        float: none;
        display: block;
        margin: 8px auto;

        @include mq($breakpointLarge) {
          width: 30px;
          height: 40px;
        }
      }
    }
  }

  // Overlay
  .layout-radio-item.active {
    background: transparent;
  }

  .erl-disabled-items,
  .erl-disabled-items.form-item.form-wrapper,
  .layout-paragraphs-disabled-items,
  .layout-paragraphs-disabled-items.form-item.form-wrapper {
    padding: 24px;
    margin-bottom: -6rem;
    background: #f1f1f3;
    border-radius: 6px;

    .gin--dark-mode & {
      background: var(--colorGinLayer2Background);
    }

    &, &:hover, &:active {
      border: 0 none;
    }

    .fieldset__label {
      padding: 16px 0 24px;
    }

    &__description {
      font-size: 0.875rem;
      color: #999;
    }

    .erl-disabled-wrapper,
    .layout-paragraphs-disabled-wrapper {
      background: transparent;
      border-color: var(--colorGinLayer3Border);
    }
  }

  .erl-add-content,
  .layout-paragraphs-add-content {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .erl-actions,
  .layout-paragraphs-actions {
    .erl-edit,
    .erl-remove,
    .layout-paragraphs-edit,
    .layout-paragraphs-remove {
      &, &:hover, &:hover, &:focus {
        box-shadow: none !important;
        border-color: transparent !important;
      }
    }
  }

  .erl-add-content--single,
  .erl-item > .erl-add-content--single,
  .layout-paragraphs-add-content--single,
  .layout-paragraphs-item > .layout-paragraphs-add-content--single {
    position: static;
    width: 100%;
    left: 0;
    margin: 1rem 0 0 0;
    box-sizing: border-box;
  }

  .erl-add-section,
  .erl-add-content--single button {
    position: static;
    display: block;
    width: 100%;
    color: var(--colorGinPrimary);
    background: var(--colorGinItemHover);
    padding: 16px;
    border: 1px dashed var(--colorGinPrimary);
    border-radius: $borderDefault;

    &,
    &:hover,
    &:active {
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: var(--colorGinPrimaryHover);
      background: var(--colorGinPrimaryLight);
    }
  }

  .erl-item:last-of-type > .erl-add-content--single,
  .layout-paragraphs-item:last-of-type > .layout-paragraphs-add-content--single {
    opacity: 1;
  }

  .erl-add-content--single,
  .layout-paragraphs-add-content--single {
    button {
      .icon {
        margin-right: .5rem;
      }
    }
  }

  .layout-radio-item {
    > div {
      display: flex;
      align-items: center;
    }

    .form-item {
      margin-left: 8px;
    }

    &.active {
      outline: 2px solid var(--colorGinFocus);
    }
  }
}

// Modal
.ui-widget-content {
  &:focus {
    outline: none;
    box-shadow: none;
  }

  .erl-form-actions,
  .layout-paragraphs-form-actions {
    margin-bottom: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.erl-add-more-menu__group,
.layout-paragraphs-add-more-menu__group {
  background: var(--colorGinLayer3Background);
  border: 0 none;
  border-radius: $borderDefault;

  &--layout,
  &--content {
    justify-content: flex-start;
  }

  &--layout .layout-paragraph:not(.hidden),
  &--content {
    &::before {
      color: var(--colorGinTitle);
      flex-basis: 100%;
      padding: 1rem 1rem 0;
      font-size: 14px;
      opacity: .4;
    }
  }

  &--layout .layout-paragraph:not(.hidden) {
    &::before {
      content: "Layout";
      display: block;
      padding-left: 0;
      margin-left: -2.25rem;
    }

    &::after {
      content: "";
      display: block;
      opacity: .4;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 320%;
      height: 1px;
      border-bottom: 1px solid var(--colorGinFormElementBorder);
    }
  }

  &--content::before {
    content: "Content";
  }
}

.erl-add-more-menu,
.layout-paragraphs-add-more-menu {
  outline: none;
  border-radius: $borderDefault;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .08),
              20px 20px 40px rgba(0, 0, 0, .12);

  @include mq($breakpointLarge) {
    width: 400px;
  }

  &.beneath::before,
  &.above::after {
    background: var(--colorGinLayer3Background);
  }
}

// Add more item
.erl-add-more-menu__item,
.layout-paragraphs-add-more-menu__item {
  position: relative;

  a {
    color: var(--colorGinText);
    padding: .5rem;

    &:hover {
      background-color: var(--colorGinPrimaryLight);
    }
  }
}

// Add Toggle
.erl-add-content__toggle,
.layout-paragraphs-add-content__toggle {
  bottom: 2px;
  background: var(--colorGinPrimary);
  border-radius: 50%;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--colorGinButtonText);
    mask-image: icon('add');
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 16px 16px;
  }
}

.erl-layout-region:hover button.erl-add-content__toggle {
  opacity: 1;
}

// Loader
.erl-loading div.spinner,
.layout-paragraphs-loading div.spinner {
  width: 1.125rem;
  height: 1.125rem;
  animation: gin-throbber 0.75s linear infinite;
  border: 2px solid var(--colorGinPrimary);
  border-right: 2px dotted transparent;
  border-radius: 50%;
}

// ERL overlay
.erl-overlay {
  .erl-form {
    overflow-x: hidden;
    overflow-y: visible;
    max-height: 85vh !important;
  }
}

// ERL overlay loader
.erl-overlay.erl-loading div.loading {
  border-radius: 6px;

  .gin--dark-mode & {
    background: rgba(0, 0, 0, .3);
  }
}

// If ERL field is first element, remove margin-top
.erl-layout-wrapper,
.layout-paragraphs-disabled-items__items {
  margin-top: 0;
}

/*
** Item
*/

.erl-item,
.erl-field .erl-layout .erl-item,
.erl-field .erl-disabled-items .erl-item,
.layout-paragraphs-item,
.active-items .layout-paragraphs-item {
  position: relative;
  padding: 40px 24px 0 24px;
  background: #fff;
  border: 1px dashed #999;
  border-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='2' ry='2' stroke='%23999999' stroke-width='2' stroke-dasharray='4%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e") 1;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: var(--colorGinFocus);
    z-index: 1;

    .layout-label {
      display: block;
      margin: 0;
    }
  }
}

/*
** Specific layout_paragraphs overrides
*/

.layout-paragraphs-field {
  border: 0 none;
  box-shadow: none;

  > .fieldset__legend .fieldset__label {
    padding-left: 0;
  }

  > .fieldset__wrapper {
    margin: 0;
  }

  // Target first button
  > .fieldset__wrapper > .layout-paragraphs-add-content__toggle {
    opacity: 1;
  }

  // If there is content
  > .fieldset__wrapper > .active-items:not(:empty) ~ .layout-paragraphs-add-content__toggle {
    display: none;
  }

  .paragraph--view-mode--preview {
    padding-right: 0;
  }

  .layout-paragraphs-layout.layout-paragraphs-item {
    .layout-controls,
    .layout-paragraphs-actions {
      background-color: transparent;
    }

    // Item in layout
    .layout-paragraphs-item:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  .layout-paragraphs-disabled-items {
    .fieldset__wrapper {
      margin: 0;
    }
  }
}

/*
** Mixed overrides
*/

.erl-disabled-wrapper,
.layout-paragraphs-disabled-items__items {
  padding: 1rem;
  border: 1px dashed var(--colorGinLayer2Border);
  border-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='2' ry='2' stroke='%23999999' stroke-width='2' stroke-dasharray='4%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e") 1;

  .erl-item,
  .layout-paragraphs-item {
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}

.erl-disabled-wrapper .erl-disabled-items__description {
  top: 16px;
}

.layout-paragraphs-item .layout-paragraphs-add-content__toggle {
  top: 24px;
}

.layout-paragraphs-item > .layout-paragraphs-add-content__toggle {
  top: 100%;
}

// Basic item styles
.erl-item,
.layout-paragraphs-item {
  .paragraph-type-label {
    margin: -1px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate(-50%);
    border: 0 none;
    font-style: normal;
    color: #999;
  }

  .layout-controls {
    opacity: 1;
    position: absolute;
    left: 4px;
    top: 8px;
  }

  .erl-actions,
  .layout-paragraphs-actions {
    visibility: visible;
    position: absolute;
    right: 4px;
    top: 8px;
  }

  .paragraph {
    .field {
      line-height: 1.5;
      margin: .5em 0;
    }

    .field--name-field-title {
      font-weight: bold;
    }

    .field--type-image {
      max-height: 400px;
      overflow: hidden;
    }

    .field--name-field-paragraphs {
      display: flex;
      flex-wrap: wrap;

      .field__item {
        flex-basis: 100px;
        margin-right: .5rem;
      }
    }
  }
}

.erl-layout.erl-item.form-wrapper,
.layout-paragraphs-layout.layout-paragraphs-item {
  position: relative;
  padding: 48px 0 0;
  margin-bottom: 1rem;
  border: 0 none;
  border-radius: $borderDefault;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: #eeeef5;

    .gin--dark-mode & {
      background: var(--colorGinLayer2Background);
    }
  }

  .paragraph-layout-label {
    opacity: .6;
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold !important;
    padding: 0;
  }

  &:hover > button.erl-add-content__toggle,
  &:hover > button.layout-paragraphs-add-content__toggle {
    opacity: 1;
  }

  .erl-actions input.erl-edit,
  .erl-actions input.erl-remove,
  .layout-paragraphs-actions input.layout-paragraphs-edit,
  .layout-paragraphs-actions input.layout-paragraphs-remove {
    opacity: .75;

    &:hover {
      opacity: 1;
    }
  }
}

.erl-layout-region,
.erl-field .erl-layout-region,
.erl-disabled-items,
.layout-paragraphs-layout-region,
.layout-paragraphs-field .layout-paragraphs-layout-region,
.layout-paragraphs-disabled-items {
  padding: 24px;
  background: #fff;
  box-shadow: none;
  box-sizing: border-box;

  &,
  &:hover {
    border: 0 none;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  .layout-label {
    display: none;
  }
}

// Drag & Drop
.gu-transit,
.erl-field .erl-item.gu-transit,
.layout-paragraphs-field .layout-paragraphs-item.gu-transit {
  background-color: var(--colorGinPrimaryLightActive);
}

.gu-mirror,
.erl-layout.erl-item.gu-mirror,
.layout-paragraphs-layout.layout-paragraphs-item.gu-mirror {
  border: 2px solid var(--colorGinFocus);
  border-radius: $borderDefault;

  &::before,
  .erl-actions,
  .layout-paragraphs-actions,
  .layout-paragraphs-add-content__toggle {
    display: none;
  }
}
