$maxWidth: 520px;

.form-element {
  color: var(--colorGinText);
  border: 1px solid var(--colorGinFormElementBorder);
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
  border-radius: $borderDefault;

  &:hover {
    border-color: var(--colorGinText);
    box-shadow: inset 0 0 0 1px var(--colorGinText);
  }

  &:focus, &:hover:focus {
    box-shadow: inset 0 0 0 1px var(--colorGinText), 0 0 0 2px var(--colorGinLayerBackground), 0 0 0 4px var(--colorGinFocus);
  }

  .gin--dark-mode & {
    background-color: var(--colorGinLayer2Background);
  }
}

.form-textarea-wrapper {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: $borderDefault;

  textarea {
    max-width: 100%;
  }
}

.form-element--editor-format {
  width: auto;

  .form-item__label {
    top: 3px;
  }
}

.password-confirm {
  width: 100%;
  max-width: $maxWidth;
}

.password-strength {
  &__title {
    color: var(--colorGinTextLight);
  }

  &__text {
    color: var(--colorGinTitle);
  }
}

.password-suggestions {
  color: var(--colorGinTextLight);
  border: 1px solid var(--colorGinLayer2Border);
  background-color: transparent;
}

.form-element--type-select {
  padding-right: calc(2.5rem - 1px);

  .gin--dark-mode & {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3E%3Cpath fill='none' stroke-width='1.5' d='M1 1L7 7L13 1' stroke='%23ffffff'/%3E%3C/svg%3E%0A");
  }
}

.form-element--type-select--small {
  font-size: 0.79rem;
  min-height: 2.25rem;
  line-height: 1;
  background-position: 100% 52%;
}

.form-boolean {
  width: 21px;
  height: 21px;
  border-color: var(--colorGinFormElementBorder);
  border-radius: $borderSmall;
}

// Darkmode Checkbox
.form-boolean--type-checkbox {
  &:not(:checked) {
    .gin--dark-mode & {
      background: var(--colorGinLayer2Background);
    }
  }

  &:checked {
    .gin--dark-mode & {
      $iconColor: 1B1B1D;
      background-image: icon('checked');
    }
  }
}

// Single Checkbox: show as toggle
:not(.form-checkboxes):not(td):not(.media-library-item__click-to-select-checkbox):not(.field-content) > .form-type--checkbox {
  position: relative;
  margin-left: 0;

  .checkbox-toggle {
    z-index: 0;
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 24px;
    background-color: #909090;
    border-radius: 12px;
    box-sizing: border-box;

    &__inner {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      clip-path: circle(24px at 50% 50%); // Fix Safari bug
      border: 4px solid transparent;
      border-radius: 12px;
      box-sizing: border-box;

      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 21px;
        transform: translateX(-16px);
        transition: transform .3s;

        .gin--dark-mode & {
          background-color: var(--colorGinLayer2Background);
        }
      }
    }
  }

  input {
    @include visually-hidden;
    width: 40px;
    height: 24px;
    clip: auto;
    margin-left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;

    &:hover,
    &:focus,
    &:active,
    &:hover:focus,
    &:active:focus {
      outline: none;
      box-shadow: none;
      border: none;
    }

    &:hover ~ .checkbox-toggle {
      opacity: .9;
      box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    }

    &:checked ~ .checkbox-toggle .checkbox-toggle__inner {
      background-color: var(--colorGinSwitch);

      &:before {
        transform: translateX(16px);
      }
    }

    &:active ~ .checkbox-toggle .checkbox-toggle__inner,
    &:focus ~ .checkbox-toggle .checkbox-toggle__inner {
      box-shadow: 0 0 0 2px var(--colorGinLayerBackground), 0 0 0 4px var(--colorGinFocus);
    }

    // Disabled state: set cursor to not-allowed
    &:disabled {
      cursor: not-allowed;
    }

    // Disabled styles
    &:disabled ~ .checkbox-toggle,
    &:disabled ~ .checkbox-toggle:hover,
    &:disabled:checked ~ .checkbox-toggle .checkbox-toggle__inner,
    &:disabled:checked ~ .checkbox-toggle:hover .checkbox-toggle__inner {
      background-color: var(--colorGinDisabled);
    }
  }

  label {
    z-index: 1;
    position: relative;
    padding-left: 4px;
    padding-bottom: 0;
    color: var(--colorGinText);
  }
}

.form-boolean {
  &:hover, &:active {
    .gin--dark-mode & {
      box-shadow: none;
      border-color: var(--colorGinText);
    }
  }
}

.form-boolean--type-radio {
  &, &:hover, &:active, &:focus, &:hover:focus {
    background-image: none;
    background-color: #fff;
    border-color: var(--colorGinFormElementBorder);
    border-radius: 50%;

    .gin--dark-mode & {
      background-color: var(--colorGinLayer2Background);;
    }
  }

  &:hover {
    box-shadow: inset 0 0 0 1px var(--colorGinLayer2Border);

    &, .gin--dark-mode & {
      border-color: var(--colorGinText);
    }
  }

  &:checked {
    &, &:hover, &:active, &:focus, &:hover:focus {
      background-image: none;
      background-color: #fff;
      box-shadow: inset 0 0 0 4px var(--colorGinPrimary);

      .gin--dark-mode & {
        background-color: var(--colorGinLayer2Background);
        border-color: var(--colorGinPrimary);
      }
    }
  }
}

.form-radios,
.form-checkboxes {
  .form-type--boolean {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

.form-edit .form-actions {
  padding: 0;
  margin-bottom: 0;
  border: 0 none;
  background-color: transparent;
}

// Fieldgroup
fieldset:not(.fieldgroup) {
  padding-top: 8px;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  border-color: var(--colorGinBorder);
  border-radius: $borderDefault;
  box-shadow: none;

  > legend {
    top: 20px;
  }

  > .fieldset-wrapper {
    margin-top: 20px;
  }
}

.fieldset__label,
.fieldset__label--group,
.form-item__label {
  color: var(--colorGinText);
}

.form-item__label.has-error,
.form-item__error-message {
  color: var(--colorGinDanger);
}

.form-item__description,
.fieldset__description {
  max-width: $maxWidth;
  color: var(--colorGinTextLight);
}

.form-item__label.form-required::after,
.fieldset__label.form-required::after {
  content: "*";
  color: var(--colorGinDanger);
  vertical-align: text-top;
  background: none;
}

.form-item__warning {
  display: inline-block;
  margin-top: .5rem;
}

.js .form-autocomplete {
  padding-right: 36px;
}

.entity-form-display-form {
  > .form-actions {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.required-mark {
  &::after {
    background: var(--colorGinDanger);
    mask-image: icon('asterisk');
    mask-position: center center;
    mask-size: 100% 100%;
  }
}

.form-wrapper,
.form-composite {
  label {
    color: var(--colorGinText);
    position: relative;
    padding-bottom: 4px;
  }
}

.field--type-text-with-summary,
.field--widget-text-textarea {
  .form-item {
    margin-bottom: 0;
  }

  .filter-wrapper {
    border: 0 none;
    padding-left: 0;
    padding-right: 0;
  }
}

// Autocomplete field
.js input.form-linkit-autocomplete {
  padding-right: 2rem;
  background-position: right 8px center;
}

// Show field block
// .layout-region > .form-wrapper,
// .details-wrapper > .form-wrapper {
//   padding-left: 1.5rem;
//   margin-bottom: 2.5rem;
//   border-left: 2px solid var(--colorGinDisabled);

//   &:hover {
//     border-left-color: var(--colorGinIcons);
//   }

//   &:focus-within {
//     border-left-color: var(--colorGinPrimary);
//   }
// }
