.paragraphs-tabs-wrapper {
  tr {
    &:hover, &:focus {
      .gin--dark-mode &, & {
        background-color: inherit;
      }
    }
  }

  .paragraphs-subform {
    margin-top: 20px;
    margin-right: 31px;
  }

  .tabledrag-toggle-weight-wrapper {
    padding-bottom: 12px;
  }

  .field-multiple-table {
    thead {
      th {
        padding: .5rem 1.5rem .5rem .5rem;

        &.th__order {
          display: none;
        }
      }

      .label {
        display: inline-block;
        font-size: 18px;
        color: var(--colorGinTitle);
        padding: 0;
        margin: 10px;
      }
    }

    .draggable {
      display: block;
      padding: 1rem .5rem;
      margin-top: 1rem;
      border: 1px solid var(--colorGinTableBorder);
      border-radius: $borderDefault;
      box-shadow: 4px 4px 10px var(--colorGinLayer2Background);

      .gin--dark-mode & {
        box-shadow: none;
      }

      // Current draggable item
      &.drag {
        background-color: var(--colorGinWarningLightBackground);
      }

      // Flag Changes
      &.drag-previous {
        position: relative;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: .5rem;
          left: .5rem;
          width: 4px;
          height: calc(100% - 1rem);
          background: var(--colorGinWarning);
          border-radius: 2px;
        }
      }

      td {
        padding: .25rem;
      }

      > td + td {
        width: 100%;
      }

      .has-multiple-fields-remove-button {
        width: 100%;
        padding-right: 0 !important;
      }

      .tabledrag-handle::after {
        mask-image: icon('drag-dots');
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: 16px 16px;
      }

      .tabledrag-changed {
        display: none;
      }
    }
  }

  .paragraph-type-label {
    font-size: 16px;
    font-weight: bold !important;
    font-style: normal;
    color: var(--colorGinTitle);
    position: static;
    border: 0 none;
    padding-left: 0;
  }

  .paragraphs-subform {
    .paragraph-type-label {
      font-size: 14px;
    }
  }

  .paragraph-type-add-modal,
  .field--widget-paragraphs .paragraphs-dropbutton-wrapper {
    margin-right: .5rem;
  }
}

.paragraph {
  .contextual {
    display: none;
  }
}

.paragraphs-add-wrapper,
.paragraphs-dropbutton-wrapper {
  .button--small {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

.paragraphs-dropdown-toggle {
  position: relative;
  margin: .5rem 0;
  background: none;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: none;
    background-color: var(--colorGinTextLight);
    mask-image: icon('more');
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 16px 16px;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: var(--colorGinPrimaryLight);
    border: 0 none;

    &::after {
      background-color: var(--colorGinPrimary);
    }
  }
}

.js .field--widget-paragraphs .paragraphs-dropbutton-wrapper .dropbutton-multiple {
  padding: .5rem;

  .dropbutton-widget {
    margin-right: .5rem;
  }
}

.js .field--widget-paragraphs th .paragraphs-actions .paragraphs-dropdown {
  top: 0;
  right: -4px;
}

.paragraphs-dropdown-actions {
  color: var(--colorGinButtonText);
  background: var(--colorGinLayer3Background);
  border: 0 none;
  border-radius: $borderXSmall;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .08),
              20px 20px 40px rgba(0, 0, 0, .12);

  .paragraphs-dropdown-action.button {
    font-size: 0.8125rem;
    padding: .5rem 1rem;
    margin: 0;
    border: 0 none !important;
  }
}

.js .paragraph-type-title {
  align-self: center;
}

.js .paragraph-type-icon {
  padding: .25rem;
  margin-right: .5rem;
}

// Darkmode overrides
.gin--dark-mode {
  .paragraphs-dropdown-actions {
    background: var(--colorGinLayer2Background);
    border-color: var(--colorGinBorder);
    box-shadow: 0 2px 6px 0 var(--colorGinAppBackground);
  }

  .paragraph-type-icon {
    background-color: var(--colorGinPrimary);
  }

  .paragraphs-type-icon {
    box-shadow: inset 0 0 0 10px var(--colorGinLayerBackground);
    background-color: #fff;
  }
}

.js .paragraphs-description .summary-content {
  color: var(--colorGinText);
}

// Drag & Drop
.paragraphs-dragdrop {
  &__list {
    --dnd-item-ghost-border: var(--colorGinPrimary);
    --dnd-item-ghost-bg: var(--colorGinItemHover);
  }

  &__item {
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: var(--colorGinLayer3Background);
    border-radius: $borderDefault;
  }

  &__icon {
    top: .5rem;
  }
}

.js .paragraph-type-add-modal-button:hover {
  background: var(--colorGinPrimary);
}

.paragraphs-dragdrop__label--field {
  text-transform: none;
}

// Classic Paragraphs
.field--widget-entity-reference-paragraphs {
  // Ugly addressing the title, but let's go
  > div > .form-wrapper > strong {
    display: block;
    margin-top: 2rem;
  }

  // No Paragraph added yet text
  // No dedicated classes so targeting the element as good as possible
  .form-wrapper .form-wrapper > em {
    display: block;
    padding: 1rem 0;
  }

  // Add buttons
  .form-actions {
    align-items: center;

    .dropbutton-multiple {
      margin-right: .5rem;

      // Support different paragraphs versions
      .placeholder,
      ~ .placeholder {
        margin-left: .25rem;
      }
    }
  }
}
