.region-sticky {
  position: relative;
  padding: 16px 0 0;
  width: 100%;
  background: rgba($colorAppBackground, .98);
  box-sizing: border-box;
  transition: $transition;

  @supports (backdrop-filter: blur()) {
    opacity: .999; /* Fix Chrome issue with mask */
    background: rgba($colorAppBackground, .8);
    backdrop-filter: blur(12px);
  }

  .gin--dark-mode & {
    background: rgba($colorDarkAppBackground, .98);

    @supports (backdrop-filter: blur()) {
      background: rgb(27 27 29 / 90%);
      // background: #{rgba(mix(white, $colorDarkAppBackground, .5%), .9)};
    }
  }

  .gin--high-contrast-mode & {
    background: var(--colorGinAppBackground);
    backdrop-filter: none;
  }

  @include mq($breakpointLarge) {
    position: sticky;
    z-index: 101;
    top: 0;
    width: 100%;
    height: $stickyBar;
    padding: 16px 0;
    margin-top: -2px;

    .gin--classic-toolbar:not(.gin--edit-form) & {
      position: relative;
    }

    .gin--classic-toolbar.gin--edit-form & {
      padding-top: 16px;
      top: $topBar;
    }

    .gin--horizontal-toolbar & {
      top: $toolbarHorizontal;
    }

    .gin--horizontal-toolbar.gin--edit-form & {
      padding-top: 16px;
    }

    .gin--classic-toolbar.gin--edit-form.toolbar-tray-open & {
      top: 79px;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    @include mq($breakpointSmall) {
      height: 100%;

      .settings-tray-editable {
        flex-shrink: 0;
      }
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      // Set max-width to max content-width
      .gin--edit-form & {
        max-width: $breakpointWide;
        margin: 0 auto;
      }

      @include mq($breakpointLarge) {
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 0;

        .block-page-title-block,
        .local-actions {
          margin: 0;
        }
      }
    }

    .block-page-title-block {
      flex-grow: 1;
      align-self: center;
      display: flex;
      margin: 0;
      min-width: 0;

      .page-title {
        align-self: center;
        margin: 0;
      }
    }

    .gin-sticky {
      display: none;

      @include mq($breakpointLarge) {
        display: flex;
        padding-left: 1.5rem;
      }
    }
  }
}

.content-header {
  padding-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  overflow: initial;
}

.sticky-shadow {
  @include mq($breakpointSmall) {
    z-index: 98;
    position: relative;
    pointer-events: none;
    height: 40px;
    margin: -40px auto 2rem;
    box-shadow: 0 10px 20px -16px rgba(0, 0, 0, .4);

    .gin--dark-mode & {
      box-shadow: none;
    }
  }

  @include mq($breakpointLarge) {
    position: sticky;
    top: 40px;
    width: calc(100% - min(10vw, 96px) + 24px);

    // Modern, horizontal toolbar
    .gin--horizontal-toolbar & {
      top: 92px;
    }

    // Classic, legacy toolbar
    .gin--classic-toolbar & {
      top: 0;
    }

    .gin--classic-toolbar.gin--edit-form & {
      top: 88px;
    }

    .gin--classic-toolbar.gin--edit-form.toolbar-tray-open & {
      top: 127px;
    }

    .gin--edit-form & {
      max-width: 1300px;
    }
  }
}

.page-wrapper {
  @include mq($breakpointLarge) {
    margin-top: 1px; // fix for top: auto;
  }
}

.toolbar-tray-open:not(.toolbar-vertical) .layout-container,
body:not(.toolbar-tray-open) .layout-container {
  margin-left: 1rem;
  margin-right: 1rem;

  @include mq($breakpointSmall) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @include mq($breakpointMedium) {
    margin-left: m#{i}n(5vw, 48px);
    margin-right: m#{i}n(5vw, 48px);

    .layout-container {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.breadcrumb-wrapper {
  flex-grow: 1;
  white-space: nowrap;
  margin-right: 2rem;
}

.region-meta {
  z-index: 102;
  position: relative;
  display: flex;
  margin-top: 16px;

  @include mq($breakpointMedium) {
    padding: 1.5rem 0 .5rem;
    margin-top: 0;
  }

  .gin--edit-form & {
    @include mq($breakpointBig) {
      position: relative;
      left: calc(50% - 3rem);
      transform: translateX(-50%);
      max-width: $breakpointWide;
    }
  }
}

// Action bar
.layout-node-form__actions {
  z-index: 102;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 1rem;
  margin-left: calc((.5em + 1.5rem) * -1);
  background-color: var(--colorGinAppBackground);
  box-shadow: 0 -4px 10px rgba(0, 0, 0, .1);
  box-sizing: border-box;

  @include mq($breakpointSmall) {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: calc((2em + 1.5rem) * -1);
  }

  @include mq($breakpointMedium) {
    padding-left: m#{i}n(5vw, 48px);
    padding-right: m#{i}n(5vw, 48px);
  }

  @include mq($breakpointMedium 1023px) {
    margin-left: 0;
    left: 0;

    .gin--vertical-toolbar & {
      left: $toolbarWidth;
    }

    .gin--vertical-toolbar[data-toolbar-menu='open'] & {
      left: $toolbarOpenWidth;
    }
  }

  @include mq($breakpointLarge) {
    display: none; // Hide the real deal
  }

  @include mq($breakpointBig) {
    margin-left: calc(100% + 2.5rem);
  }
}

.gin-sticky {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: max-content;

  [data-drupal-selector=edit-submit] {
    margin-right: 0;
  }

  .form-actions {
    margin: 0;
    align-items: center;
  }

  .field--name-status {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  }
}
