.responsive-preview {
  z-index: 502;

  &-icon {
    @extend .toolbar-icon;
  }

  &-item-list {
    top: 74px !important;
  }
}

.toolbar {
  .toolbar-tab-responsive-preview.toolbar-tab {
    // Trigger
    .responsive-preview-trigger {
      width: 4em;
      background: none;
      border-radius: $borderXSmall;

      // Hover
      &:hover::before {
        background-color: var(--colorGinTitle);

        .gin--classic-toolbar & {
          background-color: #fff;
        }
      }

      // Icon
      &::after {
        width: 12px;
        height: 12px;
        top: 14px;
        right: 4px;
        background-color: var(--colorGinTextLight);
        mask-image: icon('drop');
        mask-size: 12px;
        mask-position: center center;
        mask-repeat: no-repeat;
      }
    }

    // Menu style
    .responsive-preview-options {
      padding: .5rem;
      background-color: var(--colorGinLayer3Background);
      border-bottom: 0 none;
      border-radius: $borderXSmall;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .08),
                  20px 20px 40px rgba(0, 0, 0, .12);

      // Device links
      .responsive-preview-device {
        color: var(--colorGinPrimary);
        width: 100%;
        border-radius: $borderXSmall;

        &:hover {
          color: var(--colorGinButtonText);
          background-color: var(--colorGinPrimary);
        }
      }

      // Configuration link
      .responsive-preview-configure {
        color: var(--colorGinTextLight);
      }
    }

    // Open menu item
    &.open {
      &, &::before {
        background-color: var(--colorGinLayer3Background);
      }

      .responsive-preview-trigger::before {
        .gin--classic-toolbar & {
          background-color: #111;
        }
      }

      .responsive-preview-trigger::after {
        top: 10px;
        transform: rotate(180deg);
      }
    }
  }
}
