.block-page-title-block {
  &:last-child {
    margin-bottom: 0;
  }
}

.page-title {
  font-size: 1.6em;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.05em;
  color: var(--colorGinTitle);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;

  @include mq($breakpointBig) {
    font-size: 2em;
  }
}

body:not(.gin--edit-form) {
  .page-title {
    @include mq($breakpointBig) {
      font-size: 2.125em;
    }
  }
}

.shortcut-action {
  align-self: center;
  margin-left: .5rem;
  border-radius: $borderDefault;

  @include mq($breakpointLarge) {
    margin-left: .5rem;
  }

  &__icon {
    position: relative;
    top: 3px;
    background: var(--colorGinIcons);
    mask-image: icon('shortcut');
    mask-size: 75% 75%;
    mask-position: center center;
    mask-repeat: no-repeat;

    @include mq($breakpointLarge) {
      top: 4px;
      mask-size: 85% 85%;
    }

    .gin--edit-form & {
      top: 3px;
    }
  }

  &:hover &__icon {
    opacity: 1;
    background: var(--colorGinPrimary);
  }

  &--remove {
    .shortcut-action__icon {
      background: var(--colorGinPrimary);

      .gin--high-contrast-mode & {
        mask-image: icon('shortcut-filled');
      }
    }

    &:hover .shortcut-action__icon {
      opacity: 1;
      background: var(--colorGinDisabled);
    }
  }

  &__message {
    position: absolute;
    pointer-events: none;
    padding: .5rem;
    color: var(--colorGinContextualText);
    background: var(--colorGinContextual);
    border-radius: $borderXSmall;
  }
}
