@include mq($breakpointMedium) {
  // Hide unused tabs
  .toolbar .toolbar-bar {
    background: transparent;

    .toolbar-tab {
      &, .toolbar-menu__logo {
        display: none;
      }

      &.toolbar-tab--toolbar-item-administration {
        display: block;
      }
    }
  }

  .toolbar-tab--toolbar-item-administration {
    > .toolbar-icon-menu {
      display: none;
    }
  }

  #toolbar-item-administration-tray {
    display: block;
    position: absolute;
    top: 0;
  }
}

.toolbar-meta {
  display: none;

  @include mq($breakpointMedium) {
    display: block;
    margin-top: -11px;

    .toolbar-bar {
      position: relative;
      height: $topBar;
      z-index: 102;

      .toolbar-tab {
        display: block;
        position: relative;

        &:hover, &:focus-within {
          border-radius: $borderSmall $borderSmall 0 0;

          .toolbar-tray {
            display: block;
          }
        }

        .toolbar-item {
          font-size: 0;
          color: var(--colorGinTextLight);
          width: 39px;
          height: 39px;
          margin: 0;
          border-radius: $borderSmall $borderSmall 0 0;

          &:before {
            top: 0;
            left: 10px;
          }

          &:focus {
            border-radius: $borderSmall;
          }

          &:focus ~ .toolbar-tray {
            display: block;
          }

          &:hover,
          &:focus {
            color: var(--colorGinTitle);
            background: none;

            &::before {
              background-color: var(--colorGinTitle);
            }
          }

          &:focus,
          &:hover:focus {
            box-shadow: 0 0 0 2px var(--colorGinLayerBackground),0 0 0 4px var(--colorGinFocus);
          }
        }

        &:hover,
        &:focus {
          .trigger {
            text-decoration: none;
            background: var(--colorGinLayer3Background);
          }
        }

        .toolbar-tray {
          position: absolute;
          left: 0;
          width: 170px;
          background-color: var(--colorGinLayer3Background);
          border-bottom: 0 none;
          border-radius: 0 $borderSmall $borderSmall $borderSmall;
          box-shadow: 0 1px 2px rgba(0, 0, 0, .08),
                     20px 20px 40px rgba(0, 0, 0, .12);

          a {
            color: var(--colorGinPrimary);
            padding: 12px 16px;
            border-radius: $borderSmall;

            &:hover, &:active {
              color: var(--colorGinButtonText);
              background-color: var(--colorGinPrimary);
            }

            // Has icon
            &.action-link {
              &::before {
                background-color: var(--colorGinPrimary);
              }

              &:hover::before {
                background-color: var(--colorGinButtonText);
              }
            }
          }

          .toolbar-lining:not(:empty) {
            padding: .5rem;
          }
        }

        &.hidden {
          display: none;
        }
      }

      .toolbar-id--toolbar-icon-user {
        &:hover {
          .icon-user {
            box-shadow: 0 0 0 2px var(--colorGinAppBackground),
                        0 0 0 5px var(--colorGinLayer3Background);
          }
        }

        .toolbar-tray {
          left: auto;
          right: 0;
          border-radius: $borderSmall 0 $borderSmall $borderSmall;
        }


        // If custom user image
        &:not(.has-user-icon) {
          margin-right: -1.333em;
        }

        .icon-user ~ .toolbar-tray {
          border-radius: $borderSmall;
        }

        .icon-user {
          border: 1px solid var(--colorGinBorder);
          border-radius: 50%;
          overflow: hidden;
          margin-left: 1rem;
          padding: 0;
          line-height: 0;

          &__image {
            width: 39px;
            height: 39px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

// Show expanded
.toolbar-meta {
  @include mq($breakpointWide) {
    .toolbar-bar {
      .toolbar-tab {
        margin-left: -.25em;

        .toolbar-item {
          font-size: inherit;
          width: auto;
          height: auto;
          padding-left: 3em;

          &:before {
            width: 20px;
            height: 20px;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
          }

          .icon-user {
            &__image {
              width: 34px;
              height: 34px;
            }
          }
        }
      }
    }
  }
}
