.gin-breadcrumb {
  color: var(--gin-color-text);
  padding: 0;

  &-wrapper {
    min-width: 1px; // Fixes ellipsis with flex overfloating issue.
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: var(--gin-spacing-xxs);
    margin-top: 0;
    margin-left: calc(var(--gin-spacing-xxs) * -1);
  }

  &__item,
  &__link,
  &__text {
    display: inline;
    font-weight: var(--gin-font-weight-normal);
    color: var(--gin-color-text-light);
    text-decoration: none;
    vertical-align: middle;
  }

  &__item {
    font-size: 0;
  }

  &__item + &__item::before {
    content: "/";
    opacity: .3;
    font-size: var(--gin-font-size-xs);
    vertical-align: middle;
    display: inline-block;
    padding: 0 .5em;
    background: none;

    @media (forced-colors: active) {
      opacity: 1;
    }
  }

  &__item:first-of-type &__link {
    position: relative;
    padding-left: 1.75em;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      width: var(--gin-icon-size-toolbar-secondary);
      height: var(--gin-icon-size-toolbar-secondary);
      transform: translateY(-50%);
      background-color: var(--gin-icon-color);
      mask-image: icon('backtosite');
      mask-size: 100% 100%;
      mask-position: center center;

      // forced color style for breadcrumbs
      @media (forced-colors: active) {
        background: linktext;
      }
    }

    &:hover::before {
      background-color: var(--gin-color-primary);

      @media (forced-colors: active) {
        background: linktext;
      }
    }
  }

  &__item:first-of-type + &__item::before {
    content: "";
    opacity: .3;
    border-right: 1px solid var(--gin-color-text);
    width: 1px;
    height: 20px;
    padding-left: .75em;
    padding-right: 0;
    margin-right: .75em;

    @media (forced-colors: active) {
      opacity: 1;
    }
  }

  &__link,
  &__text {
    font-size: var(--gin-font-size-xs);
    line-height: 2; // make sure we have enough room for focus ring
    border-radius: var(--gin-border-xxs);

    &, em {
      &, &:link, &:visited {
        font-weight: var(--gin-font-weight-normal);
        color: var(--gin-color-text-light);
      }
    }

    em {
      font-style: italic;
    }
  }

  &__link {
    &:hover {
      &, em {
        color: var(--gin-color-primary-hover);
      }
    }
  }
}
