.gin-breadcrumb {
  font-size: var(--ginFontSizeSmall);
  color: var(--colorGinText);
  padding: 0;

  &-wrapper {
    min-inline-size: 1px; // Fixes ellipsis with flex overfloating issue.
  }

  &__item,
  &__link {
    display: inline;
    font-weight: normal;
    color: var(--colorGinTextLight);
    text-decoration: none;
  }

  &__item + &__item::before {
    content: "/";
    opacity: .3;
    display: inline-block;
    padding: 0 4px;
    background: none;
  }

  &__item:first-of-type &__link {
    position: relative;
    padding-inline-start: 2em;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 0;
      inline-size: var(--iconGinSecondaryToolbar);
      block-size: var(--iconGinSecondaryToolbar);
      transform: translateY(-50%);
      background-color: var(--colorGinIcons);
      mask-image: icon('backtosite');
      mask-size: 100% 100%;
      mask-position: center center;
    }

    &:hover::before {
      background-color: var(--colorGinPrimary);
    }
  }

  &__link {
    line-height: 2; // make sure we have enough room for focus ring
    border-radius: var(--ginBorderTiny);
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    inline-size: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-inline-start: .25rem;
    margin-block-start: 0;
    margin-inline-start: -.25rem;
  }
}
