// Base wrapper
.help-icon {
  display: flex;
}

// Size of svg + border added by claro
.help-icon__description-toggle {
  all: unset;
  flex-shrink: 0;
  margin: .1rem var(--gin-spacing-m) 0 .3rem;
  height: 16px;
  width: 16px;
  border-radius: 50%;

  &:before {
    background-color: var(--gin-icon-color);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    mask-image: icon('help');
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 100% 100%;
  }

  &:hover:before {
    background-color: var(--gin-color-primary);
  }
}

.form-type--checkbox,
.form-type--radio {
  > .help-icon__element-has-description {
    display: flex;
    align-items: normal;

    > label {
      margin-left: 6px;
    }
  }

  .checkbox-toggle + .help-icon {
    padding-left: var(--gin-spacing-xxs);
  }
}

.form-type-checkbox {
  .help-icon__element-has-description {
    .checkbox-toggle {
      width: 50px !important;
    }
  }
}

// Detail summary
.field-group-details.help-icon__description-container .help-icon__description-toggle {
  margin-top: 0;
}

// Fieldgroup adjustments
fieldset:not(.fieldgroup) {
  .help-icon {
    > .fieldset__legend .fieldset__label {
      padding-right: 0;
    }
  }
}

.field-group-fieldset >,
fieldset.media-library-widget,
.field--type-datetime fieldset {
  .help-icon {
    > .help-icon__description-toggle {
      margin-top: 1rem;
    }
  }

  .fieldset__description {
    padding-left: var(--gin-spacing-m);

    @include mq(small) {
      padding-left: var(--gin-spacing-l);
    }
  }
}

// System Modules Search fields
.system-modules .table-filter .form-type--search,
.system-modules-uninstall .table-filter .form-type--search {
  position: relative;

  .help-icon__description-toggle {
    position: absolute;
    right: calc(var(--gin-spacing-xs) * -1);
    top: var(--gin-spacing-m);
  }
}
