// Node layout
.gin--edit-form {
  // Has sidebar, save the space
  @include mq($breakpointLarge) {
    padding-inline-end: var(--ginSidebarWidth);

    .dialog-off-canvas-main-canvas {
      transition: padding-left var(--ginTransition);
    }

    // If off-canvas dialog is shown
    &.js-off-canvas-dialog-open {
      padding-inline-end: 0;

      // Hide sidebar when off-canvas is shown
      .layout-region.layout-region-node-secondary {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  // Hide delete Tab
  [data-drupal-link-system-path*="/delete"] {
    display: none;
  }

  .layout-node-form {
    overflow: inherit;
  }

  .layout-region-node-main,
  .layout-region-node-secondary
  .layout-region-node-footer {
    float: none;
  }

  .layout-region-node-main,
  .layout-region-node-footer {
    inline-size: 100%;
    padding-inline-end: 0;

    @include mq($breakpointLarge) {
      flex-basis: 40%;
      flex-shrink: 1;
      flex-grow: 1;
      min-inline-size: 0;
    }
  }

  .page-wrapper__node-edit-form {
    .block-page-title-block {
      @include mq(1730px) {
        inline-size: 100%;
        // max-inline-size: $breakpointWide;
        // margin: 0 auto;
      }

      .page-title {
        @include mq($breakpointLarge) {
          inline-size: auto;
          max-inline-size: 800px;
          margin: 0;
          overflow: hidden;
        }
      }
    }

    // More room for content to breathe
    .node-form {
      @include mq($breakpointBig) {
        padding-inline-start: 2.5rem;
        padding-inline-end: 2.5rem;
      }
    }

    .block-local-tasks-block,
    .block-system-main-block,
    .messages-list,
    .node-form,
    .node-confirm-form,
    .admin-list,
    .help {
      inline-size: 100%;
      max-inline-size: $breakpointWide;
      margin-inline-start: auto;
      margin-inline-end: auto;
      box-sizing: border-box;
    }

    .layout-region-node-secondary {
      inline-size: 100%;

      @include mq($breakpointLarge) {
        z-index: 101;
        flex-basis: var(--ginSidebarWidth);
        inline-size: var(--ginSidebarWidth) !important;
        position: fixed;
        inset-block-start: 0;
        inset-inline-end: 0;
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        block-size: 100%;
        background:var(--colorGinLayerBackground);
        border-inline-start: 1px solid var(--colorGinLayerBorder);

        .gin--dark-mode & {
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        }
      }

      .gin-sidebar {
        .form-actions {
          margin: 0;

          .action-link {
            margin-block-start: .5rem;
            margin-block-end: 0;
          }
        }
      }

      .field--name-revision-log {
        margin-block-start: 1.5rem;
      }

      .accordion {
        background: none;
        border: 0 none;
        box-shadow: none;
      }

      .entity-meta {
        $sidebarSpacer: 1.5rem;

        &__header {
          color: var(--colorGinText);
          padding-inline-start: 0;
          padding-inline-end: 0;
          background: none;
          border: 0 none;

          @include mq($breakpointLarge) {
            padding-inline-start: $sidebarSpacer;
            padding-inline-end: $sidebarSpacer;
          }
        }

        &__title {
          color: var(--colorGinTitle);
          font-weight: 500;
          margin-block-start: .25rem;
          margin-block-end: 1rem;
          text-shadow: none;
        }

        > .accordion__item {
          margin: 0;
          border: 0 none;
          border-block-end: 1px solid var(--colorGinLayerBorder);
          border-radius: 0;

          .gin--dark-mode & {
            border-color: var(--colorGinBorder);
          }

          > .claro-details__summary {
            display: block;
            padding-inline-start: #{$sidebarSpacer + 1.5rem};

            .details-title {
              position: static;
              padding-inline-start: 0;
            }

            &::before {
              inset-block-start: 2rem;
              inset-inline-start: $sidebarSpacer;
            }

            &:focus::after {
              border-radius: 6px;
            }
          }

          .claro-details__content {
            margin-inline-start: $sidebarSpacer;
            margin-inline-end: $sidebarSpacer;

            .claro-details__wrapper {
              margin: 1.5rem;
            }
          }

          .redirect-table__path {
            inline-size: 47%;
          }

          .form-type--entity-autocomplete .claro-autocomplete {
            inline-size: 100%;
          }

          .form-datetime-wrapper {
            .form-date {
              max-inline-size: 170px;
            }

            .form-time {
              max-inline-size: 134px;
            }
          }
        }
      }
    }
  }

  .revision-current {
    background-color: var(--colorGinPrimaryLightActive);
  }

  .field--name-title .form-element {
    font-size: 1.6em;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.025em;
    inline-size: 100%;
  }
}
