.modules-tabs {
  background: transparent;
  border: 0 none;

  &__pane,
  &__menu,
  &__menu-item {
    background: var(--colorGinLayerBackground);
  }

  &__pane {
    padding-block: 1.5rem 0;
    padding-inline: 1.5rem;
    border-inline-start: 1px solid var(--colorGinBorder);

    table {
      tr.enabling {
        background: var(--colorGinGreenLightBackground);
      }
    }
  }

  &__menu-item {
    border-block-start: 1px solid var(--colorGinBorder);

    &.tab__new {
      border-block-end: 1px solid var(--colorGinBorder);
    }

    &.disabled {
      background-color: transparent;
      border-block-start-color: var(--colorGinBorder);
      border-block-end-color: transparent;
    }

    &.suggest,
    a:hover,
    a:focus,
    a:active {
      background: var(--colorGinItemHover);
    }

    &.is-selected {
      a,
      a:hover,
      a:focus,
      a:active {
        background: var(--colorGinLayerBackground);
      }
    }

    ul.enabling {
      color: var(--colorGinGreen);
    }
  }
}

#module-filter-update-status-form .table-filter {
  float: none;
  text-align: start;

  .winnow-input {
    inline-size: 100%;
  }

  .winnow-clear {
    inline-size: 44px;

    &:after {
      inset-block-start: 10px;
      inset-inline-end: 8px;
    }
  }

  input.form-search {
    inline-size: 100%;
    padding: 1rem;
  }

  .form-type--search {
    margin-block-end: .5rem;
  }
}

.system-modules-uninstall {
  .winnow-input {
    inline-size: 100%;
  }
}

.module-filter-status {
  margin-inline-start: -1em;
}

.modules-tabs .module-filter-status {
  margin-inline-start: 0;
}

.system-modules td details a {
  color: var(--colorGinPrimary);
}
