$toggleSize: 32px;
$closeSize: 32px;

body[data-meta-sidebar=closed] {
  --ginSidebarOffset: 0px;

  .layout-region-node-secondary {
    transform: translateX(var(--ginSidebarWidth));
  }
}

.layout-region-node-secondary {
  transition: transform var(--ginTransitionFast);
}

.meta-sidebar {
  &__trigger,
  &__close {
    cursor: pointer;
    background: transparent;
    height: $toggleSize;
    width: $toggleSize;
    border-radius: var(--ginBorderDefault);
    transition: background var(--ginTransitionFast);

    &::before {
      display: inline-block;
      width: 100%;
      height: 100%;
      content: "";
      mask-repeat: no-repeat;
      mask-position: center center;
      background-color: var(--colorGinIcons);
    }

    &:hover, &:focus {
      background-color: var(--colorGinPrimaryLight);

      &::before {
        background-color: var(--colorGinPrimary);
      }
    }

    &.is-active {
      background-color: var(--colorGinPrimaryLightHover);

      &::before {
        background-color: var(--colorGinPrimaryActive);
      }
    }
  }

  &__trigger {
    &::before {
      mask-image: icon('sidebar');
      mask-size: 20px 20px;
      border-radius: 50%;
    }
  }

  &__close {
    z-index: 104;
    position: absolute;
    top: 18px;
    right: 16px;
    width: $closeSize;
    height: $closeSize;

    @include mq($breakpointLarge) {
      display: none;
    }

    &::before {
      mask-image: icon('close');
      mask-size: 16px 16px;
    }
  }

  &__overlay {
    z-index: 102;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: var(--colorGinLayer2Background);
    transition: opacity var(--ginTransitionFast);

    body[data-meta-sidebar=open] & {
      opacity: .9;
      visibility: visible;
    }

    @include mq($breakpointLarge) {
      display: none;
    }
  }
}
