.gin-layout-container *:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--colorGinFocusBorder), 0 0 0 4px var(--colorGinFocus);
}

.region-meta {
  z-index: 102;
  position: relative;
  display: flex;
  padding-block-start: .5rem;
  padding-block-end: .5rem;
  border-block-end: 1px solid var(--colorGinMetaBorder);

  @include mq($breakpointMedium) {
    padding: 1.25rem 0 1.125rem;
  }

  &--frontend {
    z-index: 501; /* on top of the Drupal world */
    position: sticky;
    inset-block-start: 0;
    background: rgba(#fff, .98);
    border-block-end: 1px solid var(--colorGinLayerBorder);
    box-sizing: border-box;

    @include mq($breakpointLarge) {
      block-size: 60px;
    }

    @supports (backdrop-filter: blur()) {
      opacity: .999; /* Fix Chrome issue with mask */
      background: rgba(#fff, .8);
      backdrop-filter: blur(12px);
    }

    .gin--dark-mode & {
      background: rgba($colorDarkAppBackground, .98);

      @supports (backdrop-filter: blur()) {
        background: #{rgba(mix(black, $colorDarkAppBackground, 15%), .9)};
      }
    }

    .gin--high-contrast-mode & {
      background: var(--colorGinAppBackground);
      backdrop-filter: none;
    }
  }

  .gin--edit-form & {
    @include mq($breakpointBig) {
      position: relative;
      inset-inline-start: calc(50% - 3rem);
      transform: translateX(-50%);
      // max-inline-size: $breakpointWide;
    }
  }

  .breadcrumb-wrapper {
    flex-grow: 1;
    white-space: nowrap;
    margin-inline-end: 2rem;
  }

  .region-breadcrumb {
    padding: 0;
    margin: 0;
    min-block-size: 1.25rem;
  }

  .breadcrumb {
    &__list {
      text-overflow: ellipsis;
      inline-size: auto;
      overflow: hidden;
      padding-inline-start: 0.25rem;
      margin-inline-start: -0.25rem;
      margin-block-start: -0.25rem;
    }
  }
}

.gin-layout-container {
  display: flex;
  inline-size: 100%;
  padding-block-start: 2px;
  margin: 0 1rem;

  @include mq($breakpointSmall) {
    margin: 0 2rem;
  }

  @include mq($breakpointMedium) {
    margin: 0 m#{i}n(5vw, 48px);
  }
}

.gin-back-to-admin {
  font-family: var(--ginFont);
  font-size: 0.79rem;
  font-weight: normal;
  line-height: 2;
  color: var(--colorGinTextLight);
  text-decoration: none;
  position: relative;
  padding-inline-start: 2em;
  border-block-end: 0 none;
  border-radius: var(--ginBorderTiny);

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 0;
    inline-size: var(--iconGinMeta);
    block-size: var(--iconGinMeta);
    transform: translateY(-50%);
    background-color: var(--colorGinIcons);
    mask-image: icon('backtosite');
    mask-size: 100% 100%;
    mask-position: center center;
  }

  &:hover {
    color: var(--colorGinPrimaryHover);

    &::before {
      background-color: var(--colorGinPrimaryHover);
    }
  }
}

@include mq($breakpointMedium) {
  // Hide unused tabs
  .toolbar .toolbar-bar {
    background: transparent;

    .toolbar-tab {
      &, .toolbar-menu__logo {
        display: none;
      }

      &.toolbar-tab--toolbar-item-administration {
        display: block;
      }
    }
  }

  .toolbar-tab--toolbar-item-administration {
    > .toolbar-icon-menu {
      display: none;
    }
  }

  #toolbar-item-administration-tray {
    display: block;
    position: absolute;
    inset-block-start: 0;
  }
}

#toolbar-administration-secondary {
  @include mq($breakpointMedium) {
    .toolbar-bar {
      position: relative;
    }
  }
}

.toolbar-meta {
  display: none;

  @include mq($breakpointMedium) {
    display: block;
    margin-block-start: -11px;

    .toolbar-bar {
      block-size: var(--ginToolbarHeight);
      z-index: 102;

      .toolbar-tab {
        display: block;
        position: relative;

        &:hover, &:focus-within {
          border-radius: var(--ginBorderSmall) var(--ginBorderSmall) 0 0;

          > .toolbar-item {
            color: var(--colorGinTitle);

            &:before {
              background: var(--colorGinTitle);
            }
          }

          .toolbar-tray {
            display: block;
          }
        }

        .toolbar-item {
          font-size: 0;
          color: var(--colorGinTextLight);
          inline-size: 39px;
          block-size: 39px;
          margin: 0;
          border-radius: var(--ginBorderSmall) var(--ginBorderSmall) 0 0;

          &:before {
            inset-block-start: 0;
            inset-inline-start: 10px;
          }

          &:focus {
            border-radius: var(--ginBorderSmall);
          }

          &:focus ~ .toolbar-tray {
            display: block;
          }

          &:hover,
          &:focus {
            color: var(--colorGinTitle);
            background: none;

            &::before {
              background-color: var(--colorGinTitle);
            }
          }

          &:focus,
          &:hover:focus {
            box-shadow: 0 0 0 1px var(--colorGinFocusBorder), 0 0 0 4px var(--colorGinFocus);
          }
        }

        &:hover,
        &:focus {
          .trigger {
            text-decoration: none;
            background: var(--colorGinLayer3Background);
          }
        }

        .toolbar-tray {
          position: absolute;
          inset-inline-start: 0;
          inline-size: 170px;
          background-color: var(--colorGinLayer3Background);
          border-block-end: 0 none;
          border-radius: 0 var(--ginBorderMedium) var(--ginBorderMedium) var(--ginBorderMedium);
          box-shadow: var(--ginShadowLevel2);

          a {
            color: var(--colorGinPrimary);
            padding: .75rem 1rem;
            border-radius: var(--ginBorderSmall);

            &:hover, &:active {
              color: var(--colorGinButtonText);
              background-color: var(--colorGinPrimary);
            }

            // Has icon
            &.action-link {
              &::before {
                background-color: var(--colorGinPrimary);
              }

              &:hover::before {
                background-color: var(--colorGinButtonText);
              }
            }
          }

          .toolbar-lining:not(:empty) {
            padding: .5rem;
          }
        }

        &.hidden {
          display: none;
        }
      }

      div:nth-last-child(2),
      div:last-child {
        .toolbar-tray {
          inset-inline-start: auto;
          inset-inline-end: 0;
          border-radius: var(--ginBorderMedium) 0 var(--ginBorderMedium) var(--ginBorderMedium);
        }
      }

      .toolbar-id--toolbar-icon-user {
        margin-right: -1.333em;

        &:hover {
          .icon-user {
            box-shadow: 0 0 0 2px var(--colorGinAppBackground),
                        0 0 0 5px var(--colorGinLayer3Background);
          }
        }

        .icon-user {
          border: 1px solid var(--colorGinBorder);
          border-radius: 50%;
          overflow: hidden;
          margin-inline-start: 1rem;
          padding: 0;
          line-height: 0;

          &__image {
            inline-size: 39px;
            block-size: 39px;
            object-fit: cover;
          }

          &,
          ~ .toolbar-tray {
            margin-right: 1.333em;
          }
        }
      }

      .toolbar-menu {
        background-color: transparent;
      }
    }
  }
}

// Show expanded
.toolbar-meta {
  @include mq($breakpointWide) {
    .toolbar-bar {
      .toolbar-tab {
        margin-inline-start: -.25em;

        .toolbar-item {
          font-size: inherit;
          inline-size: auto;
          block-size: auto;
          padding-inline-start: 2.875em;

          &::before {
            inline-size: var(--iconGinMeta);
            block-size: var(--iconGinMeta);
            inset-block-start: 50%;
            inset-inline-start: 12px;
            transform: translateY(-50%);
          }

          .icon-user {
            &__image {
              inline-size: 34px;
              block-size: 34px;
            }
          }
        }
      }
    }
  }
}

#admin-toolbar-search-input {
  line-height: 1; // FF fix
  padding-block-start: 0.625rem;
  padding-block-end: 0.625rem;
  margin-block-start: -0.25rem;
  margin-inline-end: .75rem;

  &::placeholder {
    color: var(--colorGinDisabled);
    opacity: 1;

    .gin--dark-mode & {
      color: var(--colorGinTextLight);
      opacity: .75;
    }
  }
}

.ui-autocomplete.admin-toolbar-search-autocomplete-list {
  max-inline-size: 320px;
  border-radius: var(--ginBorderDefault);
}
