.gin--navigation-top-bar {
  padding-block: var(--gin-spacing-xxs);
  border-block-end: 1px solid var(--admin-toolbar-color-gray-100);
  box-shadow: none;

  .top-bar__burger {
    align-self: center;
  }

  .form-actions {
    margin-top: 0;
  }
}

.gin--navigation-top-bar:not(:has(.top-bar__burger:only-child)) ~ .dialog-off-canvas-main-canvas {
  margin-block-start: 0;
}

body:has(.gin--navigation-top-bar .gin-sticky-form-actions) :where(#gin_sidebar) {
  top: 54px !important;
  height: calc(100% - 54px) !important;
}
