$topbar: 54px;

.gin--navigation-top-bar {
  padding-block: var(--gin-spacing-xxxs);
  border-block-end: 1px solid var(--admin-toolbar-color-gray-100);
  box-shadow: none;
  height: $topbar;

  .top-bar__burger {
    align-self: center;
  }

  .form-actions {
    margin-block-start: 0;
  }

  button,
  input[type="submit"] {
    padding: var(--gin-spacing-xs) var(--gin-spacing-s);
    margin-block: 0;
    box-shadow: none;
  }
}

.gin--navigation-top-bar:not(:has(.top-bar__burger:only-child)) ~ .dialog-off-canvas-main-canvas {
  margin-block-start: 0;
}

body:has(.gin--navigation-top-bar .gin-sticky-form-actions) :where(#gin_sidebar) {
  inset-block-start: $topbar !important;
  height: calc(100% - #{$topbar}) !important;
}
