/**
 * General styling for the HTML demonstration
 */

 html {
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
 }

 .visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  /* Sidebar width is attached to the <body> element because it's used as a
  fallback value to the margin-inline-start property of the layout container. */
  --sidebar-width: 64px;

  .navigation-active & {
    --sidebar-width: 264px;
  }

  background-color: #F5F8FF;
}

*:focus {
  outline: 4px solid var(--color-focus);
}

.navigation__sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-inline-end: 1px solid #aaa;
  background-color: white;
  border-inline-end: 1px solid var(--color-gray-100);
  font-size: var(--font-size-base);
  inline-size: var(--sidebar-width);
  position: fixed;
  height: 100vh;
  z-index: 501;
  padding-inline: var(--space-xs);
  padding-block-start: var(--space-xs);
  transition: width 0.2s linear;

  @media only screen and (max-height: 300px)  {
    min-height: 20rem;
  }

  & ~ .dialog-off-canvas-main-canvas {
    margin-inline-start: var(--drupal-displace-offset-left, var(--sidebar-width));
    transition: margin-inline-start 0.2s linear;
  }

  .navigation-active & {
    overflow-y: auto;
  }
}

.navigation__content--inner {
  margin-inline-end: 20px;
}

.menu-title,
.level-1 .navigation-link,
.dashboard-link .navigation-link {
   padding-inline: 5px 10px;
}
/* This zero height div has the [data-offset-left] attribute for
Drupal.displace() to measure. It purposefully does not have any transitions
because we want Drupal.displace() to measure the width immediately */
.navigation__displace-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
}
