.navigation-link--has-icon {
  & span {
    opacity: 1;
    transition: opacity .4s ease;
  }

  &:hover::before,
  &:focus::before {
    background-color: var(--color-blue-700);
  }

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background-color: var(--color-gray-800);
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 100% auto;
    mask-image: var(--icon);
  }
}

.navigation-active .navigation-link--has-icon::before {
  margin-inline-end: 10px;
}

.current > .navigation-link--has-icon::before {
  background-color: var(--color-blue-600);
}

.menu-item--has-dropdown > button {
  border: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  text-align: left;

  &::after {
    display: block;
    block-size: var(--space-s);
    inline-size: var(--space-s);
    mask-size: var(--space-s);
    mask-repeat: no-repeat;
    mask-position: center center;
    background-color: var(--color-gray-500);
    mask-image: icon('chevron-down');
    content: "";
    margin-inline-start: auto;
  }

  &:hover::after,
  &:focus::after {
    background-color: var(--color-blue-700);
  }

  & + a {
    margin-inline-end: var(--space-xl);
  }
}

.level-2 .menu-item--has-dropdown > button::after {
  mask-size: var(--space-xs);
}

.menu-item--expanded.menu-item--has-dropdown > button::after {
  transform: rotate(180deg);
}

.sidebar-toggle[aria-expanded=true] .sidebar-toggle__icon--expand {
  display: none;
}

.sidebar-toggle[aria-expanded=false] .sidebar-toggle__icon--collapse {
  display: none;
}

.navigation__logo {
  display: inline-block;
  margin-block-start: var(--space-xs);
  margin-inline-start: var(--space-xs);
  border-radius: var(--space-xs);
  overflow: hidden;

  &:hover {
    background-color: transparent;
  }

  & img {
    display: block;
  }
}
