.draggable.field-plugin-settings-editing, .draggable.drag-previous.field-plugin-settings-editing {
  background: var(--gin-bg-app);
}

.field-plugin-summary {
  font-size: var(--gin-font-size-xs);
  color: var(--gin-color-text-light);
}
