/**
 * Action link layout styles.
 */
.local-actions {
  font-size: 0; // Chrome fix.
  margin: .75rem -0.25rem .25rem;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;
    margin: 0 .25rem .5rem;
  }
}
