/**
 * Action link layout styles.
 */
.local-actions {
  font-size: 0; // Chrome fix.
  margin: var(--ginSpacingSmall) calc(var(--ginSpacingTiny) * -1) var(--ginSpacingTiny);
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;
    margin: 0 var(--ginSpacingTiny) var(--ginSpacingXsmall);
  }
}
