.block-system > .node-confirm-form,
.block-system > .confirmation {
  padding-top: var(--ginSpacingMedium);
}

.panel__title,
.system-status-general-info__header,
.system-status-report__requirements-group > h3,
.system-themes-list__header {
  font-size: var(--ginFontSizeLarge);
  font-weight: var(--ginFontWeightBold);
  color: var(--colorGinPrimaryActive);
  padding: var(--ginSpacingDefault) var(--ginSpacingMedium);
  margin-top: 0;
  background: var(--colorGinTableHeader);
  border: 0 none;
  border-radius: var(--ginBorderDefault);
}

.panel {
  padding: 0;

  &__title {
    margin: var(--ginSpacingSmall);
  }

  &__content {
    padding: 0;
  }

  .admin-list {
    margin: var(--ginSpacingSmall) 0;
  }
}
