blockquote {
  font-size: var(--ginFontSizeQuote);
  position: relative;
  padding-left: var(--ginSpacingMedium);
  margin: var(--ginSpacingDefault);

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: var(--colorGinPrimary);
    border-radius: 2px;
  }
}
