.gin-table-scroll-wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 240px;
  margin-top: calc(var(--ginSpacingXsmall) * -1);
  margin-bottom: -240px;
}

table.sticky-header {
  visibility: hidden;
  z-index: 98;
  position: fixed;
  left: auto !important;
  top: calc(var(--ginHorizontalToolbarOffset) + var(--ginStickyOffset)) !important;
  background: transparent;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 1.5rem;
    height: 100%;
  }

  &::before {
    left: calc(var(--ginSpacingMedium) * -1);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--colorGinLayerBackground));
  }

  &::after {
    right: calc(var(--ginSpacingMedium) * -1);
    background: linear-gradient(90deg, var(--colorGinLayerBackground), rgba(255, 255, 255, 0));
  }

  .--is-sticky & {
    box-shadow: 0 10px 20px -16px rgba(0, 0, 0, .4);

    @include mq(medium) {
      visibility: visible !important;
    }

    thead tr {
      border-bottom: none;
    }

    th {
      background: var(--colorGinLayerBackground);
    }
  }

  @include mq(medium) {
    .gin--vertical-toolbar & {
      width: calc(100% - min(10vw, 96px) - var(--ginSpacingXlarge) - 2px - var(--ginToolbarWidthCollapsed)) !important;
    }

    .gin--vertical-toolbar[data-toolbar-menu='open'] & {
      width: calc(100% - min(10vw, 96px) - var(--ginSpacingXlarge) - 2px - var(--ginToolbarWidth)) !important;
    }
  }
}

table {
  thead {
    background: transparent;
    border-radius: var(--ginBorderDefault);

    tr {
      border-bottom: 1px solid var(--colorGinTableHeaderBorder);

      &:hover {
        background: transparent;
      }
    }
  }

  th {
    font-size: var(--ginFontSizeSmall);
    font-weight: var(--ginFontWeightBold);
    background: var(--colorGinLayerBackground);

    &, .form-item__label {
      color: var(--colorGinTitle);
    }

    @include mq(medium) {
      height: auto;
      padding: var(--ginSpacingDefault);
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--colorGinTableBorder);
    }

    td {
      height: auto;
      padding: var(--ginSpacingDensityDefault) var(--ginSpacingDefault);
    }
  }

  tr,
  .draggable-table.tabledrag-disabled tr {
    color: var(--colorGinText);
    background-color: transparent;

    &:hover {
      color: var(--colorGinText);
      background: var(--colorGinItemHover);
    }

    &.selected:hover {
      background: transparent;
    }
  }

  tr.selected {
    .gin--dark-mode & {
      border-color: rgba(white, .2);
    }

    td {
      background-color: var(--colorGinPrimaryLight);
    }
  }

  td {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .group-label {
      color: var(--colorGinTitle);
    }
  }
}

.sortable-heading {
  padding: var(--ginSpacingXsmall) var(--ginSpacingDefault);

  > a::before {
    bottom: -1px;
  }

  > a::after {
    background: var(--colorGinTextLight);
    mask-image: icon('sort');
    mask-repeat: no-repeat;
    mask-position: center center;
  }

  &.is-active > a {
    &, &:hover, &:active {
      color: var(--colorGinPrimaryActive);
    }

    &::before {
      border-bottom: .1875rem solid var(--colorGinPrimaryActive);
    }
  }
}

.tablesort {
  background-color: var(--colorGinPrimaryActive);
  background-image: none;
  mask-image: icon('sort');
  mask-repeat: no-repeat;
  mask-position: 0 50%;
}

.tablesort--asc,
[dir="rtl"] .tablesort--asc {
  mask-image: icon('sort-asc');
}

.tablesort--desc,
[dir="rtl"] .tablesort--desc {
  mask-image: icon('sort-desc');
}

.field-plugin-settings-edit-wrapper {
  float: right;

  + a {
    float: left;
  }
}

.region-title {
  border-bottom: 2px solid var(--colorGinText);
}

td.webform-has-field-suffix > .form-item > .form-element {
  max-width: 100%;
  width: auto;
}
