:root {
  // Accent color: use Claro defaults for Gin
  --colorPrimary: #003cc5;
  --colorPrimaryHover: #0036b1;
  --colorPrimaryActive: #00339a;
  --colorPrimary20: #f3f4f9;
  --colorDisabled: #bbb;
}
