:root {
  // Accent color: use Claro defaults for Gin
  --colorGinPrimary: #003cc5;
  --colorGinPrimaryHover: #0036b1;
  --colorGinPrimaryActive: #00339a;
  --colorGinPrimary20: #f3f4f9;
  --colorGinPrimary10: #fafbfd;
  --colorGinDisabled: #bbb;
}

$topBar: 39px;
$contentHeaderSpacer: 88px;
$toolbarWidth: 96px;
$toolbarOpenWidth: 240px;
$subToolbarWidth: 260px;
$sidebarWidth: 360px;

$iconFill: '787878';
$iconActiveFill: '003cc5';
