:root {
  // Accent color: use Claro defaults for Gin
  --colorGinPrimary: #003cc5;
  --colorGinPrimaryHover: #0036b1;
  --colorGinPrimaryActive: #00339a;
  --colorGinPrimary20: #f3f4f9;
  --colorGinPrimary10: #fafbfd;
  --colorGinDisabled: #bbb;
}

$sidebarWidth: 320px;
