body {
  color: var(--colorGinText);
  background: var(--colorGinAppBackground);
}

h1, h2, h3 {
  letter-spacing: -.025em;
  font-weight: normal;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}
