#coffee-form {
  padding: 4px;
  background: #000;
  border-radius: 8px;

  #coffee-q {
    background: #fff;
  }

  .ui-autocomplete .ui-menu-item-wrapper {
    padding: 16px;

    &.ui-state-active {
      color: #fff;
      background: var(--colorGinPrimary);
    }
  }
}
