@import "_vars";

// Background
.form-boolean--type-checkbox:checked,
.button--primary
{
  background-color: var(--colorGinPrimary);

  &:hover {
    background-color: var(--colorGinPrimaryHover);
  }

  &:active {
    background-color: var(--colorGinPrimaryActive);
  }
}

// Color
a,
.link,
button.link,
.tabs__link.is-active,
.sortable-heading.is-active > a,
[open] .claro-details__summary--accordion,
[open] .claro-details__summary--accordion-item,
[open] .claro-details__summary--vertical-tabs-item,
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link
{
  color: var(--colorGinPrimary);

  &:hover {
    color: var(--colorGinPrimaryHover);
  }

  &:active {
    color: var(--colorGinPrimaryActive);
  }
}

// Only hover
.is-horizontal .tabs__link,
.claro-details__summary,
.action-link
{
  &:hover {
    color: var(--colorGinPrimaryHover);
  }
}

// Only focus
.claro-details[open] > .claro-details__summary
{
  &:focus {
    color: var(--colorGinPrimaryActive);
  }
}

// SVG
svg path {
  fill: var(--colorGinPrimary);

  &:hover {
    fill: var(--colorGinPrimaryHover);
  }

  &:active {
    fill: var(--colorGinPrimaryActive);
  }
}

// Border color
.form-boolean--type-checkbox:checked,
.form-boolean--type-radio:checked,
.is-horizontal .tabs__link.is-active::before,
.tabs__tab.is-active::before,
.sortable-heading.is-active > a::before,
[open] > .claro-details__summary--accordion:not(:focus):not(:active)::after,
[open] > .claro-details__summary--accordion-item:not(:focus):not(:active)::after,
.collapse-processed[open] > .claro-details__summary--accordion .details-title:not(:focus)::after,
.collapse-processed[open] > .claro-details__summary--accordion-item .details-title:not(:focus)::after,
[open] > .claro-details__summary--vertical-tabs-item:not(:focus):not(:active)::after,
.collapse-processed[open] > .claro-details__summary--vertical-tabs-item .details-title:not(:focus)::after,
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link::before,
.field--widget-entity-reference-layout-widget .erl-layout .erl-item:hover
{
  border-color: var(--colorGinPrimary);

  &:hover {
    border-color: var(--colorGinPrimaryHover);
  }

  &:active {
    border-color: var(--colorGinPrimaryActive);
  }
}

.form-boolean--type-radio:checked {
  box-shadow: inset 0 0 0 1px var(--colorGinPrimary);
}

.form-boolean--type-checkbox[disabled]:checked {
  border-color: var(--colorGinDisabled);
  background-color: var(--colorGinDisabled);
}

.progress__bar {
  border-color: var(--colorGinPrimary);
  background-color: var(--colorGinPrimary);
}

.pager__link.is-active, .pager__item--current {
  background-color: var(--colorGinPrimary);
}
