.ui-dialog {
  &:focus,
  &:focus:active,
  &:focus:hover {
    box-shadow: none;
  }

  .ui-dialog-titlebar {
    background: #1b1b1d;
  }

  .ui-widget-content.ui-dialog-buttonpane {
    background: var(--colorGinAppBackground);
  }

  .ui-dialog-titlebar-close {
    border: none;
  }

  .ui-widget-content.ui-dialog-content {
    background: var(--colorGinLayerBackground);
  }
}
