// Paragraphs in Layout Builder
.field--widget-entity-reference-layout-widget {
  fieldset.erl-field {
    position: relative;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    box-shadow: none;

    > legend {
      display: none;
    }

    .fieldset__wrapper {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .erl-layout {
    background: none;

    .layout {
      border-left: 1px dashed #ccc;
      border-bottom: 1px dashed #ccc;
      background: #fff;
    }

    .layout-controls,
    .erl-actions {
      background: var(--colorGinLayer2Background);
    }
  }

  .erl-add-content__group,
  .erl-add-content--group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    transform: translateX(-50%);
    max-height: 480px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    button {
      color: #000;
      text-align: center;
      flex-basis: 33.333%;
      margin-bottom: 16px;

      @media (min-width: 1024px) {
        flex-basis: 25%;
      }

      img {
        width: 24px;
        height: 24px;
        float: none;
        display: block;
        margin: 8px auto;

        @media (min-width: 1024px) {
          width: 30px;
          height: 40px;
        }
      }
    }
  }

  // Overlay
  .layout-radio-item.active {
    background: transparent;
  }

  .erl-layout-region,
  .erl-disabled-items {
    padding: 16px;
    background: #fff;
    box-shadow: none;

    &,
    &:hover {
      border: 0 none;
      border-top: 1px dashed #ccc;
      border-right: 1px dashed #ccc;
    }

    .layout-label {
      display: none;
    }

    .erl-item {
      &:hover,
      &:active,
      &:focus {
        outline: 1px solid var(--colorGinFocus);

        .layout-label {
          display: block;
          margin: 0;
        }
      }
    }
  }

  // Don't show contextual for pagragraphs
  .erl-item {
    .paragraph {
      .field {
        margin: .5em 0;
      }

      .field--name-field-title {
        font-weight: bold;
      }

      .field--type-image {
        max-height: 400px;
        overflow: hidden;
      }

      .field--name-field-paragraphs {
        display: flex;
        flex-wrap: wrap;

        .field__item {
          flex-basis: 100px;
          margin-right: .5rem;
        }
      }
    }

    // Drag & Drop
    &.gu-transit {
      background-color: var(--colorGinPrimaryLightActive);
    }
  }

  .erl-layout.erl-item {
    padding-top: 32px;
    border: 0 none;
    margin-bottom: 0;

    &:before {
      height: 2px;
      background-color: var(--colorGinLayer2Border);
    }
  }

  .erl-disabled-items {
    padding: 24px;
    background: #f6f6f6;

    &, &:hover, &:active {
      border: 1px dashed #ccc;
    }

    .fieldset__label {
      padding: 16px 0 24px;
    }

    &__description {
      font-size: 0.875rem;
      color: #999;
    }
  }

  .erl-add-content {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .erl-actions {
    .erl-edit,
    .erl-remove {
      &, &:hover, &:hover, &:focus {
        box-shadow: none !important;
        border-color: transparent !important;
      }
    }
  }

  .erl-add-content--single,
  .erl-item > .erl-add-content--single {
    position: static;
    width: 100%;
    left: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .erl-add-section {
    display: block;
    width: 100%;
    color: var(--colorGinPrimary);
    background: var(--colorGinItemHover);
    padding: 16px;
    border: 1px dashed var(--colorGinPrimary);

    &,
    &:hover,
    &:active {
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: var(--colorGinPrimaryHover);
      background: var(--colorGinPrimaryLight);
    }
  }

  .erl-item:last-of-type > .erl-add-content--single {
    opacity: 1;
  }

  .erl-add-content--single {
    button {
      .icon {
        margin-right: .5rem;
      }
    }
  }

  .layout-radio-item {
    > div {
      display: flex;
      align-items: center;
    }

    .form-item {
      margin-left: 8px;
    }

    &.active {
      outline: 2px solid var(--colorGinFocus);
    }
  }
}

// Modal
.ui-widget-content {
  &:focus {
    outline: none;
    box-shadow: none;
  }

  .erl-form-actions {
    margin-bottom: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
  }
}

// Add more item
.erl-add-more-menu__item {
  a {
    color: var(--colorGinPrimary);

    &:hover {
      background-color: var(--colorGinPrimaryLight);
    }
  }
}

// Add Toggle
.erl-add-content__toggle {
  bottom: 2px;
  background: var(--colorGinPrimary) url("data:image/svg+xml,%3Csvg fill='%23ffffff' width='100pt' height='100pt' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m91.125 53.008c-0.3125 0.96875-0.84766 1.8047-1.6094 2.5078-1.4141 1.4141-3.5234 2.2852-5.5273 2.2852h-0.11719c-0.89062 0.007813-1.7695 0-2.6562 0l-23.402 0.003907v26.18c0 2.1172-0.89062 3.9922-2.2969 5.5273-1.4141 1.5312-3.5078 2.1953-5.5273 2.2852-1.0742 0.039063-2.0781-0.1875-3.0078-0.67188-0.96875-0.3125-1.8047-0.84766-2.5078-1.6094-1.418-1.4219-2.2852-3.5312-2.2852-5.5312v-0.11719c-0.007812-0.89063 0-1.7695 0-2.6562v-23.406h-26.172c-2.1172 0-3.9922-0.87891-5.5273-2.2852-1.5352-1.418-2.1992-3.5078-2.2852-5.5273-0.039063-1.0742 0.1875-2.0781 0.67188-3.0078 0.3125-0.96875 0.84766-1.8047 1.6094-2.5078 1.4141-1.4141 3.5234-2.2852 5.5273-2.2852h0.11719c0.89062-0.007812 1.7695 0 2.6562 0l23.402-0.003906v-26.172c0-2.1172 0.89062-3.9922 2.2969-5.5273 1.4141-1.5352 3.5039-2.1992 5.5234-2.2852 1.0742-0.039063 2.0781 0.1875 3.0078 0.67188 0.96875 0.3125 1.8047 0.84766 2.5078 1.6094 1.4141 1.4141 2.2852 3.5234 2.2852 5.5273v0.11719c0.007812 0.89062 0 1.7695 0 2.6562l0.003906 23.402h26.172c2.1172 0 3.9922 0.89062 5.5273 2.2852 1.5312 1.4141 2.1953 3.5078 2.2852 5.5273 0.039063 1.0742-0.1875 2.0781-0.67188 3.0078z'/%3E%3C/svg%3E") no-repeat center center;
  background-size: 16px 16px;
  border-radius: 50%;
}

.erl-layout-region:hover button.erl-add-content__toggle {
  opacity: 1;
}

// Loader
.erl-loading div.spinner {
  width: 1.125rem;
  height: 1.125rem;
  animation: gin-throbber 0.75s linear infinite;
  border: 2px solid var(--colorGinPrimary);
  border-right: 2px dotted transparent;
  border-radius: 50%;
}
