// Paragraphs in Layout Builder
.field--widget-entity-reference-layout-widget {
  fieldset.erl-field {
    position: relative;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    box-shadow: none;

    > legend {
      display: none;
    }

    .fieldset__wrapper {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .erl-layout {
    background: none;

    .layout {
      border-left: 1px dashed #ccc;
      border-bottom: 1px dashed #ccc;
      background: #fff;
    }
  }

  .erl-add-content__group,
  .erl-add-content--group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    transform: translateX(-50%);
    max-height: 480px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    button {
      color: #000;
      text-align: center;
      flex-basis: 25%;
      margin-bottom: 16px;

      img {
        width: 24px;
        height: 24px;
        float: none;
        display: block;
        margin: 8px auto;

        @media (min-width: 1024px) {
          width: 48px;
          height: 48px;
        }
      }
    }
  }

  .erl-layout-region,
  .erl-disabled-items {
    padding: 16px;
    background: #fff;
    box-shadow: none;

    // @media (min-width: 1024px) {
    //   padding: 24px;
    // }

    &,
    &:hover {
      border: 0 none;
      border-top: 1px dashed #ccc;
      border-right: 1px dashed #ccc;
    }

    .layout-label {
      display: none;
    }

    .erl-item {
      &:hover,
      &:active,
      &:focus {
        outline: 1px solid var(--colorGinPrimary);

        .layout-label {
          display: block;
          margin: 0;
        }
      }
    }
  }

  // Don't show contextual for pagragraphs
  .erl-item {
    .paragraph {
      // .contextual {
      //   display: none;
      // }

      // .contextual-region {
      //   position: static;
      // }

      .field {
        margin: .5em 0;
      }

      .field--name-field-title {
        font-weight: bold;
      }

      .field--type-image {
        max-height: 400px;
        overflow: hidden;
      }

      .field--name-field-paragraphs {
        display: flex;
        flex-wrap: wrap;

        .field__item {
          flex-basis: 100px;
          margin-right: .5rem;
        }
      }
    }
  }

  .erl-layout.erl-item {
    padding-top: 32px;
    border: 0 none;
    margin-bottom: 0;

    &:before {
      height: 2px;
      background-color: #333;
    }
  }

  .erl-disabled-items {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f6f6f6;
  }

  .erl-add-content {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .erl-actions {
    input {
      box-shadow: none;
    }
  }

  .erl-item > .erl-add-content--single {
    opacity: 1;
    position: static;
    width: 100%;
    left: 0;
    margin: 0;
    box-sizing: border-box;

    button {
      display: block;
      width: 100%;
      background: #f6f9fa;
      padding: 16px;
      border: 1px dashed;
    }
  }

  .erl-item:last-of-type > .erl-add-content--single {
    opacity: 1;
  }

  .layout-radio-item {
    > div {
      display: flex;
      align-items: center;
    }

    .form-item {
      margin-left: 8px;
    }

    &.active {
      outline: 3px solid var(--colorGinPrimary);
    }
  }
}

// Modal
.ui-widget-content {
  &:focus {
    outline: none;
    box-shadow: none;
  }

  .erl-form-actions {
    margin-bottom: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
  }
}
