// Node layout
.path-node {
  $breakpoint: 1024px;

  .layout-node-form {
    overflow: inherit;

    @include breakpoint($breakpoint) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .layout-region-node-main,
  .layout-region-node-secondary
  .layout-region-node-footer {
    float: none;
  }

  .layout-region-node-main,
  .layout-region-node-footer {
    width: 100%;
    padding-right: 0;

    @include breakpoint($breakpoint) {
      flex-basis: 40%;
      flex-shrink: 1;
      flex-grow: 1;
    }
  }

  // Has sidebar, save the space
  .node-edit-form--has-sidebar {
    @include breakpoint($breakpoint) {
      padding-right: $sidebarWidth;
    }
  }

  .page-wrapper__node-edit-form {
    .block-page-title-block {
      @include breakpoint(1730px) {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
      }

      .page-title {
        @include breakpoint($breakpoint) {
          width: calc(100% - 400px);
        }
      }
    }

    .block-local-tasks-block,
    .messages-list,
    .node-form {
      width: 100%;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;

      .form-wrapper,
      .form-composite {
        label {
          color: var(--colorGinText);
          text-transform: capitalize;
          padding-bottom: 4px;
        }
      }
    }

    .layout-region-node-secondary {
      width: 100%;

      @include breakpoint($breakpoint) {
        z-index: 100;
        flex-basis: $sidebarWidth;
        width: $sidebarWidth !important;
        position: fixed;
        top: 0; //15px;
        right: 0;
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        height: 100%; //calc(100% - #{$topBar});
        background:var(--colorGinLayerBackground);
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
      }

      .accordion {
        background: none;
        border: 0 none;
        box-shadow: none;
      }

      .action-link--icon-trash {
        margin-bottom: 0;
      }

      .entity-meta {
        $sidebarSpacer: 2rem;

        &__header {
          color: var(--colorGinText);
          padding-left: $sidebarSpacer;
          padding-right: $sidebarSpacer;
          background: none;
        }

        &__title {
          color: var(--colorGinTitle);
          font-weight: 600;
          margin-bottom: 2rem;
          margin-top: 1rem;
          text-shadow: none;
        }

        > .accordion__item {
          margin: -1px 0 0 0;
          border-left: 0 none;
          border-right: 0 none;

          > .claro-details__summary {
            padding-left: #{$sidebarSpacer + 1.5rem};

            &:before {
              left: $sidebarSpacer;
            }
          }

          .claro-details__content {
            margin-left: $sidebarSpacer;
            margin-right: $sidebarSpacer;

            .claro-details__wrapper {
              margin: 1.5rem;
            }
          }
        }
      }
    }
  }
}
