// Node layout
.path-node {
  $breakpoint: 1024px;

  .layout-node-form {
    overflow: inherit;

    @include breakpoint($breakpoint) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .layout-region-node-main,
  .layout-region-node-secondary
  .layout-region-node-footer {
    float: none;
  }

  .layout-region-node-main,
  .layout-region-node-footer {
    width: 100%;
    padding-right: 0;

    @include breakpoint($breakpoint) {
      flex-basis: 40%;
      flex-shrink: 1;
      flex-grow: 1;
    }
  }

  .page-wrapper__node-edit-form {
    @include breakpoint($breakpoint) {
      padding-right: $sidebarWidth;
    }

    .block-page-title-block {
      @include breakpoint(1730px) {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        transform: translateX(-170px);
      }

      .page-title {
        @include breakpoint($breakpoint) {
          width: calc(100% - 400px);
        }
      }
    }

    // .block-page-title-block,
    .block-local-tasks-block,
    .messages-list,
    .node-form {
      // @include breakpoint($breakpoint) {
      //   margin-right: $sidebarWidth;
      // }

      width: 100%;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;

      .form-wrapper,
      .form-composite {
        label {
          text-transform: capitalize;
          padding-bottom: 4px;
        }
      }
    }

    .layout-region-node-secondary {
      width: 100%;

      @include breakpoint($breakpoint) {
        z-index: 100;
        flex-basis: $sidebarWidth;
        width: $sidebarWidth !important;
        position: fixed;
        top: 102px;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        height: calc(100% - 126px);
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        background: #fff;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);

        .accordion {
          border: 0 none;
          box-shadow: none;
        }
      }

      .action-link--icon-trash {
        margin-bottom: 0;
      }

      .entity-meta {
        > .accordion__item {
          margin: -1px 0 0 0;
          border-left: 0 none;
        }
      }
    }

    // .region-sticky {
    //   @include breakpoint($breakpoint) {
    //     width: calc(100% - #{$sidebarWidth});
    //   }
    // }
  }

  &.toolbar-tray-open.toolbar-vertical {
    .region-sticky {
      @include breakpoint($breakpoint) {
        width: calc(100% - #{$sidebarWidth} - 240px);
      }
    }
  }

  &.toolbar-horizontal.toolbar-tray-open {
    .layout-region-node-secondary {
      top: 142px;
      height: calc(100% - 166px);
    }
  }

  // .layout-region-node-footer {
  //   margin-top: 40px;
  // }
}

// Fixed form form-wrapper
// .node-form .layout-region-node-footer {
  // z-index: 101;
  // position: fixed;
  // top: 39px;
  // left: 50%;
  // width: calc(50% - #{$sidebarWidth});
  // margin: 16px 0 0 0;

  // .toolbar-tray-open & {
  //   top: 78px;
  // }
// }

// .node-form .layout-region {
//   &__content {
//     display: flex;
//     flex-wrap: wrap;
//     padding: 1rem;
//     margin: 0;
//     background: #fff;

//     .form-actions {
//       margin: 0;
//     }

//     .entity-content-form-footer {
//       margin: 1rem 2rem 0;
//       order: 2;
//       align-self: center;

//       .form-item {
//         display: inline-block;
//       }
//     }

//     .form-type--checkbox {
//       margin-top: .75rem;
//       margin-bottom: .75rem;
//     }

//     .button,
//     .action-link {
//       margin-top: .5rem;
//       margin-bottom: .5rem;
//     }
//   }
// }
