// Core Media preview image override
.media-library-views-form {
  .media-library-item--grid .field--name-thumbnail img {
    width: 100%;
    height: auto;
    min-width: unset;
    min-height: unset;
  }
}