.messages {
  &, &-list {
    margin-top: 0;
  }

  a {
    .gin--dark-mode & {
      color: var(--colorGinPrimary);
    }
  }

  &__title,
  &__content {
    margin-left: 1.75rem;
  }

  &--status {
    border-color: var(--colorGinGreen);

    .messages__header {
      position: relative;
      background-image: none;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: var(--colorGinGreen);
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 13'%3E%3Cpath d='M2 6.57143L5.6 10L14 2' fill='none' stroke='%2342a877' stroke-width='3'/%3E%3C/svg%3E%0A");
        mask-repeat: no-repeat;
        mask-position: center left;
      }
    }
  }

  &--warning {
    border-color: var(--colorGinWarning);

    .messages__header {
      position: relative;
      background-image: none;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: var(--colorGinWarning);
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 4 14' fill='%23e0ac00'%3E%3Crect x='0.5' width='3' height='9'/%3E%3Ccircle cx='2' cy='12.5' r='1.5'/%3E%3C/svg%3E%0A");
        mask-repeat: no-repeat;
        mask-position: center left;
      }
    }
  }

  &--error {
    border-color: var(--colorGinDanger);

    .messages__header {
      position: relative;
      background-image: none;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: var(--colorGinDanger);
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 14 14'%3E%3Cpath d='M3 11.1931L11.4501 2.99995' stroke='%23e34f4f' stroke-width='2'/%3E%3Ccircle cx='7' cy='7' r='6' fill='none' stroke='%23e34f4f' stroke-width='2'/%3E%3C/svg%3E%0A");
        mask-repeat: no-repeat;
        mask-position: center left;
      }
    }
  }

  .gin--dark-mode & {
    background-color: var(--colorGinLayer2Background);
  }
}
