.pager__link {
  background-color: transparent;
}

.pager__link.is-active,
.pager__item--current {
  color: var(--colorGinAppBackground);
}

.pager__link:hover,
.pager__link.is-active:hover {
  color: var(--colorGinAppBackground);
  background: var(--colorGinPrimaryLight);
}

.pager__item--next .pager__link:after {
  background-image: none;
  background-color: var(--colorGinText);
  mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 14L11 8L5 2' stroke='%23545560' stroke-width='2'/%3E%3C/svg%3E%0A");

  &:hover {
    background-color: var(--colorGinPrimary);
  }
}
