.block-system > .node-confirm-form,
.block-system > .confirmation {
  padding-top: 24px;
}

.panel__title,
.system-status-general-info__header,
.system-status-report__requirements-group > h3,
.system-themes-list__header {
  font-size: 1.125em;
  font-weight: 500;
  color: var(--colorGinTitle);
  padding: 24px;
  margin-top: 0;
  background: var(--colorGinLayer4Background);
  border-radius: 6px;
}

.panel {
  padding: 16px;

  &__content {
    padding: 8px 16px 0;
  }

  .admin-list {
    margin: 0;
  }

  .admin-item {
    padding-left: 2rem;
  }
}
