.region-sticky {
  position: relative;
  padding: 16px 0 0;
  width: 100%;
  background: rgba($colorAppBackground, .98);
  box-sizing: border-box;
  transition: $transition;

  .gin--dark-mode & {
    background: rgba($colorDarkAppBackground, .98);
  }

  @include breakpoint(1024px) {
    position: fixed;
    z-index: 101;
    top: 0;
    width: 100%;
    height: 88px;
    padding: 40px 0 16px;
    margin-top: -1px;

    .toolbar-horizontal[data-toolbar-tray='toolbar-item-administration-tray'] & {
      top: $topBar;
    }

    .-has-scrolled & {
      padding-top: 16px;
    }

    .gin--classic-toolbar:not(.path-node) & {
      position: relative;
    }

    .gin--classic-toolbar.path-node & {
      width: calc(100% - #{$sidebarWidth});
      padding-top: 16px;
      top: 40px;
    }

    .gin--classic-toolbar.path-node.toolbar-tray-open & {
      top: 80px;
    }
  }

  &__items {
    display: flex;
    align-items: center;

    .block-page-title-block,
    .local-actions {
      margin: 0;
    }

    .block-page-title-block {
      flex-grow: 1;
      align-self: center;
      display: flex;
      overflow: hidden;
      margin: 0;

      .page-title {
        align-self: center;
        margin: 0;
      }
    }

    @include breakpoint(768px) {
      height: 100%;

      .settings-tray-editable {
        flex-shrink: 0;
      }
    }
  }
}

.content-header {
  margin-bottom: 0;
  background-color: transparent;

  @include breakpoint(1024px) {
    padding-top: $contentHeaderSpacer;

    .gin--classic-toolbar:not(.path-node) & {
      padding-top: 0;
    }
  }

  .block-local-tasks-block {
    @include breakpoint(768px) {
      margin-top: 6px;
      margin-bottom: 1.5rem;
    }
  }
}

.page-wrapper {
  @include breakpoint(1024px) {
    margin-top: 1px; // fix for top: auto;
  }
}

.layout-region-node-actions {
  z-index: 111;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 16px;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.1);

  @include breakpoint(600px) {
    padding-left: 2em;
    padding-right: 2em;
  }

  @include breakpoint(1024px) {
    left: auto;
    top: 22px;
    right: $sidebarWidth + 32px;
    bottom: auto;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    box-shadow: none;
    transition: $transition;

    .-has-scrolled & {
      top: 2px;
    }

    .gin--classic-toolbar & {
      top: 41px;
    }

    .gin--classic-toolbar.toolbar-tray-open & {
      top: 83px;
    }
  }

  @include breakpoint(1440px) {
    right: 24px;
    justify-content: flex-end;
    right: calc(#{$sidebarWidth} + 4em);
  }

  @include breakpoint(1730px) {
    right: calc(50% - #{$sidebarWidth} - 6em - 52px);

    .toolbar-horizontal.toolbar-tray-open[data-toolbar-menu='open'] & {
      right: calc(50% - #{$sidebarWidth} - 6em - 94px);
    }
  }

  .form-actions {
    margin: 0;

    input:last-child {
      margin-right: 0;
    }
  }

  .entity-content-form-footer {
    flex-grow: 1;
    align-self: center;
    margin-right: 2rem;

    @include breakpoint(1024px) {
      flex-grow: 0;
    }
  }
}

.toolbar-tray-open:not(.toolbar-vertical) .layout-container,
body:not(.toolbar-tray-open) .layout-container {
  @include breakpoint(600px) {
    margin-left: 2em;
    margin-right: 2em;
  }

  @include breakpoint(1440px) {
    margin-left: 4em;
    margin-right: 4em;
  }
}
