// Unknown
.upgrade-status-counter__status-icon--not-scanned:before,
.upgrade-status-summary tr.not-scanned > td.status-info:before {
  background-image: none;
  background-color: var(--colorGinText);
  mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m50 2c-12.73 0-24.938 5.0586-33.941 14.059-9 9.0039-14.059 21.211-14.059 33.941s5.0586 24.938 14.059 33.941c9.0039 9 21.211 14.059 33.941 14.059s24.938-5.0586 33.941-14.059c9-9.0039 14.059-21.211 14.059-33.941s-5.0586-24.938-14.059-33.941c-9.0039-9-21.211-14.059-33.941-14.059zm6 82.5h-12v-12h12zm3.2109-27.621c-2.082 1.1797-3.3242 3.4297-3.2109 5.8203v0.80078h-12v-0.80078c-0.050781-3.418 0.85547-6.7812 2.6094-9.7109 1.7578-2.9336 4.2969-5.3164 7.332-6.8867 3.0977-1.5117 5.0625-4.6562 5.0586-8.1016-0.125-4.918-4.082-8.875-9-9-4.9688 0-9 4.0312-9 9h-12c0-5.5703 2.2109-10.91 6.1523-14.848 3.9375-3.9414 9.2773-6.1523 14.848-6.1523 5.5469 0.074219 10.848 2.3086 14.77 6.2305s6.1562 9.2227 6.2305 14.77c0.015625 3.9375-1.082 7.8008-3.168 11.145-2.0859 3.3398-5.0742 6.0234-8.6211 7.7344z'/%3E%3C/svg%3E%0A");
  mask-repeat: no-repeat;
  mask-position: center center;
}

// Checked
.system-status-counter__status-icon--checked:before,
.admin-dblog .dblog-info .icon,
.admin-dblog .dblog-notice .icon,
.system-status-report__status-icon--checked .details-title:before,
.details .system-status-report__status-icon--checked:before,
.color-checked .system-status-report__status-title:before,
.upgrade-status-counter__status-icon--checked:before,
.upgrade-status-error-list tr.no-known-error > td.status-info:before,
.upgrade-status-summary tr.no-known-error > td.status-info:before {
  background-image: none;
  background-color: var(--colorGinGreen);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 13'%3E%3Cpath d='M2 6.57143L5.6 10L14 2' fill='none' stroke='%2342a877' stroke-width='3'/%3E%3C/svg%3E%0A");
  mask-repeat: no-repeat;
  mask-position: center center;
}

// Warning
.system-status-counter__status-icon--warning:before,
.admin-dblog .dblog-warning .icon,
.system-status-report__status-icon--warning .details-title:before,
.details .system-status-report__status-icon--warning:before,
.upgrade-status-counter__status-icon--warning:before,
.upgrade-status-error-list tr.known-warnings > td.status-info:before,
.upgrade-status-summary tr.known-warnings > td.status-info:before {
  background-image: none;
  background-color: var(--colorGinWarning);
  mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M14.66 12.316l-5.316-10.633c-.738-1.476-1.946-1.476-2.685 0l-5.317 10.633c-.738 1.477.008 2.684 1.658 2.684h10.002c1.65 0 2.396-1.207 1.658-2.684zm-7.66-8.316h2.002v5h-2.002v-5zm2.252 8.615c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.239c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625v1.239z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center center;
}

// Error
.system-status-counter__status-icon--error:before,
.admin-dblog .dblog-error .icon,
.admin-dblog .dblog-critical .icon,
.admin-dblog .dblog-alert .icon,
.admin-dblog .dblog-emergency .icon,
.system-status-report__status-icon--error .details-title:before,
.details .system-status-report__status-icon--error:before,
.upgrade-status-counter__status-icon--error:before,
.upgrade-status-error-list tr.known-errors > td.status-info:before,
.upgrade-status-summary tr.known-errors > td.status-info:before {
  background-image: none;
  background-color: var(--colorGinDanger);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 14 14'%3E%3Cpath d='M3 11.1931L11.4501 2.99995' stroke='%23e34f4f' stroke-width='2'/%3E%3Ccircle cx='7' cy='7' r='6' fill='none' stroke='%23e34f4f' stroke-width='2'/%3E%3C/svg%3E%0A");
  mask-repeat: no-repeat;
  mask-position: center center;
}

.system-status-counter,
.upgrade-status-counter {
  height: auto;
  padding: 16px 0;
  border: 1px solid var(--colorGinLayerBorder);
  background: var(--colorGinLayerBackground);

  &__status-title {
    padding-left: 0;
  }

  &__status-icon {
    background-color: transparent;
    border-right: 0 none;
    box-shadow: none;

    &--checked:before,
    &--warning:before,
    &--error:before {
      mask-position: center 16px;
      mask-size: 24px;
    }
  }

  &__title-count {
    font-weight: 500;
    color: var(--colorGinTitle);
    text-transform: none;
  }
}

.system-status-general-info {
  &__header {
    margin-bottom: .5rem;
  }

  &__items {
    border-bottom: 1px solid var(--colorGinBorder);
  }

  &__item {
    border-top: 1px solid var(--colorGinBorder);
    background: transparent;

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
      border-left: 1px solid var(--colorGinBorder);
    }
  }

  &__item-title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--colorGinTitle);
  }

  &__sub-item-title {
    font-size: 1rem;
    font-weight: normal;
    display: inline-block;

    &:after {
      content: ":\00a0";
    }
  }

  &__item-icon {
    &--d8:before,
    &--drupal:before {
      mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' class='drupal-logo' width='42.2' height='55.5' viewBox='0 0 42.2 55.5'%3E%3Cpath fill='%23cccccc' d='M29.8,11.7C25.9,7.9,22.2,4.2,21.1,0c-1.1,4.2-4.8,7.9-8.7,11.7C6.6,17.5,0,24.1,0,34c-0.3,11.6,9,21.3,20.6,21.5 s21.3-9,21.5-20.6c0-0.3,0-0.6,0-0.9C42.2,24.1,35.6,17.5,29.8,11.7z M10.8,35.9c-0.6,0.8-1.2,1.7-1.6,2.6 c-0.1,0.1-0.2,0.3-0.4,0.3H8.7c-0.5,0-1-0.9-1-0.9l0,0c-0.1-0.2-0.3-0.5-0.4-0.7L7.2,37C5.9,34.2,7,30.3,7,30.3l0,0 c0.5-1.9,1.4-3.8,2.5-5.4c0.7-1,1.5-2,2.3-3l1,1l4.7,4.8c0.2,0.2,0.2,0.5,0,0.7l-4.9,5.5l0,0L10.8,35.9z M21.3,49.7 c-4,0-7.3-3.3-7.2-7.3c0-1.8,0.7-3.5,1.8-4.8c1.5-1.8,3.4-3.6,5.5-6c2.4,2.6,4,4.3,5.5,6.3c0.1,0.1,0.2,0.3,0.3,0.5 c0.8,1.2,1.3,2.6,1.3,4.1C28.6,46.5,25.3,49.7,21.3,49.7C21.3,49.7,21.3,49.7,21.3,49.7z M35,38.1L35,38.1 c-0.1,0.3-0.4,0.5-0.7,0.6h-0.1c-0.3-0.1-0.5-0.3-0.7-0.5l0,0c-1.3-1.9-2.7-3.7-4.3-5.3l-1.9-2l-6.4-6.6c-1.3-1.2-2.6-2.6-3.8-3.9 c0-0.1-0.1-0.1-0.1-0.1c-0.2-0.3-0.4-0.6-0.5-1c0-0.1,0-0.1,0-0.2c-0.2-1.1,0.2-2.2,1-3c1.2-1.2,2.5-2.5,3.7-3.8 c1.3,1.4,2.7,2.8,4.1,4.2l0,0c2.8,2.6,5.3,5.5,7.6,8.6c1.9,2.7,2.9,5.8,2.9,9.1C35.6,35.4,35.4,36.8,35,38.1z'/%3E%3C/svg%3E%0A");
    }

    &--clock:before {
      mask-image: url("data:image/svg+xml,%3Csvg width='100pt' height='100pt' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m90.645 40.797c-0.55078-2.1875-2.7461-3.5391-4.9453-3.0469-2.2031 0.49219-3.6133 2.6445-3.1836 4.8594 0.13281 0.60156 0.25391 1.2109 0.35938 1.8242 0.30469 1.8398 0.45703 3.7031 0.45703 5.5664 0 8.8398-3.5117 17.32-9.7617 23.57s-14.73 9.7617-23.57 9.7617-17.32-3.5117-23.57-9.7617-9.7617-14.73-9.7617-23.57 3.5117-17.32 9.7617-23.57 14.73-9.7617 23.57-9.7617c5.9492-0.019531 11.797 1.5703 16.918 4.6016 1.9844 1.168 4.5391 0.50391 5.7031-1.4805 1.1641-1.9844 0.50391-4.5391-1.4844-5.707-11.082-6.5117-24.559-7.5352-36.5-2.7695-11.941 4.7617-21.012 14.781-24.566 27.137-3.5547 12.355-1.1992 25.664 6.3828 36.047 7.582 10.383 19.543 16.68 32.395 17.051 12.852 0.375 25.152-5.2109 33.328-15.137 8.1758-9.9258 11.301-23.07 8.4688-35.613z'/%3E%3Cpath d='m78.027 31.945c1.2734 1.875 3.8125 2.3867 5.7148 1.1523 1.9023-1.2305 2.4688-3.7578 1.2773-5.6875-0.87891-1.3555-1.8359-2.6562-2.8633-3.9023-1.4805-1.7109-4.0508-1.9258-5.7969-0.48828s-2.0273 4.0039-0.63281 5.7852c0.82813 1 1.5938 2.0508 2.3008 3.1406z'/%3E%3Cpath d='m45.832 29.168v20.832c0 1.5781 0.89453 3.0195 2.3047 3.7266l16.668 8.332c2.0586 1.0312 4.5586 0.19531 5.5898-1.8633 1.0273-2.0586 0.19531-4.5586-1.8633-5.5898l-14.363-7.1797v-18.258c0-2.3008-1.8672-4.168-4.168-4.168s-4.168 1.8672-4.168 4.168z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--server:before {
      mask-image: url("data:image/svg+xml,%3Csvg width='100pt' height='100pt' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m21.328 14.164c-4.1172 0-7.6875 2.7734-8.6875 6.7773l-9.207 35.312c2.1602-1.0898 4.5938-1.707 7.1602-1.707h78.809c2.5938 0 5.0234 0.63672 7.207 1.7266l-8.957-35.176c-0.97656-4.0938-4.5703-6.9336-8.7305-6.9336zm-10.734 45.953c-5.8438 0-10.594 4.7539-10.594 10.598v4.5469c0 5.8203 4.75 10.574 10.594 10.574h78.832c5.8203 0 10.574-4.7305 10.574-10.574v-4.5703c0-0.66016-0.070312-1.2969-0.18359-1.9336l-0.33984-1.3398c-1.3867-4.2305-5.3672-7.3008-10.051-7.3008zm12.504 9.3008h0.003906c1.9688 0 3.5703 1.5977 3.5703 3.5703 0 0.94531-0.375 1.8555-1.0469 2.5234-0.66797 0.67188-1.5781 1.0469-2.5234 1.0469-1.9727 0-3.5703-1.5977-3.5703-3.5703 0-1.9727 1.5977-3.5664 3.5703-3.5703zm25.785 0.79297h31.582c1.5469 0 2.7969 1.25 2.7969 2.7969 0 1.5469-1.25 2.7969-2.7969 2.7969h-31.582c-1.5469 0-2.7969-1.25-2.7969-2.7969 0-1.5469 1.25-2.7969 2.7969-2.7969z'/%3E%3C/svg%3E%0A");
    }

    &--php:before {
      mask-image: url("data:image/svg+xml,%3Csvg width='100pt' height='100pt' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m67.086 31.777c0.41406-0.16406 0.74219-0.41797 0.98047-0.76953 0.23828-0.34766 0.35938-0.75391 0.35938-1.2148 0-0.57031-0.16406-1.0391-0.5-1.4102-0.33594-0.37109-0.75781-0.60156-1.2695-0.69531-0.37891-0.070312-1.1406-0.10547-2.2773-0.10547h-1.5273v4.4453h1.7305c1.2422-0.003906 2.082-0.082032 2.5039-0.25z'/%3E%3Cpath d='m36.691 31.777c0.42188-0.16406 0.75-0.41797 0.98828-0.76953 0.23828-0.34766 0.35547-0.75391 0.35547-1.2148 0-0.57031-0.16797-1.0391-0.5-1.4102-0.33594-0.37109-0.75781-0.60156-1.2734-0.69531-0.375-0.070312-1.1328-0.10547-2.2734-0.10547h-1.5273v4.4453h1.7305c1.25-0.003906 2.082-0.082032 2.5-0.25z'/%3E%3Cpath d='m82.812 0h-65.625c-3.4375 0-6.25 2.8125-6.25 6.25v87.5c0 3.4375 2.8125 6.25 6.25 6.25h65.625c3.4375 0 6.25-2.8125 6.25-6.25v-87.5c0-3.4375-2.8125-6.25-6.25-6.25zm-23.121 24.934h5.0742c1.9219 0 3.1758 0.078125 3.7578 0.23438 0.89844 0.23438 1.6484 0.74219 2.2539 1.5312 0.60547 0.78906 0.91016 1.8047 0.91016 3.0547 0 0.96094-0.17969 1.7656-0.52344 2.4219-0.34766 0.65625-0.79297 1.168-1.332 1.543-0.53906 0.37109-1.082 0.61719-1.6328 0.74219-0.75781 0.14844-1.8516 0.22266-3.2852 0.22266h-2.0586v5.9102h-3.1641zm-15.789 0h3.1641v6.1641h6.1953l-0.003907-6.1641h3.1641v15.66h-3.1641v-6.8477h-6.1953v6.8477h-3.1641zm-14.602 0h5.0742c1.9219 0 3.1758 0.078125 3.7578 0.23438 0.89844 0.23438 1.6484 0.74219 2.2539 1.5312 0.60547 0.78906 0.91016 1.8047 0.91016 3.0547 0 0.96094-0.17578 1.7656-0.52344 2.4219-0.34766 0.65625-0.78906 1.168-1.3281 1.543-0.53906 0.37109-1.0859 0.61719-1.6406 0.74219-0.75391 0.14844-1.8477 0.22266-3.2773 0.22266h-2.0625v5.9102l-3.1641-0.003906zm44.113 54.883h-46.828v-3.125h46.832zm0-11.066h-46.828v-3.125h46.832z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--database:before {
      mask-image: url("data:image/svg+xml,%3Csvg width='100pt' height='100pt' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.7344 26.496c8.0664 6.125 24.516 9.3555 40.266 9.3555 15.746 0 32.199-3.2344 40.266-9.3555v12.801c0 6.0859-17.219 12.891-40.266 12.891-23.047-0.003906-40.266-6.8086-40.266-12.891zm0 34.211c0 6.0859 17.219 12.891 40.266 12.891 23.043 0 40.266-6.8047 40.266-12.891v-12.805c-8.0664 6.125-24.52 9.3555-40.266 9.3555s-32.199-3.2344-40.266-9.3555zm0 21.406c0 6.082 17.219 12.887 40.266 12.887 23.043 0 40.266-6.8047 40.266-12.891v-12.801c-8.0664 6.125-24.52 9.3555-40.266 9.3555s-32.199-3.2344-40.266-9.3555zm80.531-64.223c0-6.0859-17.223-12.891-40.266-12.891-23.047 0-40.266 6.8047-40.266 12.891s17.219 12.891 40.266 12.891c23.043-0.003906 40.266-6.8086 40.266-12.891z'/%3E%3C/svg%3E%0A");
    }

    &:before {
      background-image: none;
      background-color: var(--colorGinPrimary);
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: 32px 32px;
    }
  }

  &__run-cron {
    &.button {
      margin: 0;
    }
  }
}

.system-status-report {
  &__status-title {
    font-weight: 500;
    color: var(--colorGinTitle) !important;
  }
}

.color-checked {
  .system-status-report__status-title {
    &:before {
      content: "";
      position: absolute;
      top: 1em;
      left: 10px;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
  }
}
