.system-status-report__requirements-group {
  margin-top: 32px;

  h3 {
    margin-top: 0;
  }
}

.system-status-counter__status-icon {
  background-color: transparent;
  border: 0 none;
  box-shadow: none;
}

.system-status-general-info,
.system-status-report__requirements-group {
  padding: 24px;
}

.system-status-general-info {
  &__items {
    margin: 16px 8px 0;
  }
}

.system-status-general-info__header,
.system-status-report__requirements-group > h3,
.system-themes-list__header {
  text-transform: none;
  margin: -8px -8px 16px -8px;
}
