// Tabs
.tabs-wrapper,
.horizontal-tabs ul.horizontal-tabs-list {
  padding: 6px 6px 0 6px;
  margin-left: -6px;
  margin-right: -6px;
  overflow: hidden;
}

// Vertical tabs
.tabs-wrapper:not(.is-horizontal) {
  .tabs {
    .gin--dark-mode & {
      border-color: #8E929C;
    }

    &__tab {
      .gin--dark-mode & {
        background-color: var(--colorGinItemHover);
        border-color: #8E929C;
      }
    }
  }
}

.gin--dark-mode {
  .tabs {
    border-color: var(--colorGinLayer2Border);

    .tabs__tab,
    .tabs__tab.is-active {
      border-color: var(--colorGinLayer2Border);
      background-color: transparent;
    }
  }
}

.tabs__link,
.claro-details__summary,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a
{
  font-size: 14px;
  color: var(--colorGinText);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  .gin--dark-mode & {
    font-weight: 500;

    strong {
      font-weight: inherit;
    }
  }
}

.is-horizontal .tabs__link,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a {
  &:hover,
  &:focus {
    color: var(--colorGinPrimary);
    background: var(--colorGinItemHover);
  }
}

.claro-details {
  color: var(--colorGinText);
}

.claro-details__summary {
  &:after {
    left: 0;
  }

  &:hover {
    color: var(--colorGinPrimary);
    background-color: var(--colorGinItemHover);
  }
}

.is-horizontal .tabs--primary,
.is-horizontal .tabs--secondary,
.horizontal-tabs ul.horizontal-tabs-list {
  position: relative;

  @include breakpoint(768px) {
    width: calc(100% - 6px);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      border-bottom: 1px solid var(--colorGinBorder);
    }
  }
}

.is-horizontal .tabs--primary {
  .tabs__link {
    min-height: 3rem;
  }
}

// Horizontal Tabs in Claro style
.horizontal-tabs {
  position: static !important;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 0 none;

  ul.horizontal-tabs-list {
    background: none;
    border-right: 0 none;
    border-bottom: 0 none;

    li.horizontal-tab-button {
      background: none;
      border-right: 0 none;
      border-bottom: 0 none;

      a {
        padding-right: 2rem;
        padding-left: 2rem;
        border-radius: 2px 2px 0 0;

        &:before {
          content: '';
          display: block;
          position: absolute;
        }
      }

      &.selected a {
        color: var(--colorGinPrimary);

        &:before {
          border-left: none;
          border-right: none;
          border-bottom: 3px solid var(--colorGinPrimary);
          top: auto;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          width: 100%;
        }
      }
    }
  }

  .horizontal-tabs-panes {
    width: 100%;
  }

  .horizontal-tabs-pane {
    padding: 0;
    margin: 0;
    box-shadow: none;

    > .details-wrapper {
      margin: 0;
    }
  }
}

// Icon
.claro-details__summary:hover::before,
.claro-details__summary:hover:focus::before,
.claro-details[open] > .claro-details__summary:focus::before,
.claro-details[open] > .claro-details__summary--accordion::before,
.claro-details[open] > .claro-details__summary--accordion-item::before,
.claro-details[open] > .claro-details__summary--vertical-tabs-item::before {
  background-image: none;
  background-color: var(--colorGinPrimary);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M5.2109375,1.3144531 3.7890625,2.7226562 9.0917969,8.0761719 3.7890625,13.429688 5.2109375,14.837891 11.908203,8.0761719Z' fill='%23#{$iconActiveFill}'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 100% 100%;
}

.claro-details {
  &__description {
    color: var(--colorGinTextLight);
  }
}

.gin--dark-mode {
  .claro-details,
  .claro-details__summary--accordion,
  .claro-details__summary--accordion-item,
  .claro-details__summary--vertical-tabs-item {
    background-color: transparent;
  }

  .claro-details {
    border-color: var(--colorGinBorder);
  }

  .claro-details__wrapper--accordion,
  .claro-details__wrapper--accordion-item,
  .claro-details__wrapper--vertical-tabs-item {
    border: 1px solid var(--colorGinBorder);
    background: var(--colorGinAppBackground);
  }

  .vertical-tabs {
    &__items {
      background: none;
      border: 0 none;
    }

    &__menu-item.is-selected .vertical-tabs__menu-link {
      background: var(--colorGinAppBackground);
      border-color: var(--colorGinBorder);
    }

    &__menu-link {
      color: var(--colorGinText);
    }

    &__menu-link-summary {
      color: var(--colorGinTextLight);
    }
  }
}

.vertical-tabs__menu-link:hover:before {
  background: var(--colorGinLayer2Background);
}

.vertical-tabs__menu-item {
  &:before,
  &:after {
    border-color: var(--colorGinBorder);
  }
}
