.block-page-title-block {
  &:last-child {
    margin-bottom: 0;
  }
}

.page-title {
  $breakpoint: 1024px;

  font-size: 1.6em;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -.04em;
  color: var(--colorGinTitle);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;

  @include breakpoint($breakpoint) {
    font-size: 2em;
  }

  em {
    font-weight: 300;
    font-style: normal;
    letter-spacing: -.02em;

    &:after {
      content: ':';
    }
  }
}
