.page-title {
  $breakpoint: 1024px;

  font-weight: 400;
  letter-spacing: -.025em;
  margin-top: 1rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;

  @include breakpoint($breakpoint) {
    font-size: 2.25rem;
  }
}
