.project-update {
  &__status {
    &-icon {
      width: 24px;
      height: 24px;
      display: inline-block;
      vertical-align: bottom;

      img {
        display: none;
      }
    }

    // Error
    & &-icon {
      background-color: var(--colorGinDanger);
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 14 14'%3E%3Cpath d='M3 11.1931L11.4501 2.99995' stroke='%23e34f4f' stroke-width='2'/%3E%3Ccircle cx='7' cy='7' r='6' fill='none' stroke='%23e34f4f' stroke-width='2'/%3E%3C/svg%3E%0A");
      mask-position: center center;
      mask-repeat: no-repeat;
    }

    &--security-error {
      color: var(--colorGinDanger);

      span {
        position: relative;
        top: 2px;
      }
    }

    // Outdated
    &--not-current &-icon {
      background-color: var(--colorGinWarning);
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 4 14' fill='%23e0ac00'%3E%3Crect x='0.5' width='3' height='9'/%3E%3Ccircle cx='2' cy='12.5' r='1.5'/%3E%3C/svg%3E%0A");
      mask-position: center center;
      mask-repeat: no-repeat;
    }

    // Current
    &--current &-icon {
      background-color: var(--colorGinGreen);
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 13'%3E%3Cpath d='M2 6.57143L5.6 10L14 2' fill='none' stroke='%2342a877' stroke-width='3'/%3E%3C/svg%3E%0A");
      mask-position: center center;
      mask-repeat: no-repeat;
    }
  }
}

.color-success,
.color-checked,
.upgrade-status-error-list tr.no-known-error,
.upgrade-status-summary tr.no-known-error
{
  border-left: 8px solid var(--colorGinGreen);
  background-color: transparent; //rgba(72, 171, 123, .05);

  &:hover, &:active, &:focus {
    background-color: rgba(72, 171, 123, .1);
  }
}

.color-warning,
.upgrade-status-error-list tr.known-warnings,
.upgrade-status-summary tr.known-warnings {
  border-left: 8px solid var(--colorGinWarning);
  background-color: transparent; //rgba(226, 151, 0, .05);

  &:hover, &:active, &:focus {
    background-color: rgba(226, 151, 0, .08);

    .gin--dark-mode & {
      color: var(--colorGinWarning);
      background-color: rgba(222, 193, 95, .1);
    }
  }
}

.color-error,
.upgrade-status-error-list tr.known-errors,
.upgrade-status-summary tr.known-errors {
  border-left: 8px solid var(--colorGinDanger);
  background-color: transparent; //rgba(222, 117, 96, .1);

  &:hover, &:active, &:focus {
    background-color: rgba(222, 117, 96, .2);
  }
}

.color-success,
.color-warning,
.color-error,
.color-checked {
  color: var(--colorGinText);
  box-sizing: border-box;
}

.update {
  margin: 0;
  border: 1px solid var(--colorGinLayerBorder);
}

.layer-wrapper {
  .responsive-enabled {
    margin-top: 0;
  }
}

.block-system > form .layer-wrapper,
.panel .admin-list,
.block-system > form .dataset-table-wrapper {
  padding: 0;
  border: 0 none;
  box-shadow: none;
}

.compact-link {
  font-size: 0.875rem;
  text-align: right;
}
