@keyframes fadeInBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

// Option for 6 column layout
.show-6 {
  .views-row {
    @include breakpoint(420px) {
      float: left;
      width: 50%;
    }

    @include breakpoint(768px) {
      width: 25%;
    }

    @include breakpoint(1024px) {
      width: 20%;
    }

    @include breakpoint(1280px) {
      width: 16.666666667%;
    }
  }
}

.block-system > form,
.view-content .views-form {
  .claro-details {
    box-shadow: none;
  }

  form {
    display: flex;
    flex-direction: column;

    @include breakpoint(max-width 1024px) {
      overflow: auto;
    }
  }

  .views-table {
    order: -1;
    margin-top: 0;
  }

  [data-drupal-selector*="edit-header"] {
    order: 99;
    position: relative;
    left: 0;
    padding: 0 16px 16px 16px;
    background: #dfe0e4;
    border-radius: 4px;

    .form-item__label {
      display: block;
      float: left;
      margin-right: 1rem;
      line-height: 1.5;
    }

    &.is-sticky {
      z-index: 4;
      position: sticky;
      left: 0;
      bottom: 0;
      animation: fadeInBottom 320ms 1 forwards;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.layer-wrapper,
.block-system > form,
.view-content .views-form,
.panel,
.update,
.admin-list,
.view-watchdog .view-content,
.views-exposed-form.views-exposed-form,
.system-status-counter,
.system-status-general-info,
.system-status-report__requirements-group,
.views-edit-view,
.views-preview-wrapper,
#views-entity-list
{
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.layer-wrapper,
.block-system > form,
.view-content .views-form,
.panel,
.update,
.admin-list,
.view-watchdog .view-content,
.system-status-general-info,
.system-status-report__requirements-group,
.views-edit-view,
.views-preview-wrapper,
#views-entity-list
{
  width: 100%;
  padding: 24px; //0 24px;
  background: #fff;
  border: 1px solid #E2E2E5;
  box-sizing: border-box;
}

.block-system > .node-confirm-form,
.block-system > .confirmation, {
  padding-top: 24px;
}

.admin-list,
.panel {
  padding: 0;

  &__title,
  &__content {
    padding: 24px;
  }

  &__title {
    color: #fff;
    background: #1c1f23;
    border-bottom: 1px solid rgba(#282932, .3);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.admin-list {
  padding: 8px 0;
}

.admin-item {
  padding: 1em 1.5em 1em 3em;
}

.layer-wrapper {
  .responsive-enabled {
    margin-top: 0;
  }
}

.block-system > form .layer-wrapper,
.panel .admin-list,
.block-system > form .dataset-table-wrapper {
  padding: 0;
  border: 0 none;
  box-shadow: none;
}


.layer-wrapper {
  padding: 24px;

  & ~ .layer-wrapper {
    margin-top: 24px;
  }
}

.views-edit-view {
  .unit-title {
    margin-top: 0;
    margin-bottom: 1rem;
    @extend h2;
  }
}

.view-preview-form {
  &__title {
    padding: 0;
    background-color: transparent;
    border-bottom: 0 none;
  }

  .preview-section {
    display: flex;
    padding: 16px;
  }

  .form-actions {
    align-items: flex-end;
  }
}

.views-displays {
  border-radius: 4px;
  overflow: hidden;
}

.views-display-top {
  padding: 16px;
  background-color: var(--colorGinPrimary20);
  border: 0 none;
  border-radius: 4px;

  .dropbutton-wrapper {
    top: 18px;
    right: 24px;
  }

  .dropbutton--small .dropbutton__item > a {
    height: 2rem;
    line-height: 1.3rem;
  }
}

.edit-display-settings {
  padding: 24px;
  margin: 0;
}

.views-tabs a {
  padding: 8px 16px;
}

.views-ui-display-tab-bucket {
  &__title, .views-ui-display-tab-bucket > .views-display-setting {
    padding: 8px;
  }

  .views-display-setting {
    padding: 8px;
  }

  .views-display-setting:nth-of-type(even) {
    background-color: var(--colorGinPrimary20);
  }
}

.views-query-info table tr {
  background-color: var(--colorGinPrimary10);
}
