@keyframes fadeInBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

// Option for 6 column layout
.show-6 {
  .views-row {
    @include breakpoint(420px) {
      float: left;
      width: 50%;
    }

    @include breakpoint(768px) {
      width: 25%;
    }

    @include breakpoint(1024px) {
      width: 20%;
    }

    @include breakpoint(1280px) {
      width: 16.666666667%;
    }
  }
}

.block-system > form,
.view-content .views-form {
  .claro-details {
    box-shadow: none;
  }

  form {
    display: flex;
    flex-direction: column;

    @include breakpoint(max-width 1024px) {
      overflow: auto;
    }
  }

  .views-table {
    order: -1;
    margin-top: 0;
  }

  [data-drupal-selector*="edit-header"] {
    order: 99;
    position: relative;
    left: 0;
    padding: 0 16px 16px 16px;
    background: rgba(#dfe0e4, .98);
    border-radius: 4px;

    .gin--dark-mode & {
      background: rgba($colorDarkAppBackground, .98);
    }

    .form-item__label {
      display: block;
      float: left;
      margin-right: 1rem;
      line-height: 1.5;
    }

    &.is-sticky {
      z-index: 4;
      position: sticky;
      left: 0;
      bottom: 0;
      animation: fadeInBottom 320ms 1 forwards;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.layer-wrapper,
.block-system > form,
.view-content .views-form,
.panel,
.admin-list,
.view-watchdog .view-content,
.views-exposed-form.views-exposed-form,
.system-status-counter,
.system-status-general-info,
.system-status-report__requirements-group,
.views-edit-view,
.views-preview-wrapper,
#views-entity-list
{
  margin-top: 0;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.layer-wrapper,
.block-system > form,
.view-content .views-form,
.views-exposed-form.views-exposed-form,
.panel,
.admin-list,
.update,
.view-watchdog .view-content,
.system-status-general-info,
.system-status-report__requirements-group,
.views-edit-view,
.views-preview-wrapper,
#views-entity-list
{
  width: 100%;
  padding: 24px;
  background: var(--colorGinLayerBackground);
  border: 1px solid var(--colorGinBorder);
  box-sizing: border-box;
}

.views-exposed-form.views-exposed-form {
  padding-top: 8px;
}

.block-system > .node-confirm-form,
.block-system > .confirmation, {
  padding-top: 24px;
}

.admin-list,
.panel {
  padding: 0;

  &__title,
  &__content {
    padding: 24px;
  }

  &__title {
    color: #fff;
    background: #1c1f23;
    border-bottom: 1px solid rgba(#282932, .3);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .gin--dark-mode & {
      background: var(--colorGinLayer2Background);
    }
  }
}

.panel__content {
  padding-top: 0;
}

.update {
  margin: 0;
}

.admin-list {
  padding: 8px 0;
}

.admin-item {
  padding: 1em 1.5em 1em 4em;
}

.layer-wrapper {
  .responsive-enabled {
    margin-top: 0;
  }
}

.block-system > form .layer-wrapper,
.panel .admin-list,
.block-system > form .dataset-table-wrapper {
  padding: 0;
  border: 0 none;
  box-shadow: none;
}


.layer-wrapper {
  padding: 24px;

  & + .layer-wrapper {
    margin-top: 24px;
  }

  & + h3 {
    margin-top: 32px;
  }
}

.views-edit-view {
  .unit-title {
    margin-top: 0;
    margin-bottom: 1rem;
    @extend h2;
  }
}

.view-preview-form {
  &__title {
    padding: 0;
    background-color: transparent;
    border-bottom: 0 none;
  }

  .preview-section {
    display: flex;
    padding: 16px;
  }

  .form-actions {
    align-items: flex-end;
  }
}

.views-displays {
  border-color: var(--colorGinLayer2Border);
  border-radius: 4px;
  overflow: hidden;
}

.views-admin {
  .icon.add {
    background: none;

    &:before {
      content: "+";
      font-size: 1rem;
      line-height: .1;
    }
  }
}

.views-display-top {
  padding: 16px;
  background-color: var(--colorGinLayer2Background);
  border: 0 none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  .dropbutton-wrapper {
    top: 18px;
    right: 24px;
  }

  .dropbutton--small .dropbutton__item > a {
    height: 2rem;
    line-height: 1.3rem;
  }
}

.edit-display-settings {
  padding: 24px;
  margin: 0;
}

.views-tabs {
  a {
    padding: 8px 16px;
  }

  li a {
    background: var(--colorGinLayer2Background);
  }

  li a:hover, li.is-active a, li.is-active a.is-active {
    background: #1c1f23;
    border-color: transparent;
  }
}

.views-ui-display-tab-bucket {
  border-bottom-color: var(--colorGinBorder);

  &__title, .views-ui-display-tab-bucket > .views-display-setting {
    padding: 8px;
  }

  .views-display-setting {
    color: var(--colorGinText);
    padding: 8px;
  }

  .views-display-setting:nth-of-type(even) {
    background-color: var(--colorGinLayer2Background);
  }

  .dropbutton-wrapper {
    top: 9px;
    right: 8px;
  }
}

.views-query-info table tr {
  background-color: var(--colorGinLayer2Background);

  td {
    color: var(--colorGinText);
  }
}

.system-modules,
.locale-translation-status-form {
  tr.even,
  tr.odd {
    background: none;
    border-top: 1px solid var(--colorGinLayer2Border);
    border-bottom: none;
  }
}

.system-modules td {
  padding: 1rem;
  height: auto;

  details summary {
    background-color: transparent;
  }
}

.views-display-column,
.edit-display-settings-top.views-ui-display-tab-bucket {
  border-color: var(--colorGinBorder);
}
