// Import breakpoint
@import "node_modules/breakpoint-sass/stylesheets/breakpoint";

// Helpers
@import "helpers/**/*";

// Settings
@import "settings/**/*";

// Components
@import "components/coffee";
@import "components/toolbar";
@import "components/responsive-preview";
@import "components/node-preview";

// Scroll Offset
:root {
  --ginScrollOffset: 72px;

  @include mq($breakpointLarge) {
    --ginScrollOffset: 200px;
  }
}

// Toolbar
.toolbar {
  font-family: Inter, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  .toolbar-bar {
    background: #100f10;
    box-shadow: none;
  }
}

.toolbar .toolbar-menu,
.toolbar-horizontal .toolbar-tray .menu-item--expanded,
.toolbar .toolbar-tray {
  background-color: var(--colorGinLayerBackground);
}

.toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation {
  border-left: 1px solid var(--colorGinBorder);
}

.toolbar-tray-horizontal {
  ul {
    li {
      &.menu-item {
        .menu-item {
          border-bottom: 1px solid var(--colorGinBorder);
        }
      }
    }
  }
}

.toolbar-tray a,
.toolbar-tray span,
.toolbar .toolbar-menu .toolbar-menu a,
.toolbar .toolbar-menu .toolbar-menu span {
  color: var(--colorGinText);

  &:hover {
    color: var(--colorGinTitle);
  }
}

.toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a,
.toolbar .toolbar-tray .menu-item > .toolbar-icon.is-active,
.toolbar .toolbar-tray .menu-item > .toolbar-box > .toolbar-icon.is-active,
.toolbar .toolbar-tray a.is-active {
  color: var(--colorGinPrimary);
  font-weight: 500;

  &:before {
    background: var(--colorGinPrimary);
  }
}

.toolbar .toolbar-tray .hover-intent > .toolbar-icon {
  color: var(--colorGinPrimaryHover);
  background-color: var(--colorGinItemHover);
}

// Inline Edit toggle
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item,
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item.is-active,
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item:focus {
  background: var(--colorGinPrimary);
}

.toolbar-tray-horizontal a:focus,
.toolbar-box a:focus,
.toolbar .toolbar-icon.toolbar-handle:focus {
  background-color: var(--colorGinLayer2Background);
}

.toolbar-menu__trigger,
.menu-item-title,
.menu-item-sub-title {
  display: none !important;
}

.toolbar .level-2 > ul,
.gin--dark-mode .toolbar .toolbar-toggle-orientation {
  background-color: var(--colorGinLayer2Background);
}

.toolbar .level-3 > ul {
  background-color: var(--colorGinAppBackground);
}

.gin--classic-toolbar {
  .page-wrapper__node-edit-form .layout-region-node-secondary {
    padding-top: 39px;
  }

  table.sticky-header {
    @include mq($breakpointLarge) {
      margin-top: 0;
    }
  }
}

.toolbar-menu .menu-item > span {
  padding-left: 2.75em;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
  &:hover:before,
  &.is-active:before {
    background-color: #fff;
  }
}

// Home icon
.toolbar .toolbar-bar .toolbar-icon-admin-toolbar-tools-help {
  width: auto;
  height: 100%;
  text-indent: -999em;

  &:before {
    mask-size: 21px 21px;
  }

  @include mq($breakpointMedium) {
    &:before {
      left: 16px;
    }
  }
}

#toolbar-item-administration-tray {
  box-shadow: 0 0px 4px rgba(0,0,0,0.1);

  .toolbar-logo {
    img {
      @include mq($breakpointLarge) {
        max-height: 21px;
      }
    }
  }
}

.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded,
.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus {
  position: relative;

  &:before {
    top: 12px;
    right: 12px;
  }
}

.toolbar-tray-open.gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary {
  @include mq($breakpointLarge) {
    top: $topBar;
    height: calc(100% - #{$topBar});
  }
}
