// Import breakpoint
@import "node_modules/breakpoint-sass/stylesheets/breakpoint";

// Helpers
@import "helpers/**/*";

// Settings
@import "settings/**/*";

@include mq($breakpointLarge) {

  body[data-meta-sidebar='closed'] {
    --ginSidebarWidth: 0px;

    [data-drupal-selector="edit-advanced"] {
      opacity: 0;
      transition: none;
    }
  }

  [data-drupal-selector="edit-advanced"] {
    transition: opacity 0.4s cubic-bezier(0.9, 0, 1, 1)
  }

  span.meta-sidebar__trigger {
    border-radius: 24px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-color: var(--colorGinBorder);
    border-width: 1px 0 1px 1px;
    border-style: solid;

    background-color: var(--colorGinLayerBackground);
    position: fixed;
    bottom: 1rem;
    right: 0px; //var(--ginSidebarWidth);
    height: 48px;
    width: 32px;

    .gin--dark-mode & {
      border-color: var(--colorGinBorder);
    }

    &:hover {
      color: transparent;
      width: 48px;
      cursor: pointer;
    }

    &:focus {
      box-shadow: none;
    }

    &.is-active {
      width: 48px;
    }

    &::before {
      display: inline-block;
      width: 100%;
      height: 100%;
      content: "";
      mask-image: icon('handle');
      mask-size: 20px 20px;
      mask-repeat: no-repeat;
      mask-position: center center;
      background-color: var(--colorGinIcons);
      transform: rotate(180deg);
      transition: transform $transition--fast;

    }

    &.is-active::before {
      transform: rotate(0deg);
    }
  }
}
