@import "_vars";

:root {
  // Accent color: use Claro defaults for Gin
  --colorGinPrimary: #{$ginPrimary};
  --colorGinPrimaryHover: #0036b1;
  --colorGinPrimaryActive: #00339a;
  --colorGinPrimaryLight: #{rgba($ginPrimary, .15)};
  --colorGinPrimaryLightHover: #{rgba($ginPrimary, .25)};
  --colorGinPrimaryLightActive: #{rgba($ginPrimary, .35)};
  --colorGinItemHover: #{rgba($ginPrimary, .06)};
  --colorGinButtonShadow: rgba(0, 0, 0, .2);
  --colorGinButtonText: #fff;
  --colorGinFocus: #039a72; //#039a72; //#e0714d;

  --colorGinDisabled: #bbb;
  --colorGinWarning: #e0ac00;
  --colorGinDanger: #c11f1f;
  --colorGinGreen: #039a72;

  --colorGinAppBackground: #{$colorAppBackground};
  --colorGinLayerBackground: #fff;
  --colorGinLayer2Background: #edeff5;
  --colorGinLayer3Background: #fff;
  --colorGinLayer4Background: #e3e3e8; //#e4e5e8;
  --colorGinBorder: #d4d4d8;
  --colorGinLayerBorder: rgba(0, 0, 0, .075);
  --colorGinLayer2Border: #d4d4d8;
  --colorGinTableBorder: #e5e4e8;

  --colorGinTitle:#222330;
  --colorGinText: #222330;
  --colorGinTextLight: #545560;

  --colorGinTableHeader: var(--colorGinLayer4Background); //#dfe0e4;
  --colorGinSwitch: var(--colorGinGreen);
  --colorGinSwitchShadow: rgba(38, 167, 105, .3);

  --colorGinIcons: #6e6d7a;
}

.gin--dark-mode {
  $ginPrimary: #90aeef;
  --colorGinPrimary: #{$ginPrimary};
  --colorGinPrimaryHover: #{lighten(#799eef, 5)};
  --colorGinPrimaryActive: #{lighten(#799eef, 10)};
  --colorGinPrimaryLight: #{rgba($ginPrimary, .20)};
  --colorGinPrimaryLightHover: #{rgba($ginPrimary, .30)};
  --colorGinPrimaryLightActive: #{rgba($ginPrimary, .40)};
  --colorGinItemHover: #{rgba($ginPrimary, .10)};
  --colorGinButtonShadow: #111;
  --colorGinButtonText: #111;
  --colorGinFocus: #32cea4; // #ec7c57; //#e0714d;

  --colorGinDisabled: #999;
  --colorGinWarning: #dec15f;
  --colorGinDanger: #ce6060;
  --colorGinGreen: #32cea4;

  --colorGinAppBackground: #{$colorDarkAppBackground};
  --colorGinLayerBackground: #2A2A2D;
  --colorGinLayer2Background: #3B3B3F;
  --colorGinLayer3Background: #47474c;
  --colorGinLayer4Background: #19191b;
  --colorGinBorder: #43454a;
  --colorGinLayerBorder: rgba(0, 0, 0, .05); //#383a3e;
  --colorGinLayer2Border: #76777B;
  --colorGinTableBorder: #43454a;

  --colorGinTitle: #fff;
  --colorGinText: #ccc;
  --colorGinTextLight: #9e9fa0;

  // --colorGinSelected: #{lighten(#3B3B3F, 5)};
  --colorGinTableHeader: var(--colorGinAppBackground);
  --colorGinSwitch: var(--colorGinPrimary);
  --colorGinSwitchShadow: var(--colorGinPrimaryLight);

  --colorGinIcons: #888;
}
