
// Import breakpoint
@import "node_modules/breakpoint-sass/stylesheets/breakpoint";

// Helpers
@import "helpers/**/*";

// Settings
@import "settings/**/*";

// Components
@import "components/coffee";
@import "components/responsive-preview";
@import "components/node-preview";

// Scroll Offset
:root {
  --ginScrollOffset: 72px;

  @include mq($breakpointLarge) {
    --ginScrollOffset: 180px;
  }
}

// Toolbar
.toolbar {
  font-family: Inter, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  .toolbar-bar {
    background: #100f10;
    box-shadow: none;

    @include mq($breakpointMedium) {
      display: flex;
      background: none;
    }

    @include mq($breakpointLarge) {
      height: 0;
    }

    .toolbar-menu-administration {
      > .toolbar-menu {
        > .menu-item {
          > .toolbar-icon,
          > .toolbar-box > .toolbar-icon {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 3.5em;
            white-space: nowrap;
          }

          > .toolbar-box > .toolbar-icon:not(.toolbar-handle)::before {
            left: .75rem;
          }
        }

        .toolbar-icon.toolbar-handle {
          width: 48px;

          &:before {
            left: 1rem;
          }
        }
      }
    }

    .toolbar-toggle-orientation {
      display: none !important;
    }
  }
}

.toolbar .toolbar-menu,
.toolbar-horizontal .toolbar-tray .menu-item--expanded,
.toolbar .toolbar-tray {
  background-color: var(--colorGinLayerBackground);
}

.toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation {
  border-left: 1px solid var(--colorGinBorder);
}

.toolbar-tray a,
.toolbar-tray span,
.toolbar .toolbar-menu .toolbar-menu a,
.toolbar .toolbar-menu .toolbar-menu span {
  color: var(--colorGinText);

  &:hover {
    color: var(--colorGinTitle);
  }
}

.toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a,
.toolbar .toolbar-tray .menu-item > .toolbar-icon.is-active,
.toolbar .toolbar-tray .menu-item > .toolbar-box > .toolbar-icon.is-active,
.toolbar .toolbar-tray a.is-active {
  color: var(--colorGinPrimary);
  font-weight: 500;

  &:before {
    background: var(--colorGinPrimary);
  }
}

.toolbar .toolbar-tray .hover-intent > .toolbar-icon {
  color: var(--colorGinPrimaryHover);
  background-color: var(--colorGinItemHover);
}

// Inline Edit toggle
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item,
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item.is-active,
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item:focus {
  background: var(--colorGinPrimary);
}

.toolbar-tray-horizontal a:focus,
.toolbar-box a:focus,
.toolbar .toolbar-icon.toolbar-handle:focus {
  background-color: var(--colorGinLayer2Background);
}

.toolbar-menu__trigger,
.menu-item-title,
.menu-item-sub-title {
  display: none !important;
}

.toolbar .level-2 > ul,
.gin--dark-mode .toolbar .toolbar-toggle-orientation {
  background-color: var(--colorGinLayer2Background);
}

.toolbar .level-3 > ul {
  background-color: var(--colorGinAppBackground);
}

.gin--classic-toolbar {
  .page-wrapper__node-edit-form .layout-region-node-secondary {
    padding-top: 39px;
  }

  table.sticky-header {
    @include mq($breakpointLarge) {
      margin-top: 0;
    }
  }
}

.gin--horizontal-toolbar {
  @include mq($breakpointMedium) {
    padding-top: $toolbarHorizontal !important;
  }
}

#toolbar-item-administration-tray {
  box-shadow: 0 0px 4px rgba(0, 0, 0, .1),
              0 2px 6px 2px rgba(0, 0, 0, .03);

  .gin--dark-mode & {
    box-shadow: 0 0px 4px rgba(0, 0, 0, .3);
  }

  .toolbar-logo {
    display: flex;
    height: 100%;
  }
}

@import "components/toolbar";
@import "components/toolbar-meta";

.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded,
.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus {
  position: relative;

  &:before {
    top: 12px;
    right: 12px;
  }
}

.gin--horizontal-toolbar.gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary {
  @include mq($breakpointLarge) {
    top: $toolbarHorizontal;
    height: calc(100% - #{$toolbarHorizontal});
  }
}

// Main horizontal nav
.gin--horizontal-toolbar #toolbar-administration {
  @include mq($breakpointMedium) {
    z-index: 106;
    position: fixed;
    top: 0;
    width: 100%;

    &,
    .toolbar-bar {
      height: $toolbarHorizontal;
    }
  }

  // align with content nicely
  .toolbar-lining {
    @include mq($breakpointMedium) {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      padding-right: 0;
    }
  }

  // home tab
  .menu-item__tools,
  .menu-item__admin_toolbar_tools-help {
    @include mq($breakpointMedium) {
      margin-left: -16px;
    }
  }

  // home logo
  .toolbar-icon-admin-toolbar-tools-help {
    width: auto;
    height: 100%;
    text-indent: -999em;

    &:before {
      mask-size: 21px 21px;
    }

    @include mq($breakpointMedium) {
      padding-left: 2.75em;

      &:before {
        top: -1px;
        left: 14px;
        width: 24px;
        mask-size: 28px 28px;
      }
    }
  }

  // target fist level only
  .toolbar-menu-administration {
    @include mq($breakpointMedium) {
      margin-left: m#{i}n(5vw, 48px);
      margin-right: m#{i}n(5vw, 48px);

      > .toolbar-menu {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
      }
    }
  }
}

#admin-toolbar-search-input {
  display: none;
}
