// Import breakpoint
@import "node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "_vars";
@import "coffee";

// Toolbar
#toolbar-item-administration-tray {
  @include breakpoint(976px) {
    border: 0 none;
  }
}

.toolbar {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  .toolbar-bar {
    $breakpoint: 576px;
    // background: #1c1f23;
    box-shadow: none;

    @include breakpoint($breakpoint) {
      display: flex;
      height: $topBar;

      // Alignment: move user account
      .user-menu {
        order: 99;
        align-self: flex-end;
        flex-grow: 1;
        text-align: right;

        .toolbar-item {
          display: inline-block;
        }

        .toolbar-menu {
          text-align: left;
        }
      }

      .contextual-toolbar-tab {
        order: 100;
      }
    }

    .contextual-toolbar-tab.toolbar-tab {
      float: right; // Set contextual to right
    }

    .toolbar-tab > .toolbar-item {
      font-weight: normal;
    }

    .toolbar-tab > .toolbar-item.is-active {
      background-image: none;
      background-color: rgba(255, 255, 255, .1);
    }

    .toolbar-tab > .toolbar-icon:before {
      @media only screen and (min-width: 36em) {
        background-size: 90% auto;
      }
    }

    .toolbar-icon.toolbar-handle,
    .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle
    {
      &::before {
        transform: rotate(90deg);
        background-position: center center;
        background-size: 12px 12px;
      }

      &.open::before {
        transform: rotate(-90deg);
      }
    }

    // Default icon settings for admin tray
    #toolbar-item-administration-tray a.toolbar-icon,
    .toolbar-tab > .toolbar-icon-edit.toolbar-item {
      &:before {
        background-color: var(--colorGinTextLight);
        background-image: none;
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: 20px 20px;

        @include mq(976px) {
          left: 36px;
          width: 21px;
        }
      }

      &.is-active:before {
        background-color: var(--colorGinPrimary);
      }
    }

    // Admin tray: Home icon
    #toolbar-item-administration-tray a.toolbar-icon-admin-toolbar-tools-help {
      @include mq(976px) {
        position: absolute;
        top: 10px;
        transition: top $transition;

        &:hover {
          background-color: var(--colorGinItemHover);
        }

        &.is-active:before {
          background-color: var(--colorGinText);
        }
      }

      &:before {
        $iconFill: 333333;
        $iconFillDark: ffffff;
        $logoSize: 28px;
        width: $logoSize;
        padding-left: 0;
        padding-right: 0;
        background-color: var(--colorGinText);
        mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 679.25 774.71'%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath d='M312.52,0c2.08,1.88,3.52,3,4.75,4.32a502.23,502.23,0,0,0,100.4,82.79c25.18,15.82,50.86,30.83,76.38,46.08,23.66,14.14,46.41,29.5,67,47.95C610.51,225.52,646,278.9,664.8,342.93a349.82,349.82,0,0,1,13.11,72.52,361.39,361.39,0,0,1,1.15,41.22c-3,78.46-28.15,148.45-80.87,207.45C556,711.39,503.62,742.75,443,760.54A350.4,350.4,0,0,1,318.7,773.79c-128.19-9.12-240-87.52-290.42-200.14a327.78,327.78,0,0,1-27-161.94c2.57-27.2,9.54-53.44,19.82-78.78,14.79-36.5,35.59-69.35,60.35-99.79,29-35.67,62.28-67,98.28-95.39,15-11.89,30.63-23.12,46-34.66,13-9.81,26.23-19.4,39-29.55a205.7,205.7,0,0,0,20.47-18.79A99.23,99.23,0,0,0,311.1,6.31C311.48,4.55,311.89,2.78,312.52,0Zm-167,541.48a94.88,94.88,0,0,0,2.13,23.68c3.2,13.66,8.73,26.24,18.85,36.05,10.66,10.33,23.12,18.07,37.63,22.14,10.54,3,21.36,3.58,32.19,4.54a139,139,0,0,0,58.5-7.36,298.48,298.48,0,0,0,50.39-23.29c18.31-10.47,36.29-21.51,54.58-32,11.9-6.84,23.94-13.5,36.23-19.59,6.24-3.09,13.14-4.87,19.82-7,8.49-2.7,16.58-.91,23.9,3.59a137.86,137.86,0,0,1,18.71,13.28c9.38,8.2,18.2,17,27.15,25.71,9.65,9.34,19,19,28.83,28.13A128.62,128.62,0,0,0,569.63,621c4.85,3.32,10.39,4.51,16.37,4.4,10.5-.19,19.25-4.18,26.66-11.33a125.37,125.37,0,0,0,25.05-33.75,181.55,181.55,0,0,0,19.41-88,71.42,71.42,0,0,0-7.9-30.4,55.6,55.6,0,0,0-7.9-11.94c-12.07-13.53-27.19-17.16-44.4-12.41-9.62,2.66-18.35,7.51-26.71,12.82-13.49,8.56-26.68,17.59-40.07,26.3-10.45,6.8-20.91,13.58-31.55,20.07a105.92,105.92,0,0,1-23.46,10.78,37.71,37.71,0,0,1-24.47-.16,83.38,83.38,0,0,1-14.9-6.47c-10.14-6.07-20.05-12.53-29.83-19.16-13.48-9.15-26.57-18.87-40.17-27.83a202.38,202.38,0,0,0-40-20.51c-23.35-8.8-47.23-13.22-72.31-9.11-38.69,6.35-69.2,25.38-90.74,58.19C151,500.24,144.8,519.84,145.53,541.48Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        mask-size: $logoSize $logoSize;
        mask-position: center center;

        @include mq(976px) {
          left: 33px;
        }
      }
    }

    // Admin tray: Add content
    .toolbar-icon-system-admin-content {
      &:before {
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg%3E%3Cpath fill='%23#{$iconFill}' d='M12.502 7h-5c-.276 0-.502-.225-.502-.5v-5c0-.275-.225-.5-.5-.5h-3c-.275 0-.5.225-.5.5v12.029c0 .275.225.5.5.5h9.002c.275 0 .5-.225.5-.5v-6.029c0-.275-.225-.5-.5-.5zM8.502 6h4c.275 0 .34-.159.146-.354l-4.293-4.292c-.195-.195-.353-.129-.353.146v4c0 .275.225.5.5.5z'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }

    // Admin tray: Structure
    .toolbar-icon-system-admin-structure {
      &:before {
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px'%3E%3Cpath fill='%23#{$iconFill}' d='M15.002,11.277c0-0.721,0-1.471,0-2.014c0-1.456-0.824-2.25-2.25-2.25c-1.428,0-3.5,0-3.5,0c-0.139,0-0.25-0.112-0.25-0.25v-2.04c0.596-0.346,1-0.984,1-1.723c0-1.104-0.895-2-2-2C6.896,1,6,1.896,6,3c0,0.738,0.405,1.376,1,1.722v2.042c0,0.138-0.112,0.25-0.25,0.25c0,0-2.138,0-3.5,0S1,7.932,1,9.266c0,0.521,0,1.277,0,2.012c-0.595,0.353-1,0.984-1,1.729c0,1.104,0.896,2,2,2s2-0.896,2-2c0-0.732-0.405-1.377-1-1.729V9.266c0-0.139,0.112-0.25,0.25-0.25h3.536C6.904,9.034,7,9.126,7,9.25v2.027C6.405,11.624,6,12.26,6,13c0,1.104,0.896,2,2.002,2c1.105,0,2-0.896,2-2c0-0.738-0.404-1.376-1-1.723V9.25c0-0.124,0.098-0.216,0.215-0.234h3.535c0.137,0,0.25,0.111,0.25,0.25v2.012c-0.596,0.353-1,0.984-1,1.729c0,1.104,0.896,2,2,2s2-0.896,2-2C16.002,12.262,15.598,11.623,15.002,11.277z'/%3E%3C/svg%3E%0A");
      }
    }

    // Admin tray: Appearance
    .toolbar-icon-system-themes-page {
      &:before {
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23#{$iconFill}' d='M8.184 7.928l-1.905 1.983-3.538-2.436 4.714-4.713 2.623 3.183-1.894 1.983zm-1.746-7.523c-.236-.416-.803-.649-1.346.083-.259.349-4.727 4.764-4.91 4.983-.182.218-.294.721.044.976.34.258 5.611 3.933 5.611 3.933l-.225.229c.7.729.816.854 1.046.863.75.016 2.035-1.457 2.578-.854.541.604 3.537 3.979 3.537 3.979.51.531 1.305.559 1.815.041.521-.521.541-1.311.025-1.848 0 0-2.742-2.635-3.904-3.619-.578-.479.869-2.051.854-2.839-.008-.238-.125-.361-.823-1.095l-.22.243c0 .003-3.846-4.659-4.082-5.075z'/%3E%3C/svg%3E%0A");
      }
    }

    // Admin tray: Modules
    .toolbar-icon-system-modules-list {
      &:before {
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23#{$iconFill}' d='M11.002 11v2.529c0 .275-.225.471-.5.471h-3c-.827 0-1.112-.754-.604-1.316l.81-.725c.509-.562.513-1.461-.097-2.01-.383-.344-1.027-.728-2.111-.728s-1.727.386-2.109.731c-.609.549-.606 1.45-.097 2.015l.808.717c.509.562.223 1.316-.602 1.316h-3c-.276 0-.5-.193-.5-.471v-9.029c0-.276.224-.5.5-.5h3c.825 0 1.111-.768.602-1.332l-.808-.73c-.51-.563-.513-1.465.097-2.014.382-.344 1.025-.731 2.109-.731s1.728.387 2.111.731c.608.548.606 1.45.097 2.014l-.81.73c-.509.564-.223 1.332.603 1.332h3c.274 0 .5.224.5.5v2.5c0 .825.642 1.111 1.233.602l.771-.808c.599-.51 1.547-.513 2.127.097.364.383.772 1.025.772 2.109s-.408 1.727-.771 2.109c-.58.604-1.529.604-2.127.097l-.77-.808c-.593-.509-1.234-.223-1.234.602z'/%3E%3C/svg%3E%0A");
      }
    }

    // Admin tray: Configuration
    .toolbar-icon-system-admin-config {
      &:before {
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23#{$iconFill}' d='M14.416 11.586l-.01-.008v-.001l-5.656-5.656c.15-.449.252-.921.252-1.421 0-2.485-2.016-4.5-4.502-4.5-.505 0-.981.102-1.434.255l2.431 2.431-.588 2.196-2.196.588-2.445-2.445c-.162.464-.268.956-.268 1.475 0 2.486 2.014 4.5 4.5 4.5.5 0 .972-.102 1.421-.251l5.667 5.665c.781.781 2.047.781 2.828 0s.781-2.047 0-2.828z'/%3E%3C/svg%3E%0A");
      }
    }

    // Admin tray: People
    .toolbar-icon-entity-user-collection {
      &:before {
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg%3E%3Cpath fill='%23#{$iconFill}' d='M6.722 11.291l.451-.17-.165-.32c-.536-1.039-.685-1.934-.761-2.672-.082-.808-.144-2.831 1.053-4.189.244-.278.493-.493.743-.675.012-.826-.135-1.766-.646-2.345-.618-.7-1.4-.787-1.4-.787l-.497-.055-.498.055s-.783.087-1.398.787c-.617.702-.717 1.948-.625 2.855.06.583.17 1.263.574 2.05.274.533.341.617.355 1.01.022.595.027 1.153-.671 1.538-.697.383-1.564.508-2.403 1.088-.596.41-.709 1.033-.78 1.459l-.051.41c-.029.273.173.498.448.498h5.012c.457-.24.89-.402 1.259-.537zM5.064 15.096c.07-.427.184-1.05.78-1.46.838-.581 1.708-.706 2.404-1.089.699-.385.693-.943.672-1.537-.014-.393-.08-.477-.354-1.01-.406-.787-.515-1.467-.576-2.049-.093-.909.008-2.155.625-2.856.615-.7 1.398-.787 1.398-.787l.492-.055h.002l.496.055s.781.087 1.396.787c.615.701.72 1.947.623 2.855-.062.583-.172 1.262-.571 2.049-.271.533-.341.617-.354 1.01-.021.595-.062 1.22.637 1.604.697.385 1.604.527 2.438 1.104.923.641.822 1.783.822 1.783-.022.275-.269.5-.542.5h-9.991c-.275 0-.477-.223-.448-.496l.051-.408z'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }

    // Admin tray: Statistics
    .toolbar-icon-system-admin-reports {
      &:before {
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg%3E%3Cpath fill='%23#{$iconFill}' d='M4 13.529c0 .275-.225.5-.5.5h-3c-.275 0-.5-.225-.5-.5v-4.25c0-.274.225-.5.5-.5h3c.275 0 .5.226.5.5v4.25zM10.002 13.529c0 .275-.225.5-.5.5h-3.002c-.275 0-.5-.225-.5-.5v-13c0-.275.225-.5.5-.5h3.002c.275 0 .5.225.5.5v13zM16.002 13.529c0 .275-.225.5-.5.5h-3c-.275 0-.5-.225-.5-.5v-9.5c0-.275.225-.5.5-.5h3c.275 0 .5.225.5.5v9.5z'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }

    // Admin tray: Help
    .toolbar-icon-help-main {
      &:before {
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23#{$iconFill}' d='M8.002 1c-3.868 0-7.002 3.134-7.002 7s3.134 7 7.002 7c3.865 0 7-3.134 7-7s-3.135-7-7-7zm3 5c0 .551-.16 1.085-.477 1.586l-.158.22c-.07.093-.189.241-.361.393-.168.148-.35.299-.545.447l-.203.189-.141.129-.096.17-.021.235v.63h-2.001v-.704c.026-.396.078-.73.204-.999.125-.269.271-.498.439-.688l.225-.21-.01-.015.176-.14.137-.128c.186-.139.357-.277.516-.417l.148-.18c.098-.152.168-.323.168-.518 0-.552-.447-1-1-1s-1.002.448-1.002 1h-2c0-1.657 1.343-3 3.002-3 1.656 0 3 1.343 3 3zm-1.75 6.619c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.238c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625v1.238z'/%3E%3C/svg%3E%0A");
      }
    }

    // Edit
    .toolbar-tab > .toolbar-icon-edit.toolbar-item {
      &, &:hover, &:active, &.is-active {
        color: var(--colorGinAppBackground);

        &:before {
          background-image: none;
          background-color: var(--colorGinAppBackground);
          mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg%3E%3Cpath fill='%23ffffff' d='M14.545 3.042l-1.586-1.585c-.389-.389-1.025-.389-1.414 0l-1.293 1.293 3 3 1.293-1.293c.389-.389.389-1.026 0-1.415z'/%3E%3Crect fill='%23ffffff' x='5.129' y='3.8' transform='matrix(-.707 -.707 .707 -.707 6.189 20.064)' width='4.243' height='9.899'/%3E%3Cpath fill='%23ffffff' d='M.908 14.775c-.087.262.055.397.316.312l2.001-.667-1.65-1.646-.667 2.001z'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
      }
    }

    // Inline Edit toggle
    .toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item,
    .toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item.is-active,
    .toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item:focus {
      background: var(--colorGinPrimary);
    }
  }
}

#toolbar-bar.js-settings-tray-edit-mode button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active {
  color: var(--colorGinAppBackground);
}

.toolbar-horizontal .toolbar-tray {
  box-shadow: none;
  border-bottom: 1px solid;

  a {
    color: #222;
    font-weight: normal;

    &:hover, &:active, &:focus, &.is-active {
      text-decoration: none;
    }
  }

  .menu-item {
    &:hover, a:focus {
      background-color: var(--colorGinItemHover); //var(--colorGinAppBackground);
    }

    a:focus {
      box-shadow: inset 0 0 0 3px var(--colorGinFocus);
    }
  }

  .menu-item + .menu-item {
    border-left: 0 none;

    &:last-child {
      border-right: 0 none;
    }
  }

  .menu-item--expanded {
    width: 100%;
    background-color: transparent;
  }
}

.toolbar-tray a {
  color: var(--colorGinText);
}

.toolbar .toolbar-tray-vertical {
  box-shadow: none;
  border-right: 1px solid var(--colorGinBorder);
  background: var(--colorGinLayerBackground);

  .menu-item + .menu-item {
    border-top: 1px solid var(--colorGinBorder);
  }

  .level-1.menu-item:last-child {
    border-bottom: 1px solid var(--colorGinBorder);
  }
}

.toolbar-tray-horizontal {
  ul {
    li {
      &.menu-item {
        .menu-item {
          border-left: none;
          border-right: none;
          border-bottom: 1px solid #e0e0e0;
        }

        &--expanded {
          &.hover-intent ul {
            box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }
  }
}

.toolbar .toolbar-icon.toolbar-handle::before,
.toolbar .toolbar-icon.toolbar-handle.open::before,
.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle::before,
.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle.open::before,
.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded,
.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus {
  background-image: none;
}

.toolbar .toolbar-icon.toolbar-handle,
.toolbar .toolbar-icon.toolbar-handle.open,
.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle,
.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle.open,
.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded {
  &:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 18px;
    width: 16px;
    height: 16px;
    background-color: var(--colorGinPrimary);
    mask-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 1.7109375,0.31445312 0.2890625,1.7226562 5.5917969,7.0761719 0.2890625,12.429688 1.7109375,13.837891 8.4082031,7.0761719 Z' fill='%23004adc'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 12px 12px;
  }
}

.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded,
.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus {
  position: relative;

  &:before {
    z-index: 1;
    top: 21px;
    right: 16px;
  }
}

#toolbar-bar.js-settings-tray-edit-mode {
  background: var(--colorGinPrimary);
  justify-content: flex-end;
}

#toolbar-bar.js-settings-tray-edit-mode button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active:hover {
  background: var(--colorGinPrimaryHover);
}

.toolbar .toolbar-bar {
  position: fixed;
  left: 0;
  width: 100%;
}

// Mobile spacing
.toolbar .toolbar-tray-vertical .toolbar-menu a {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.toolbar .toolbar-menu {
  background: transparent;

  .toolbar-menu {
    background: var(--colorGinAppBackground);

    a {
      color: var(--colorGinText);
    }
  }
}

.toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a,
.toolbar .toolbar-tray a.is-active {
  color: var(--colorGinPrimary);
  text-decoration: none;
}

// Mobile: hide menu titles
.toolbar-menu {
  &__title,
  &__sub-title {
    display: none;
  }

  &__trigger,
  &__logo {
    display: none;
  }
}

// New Desktop Toolbar
@include mq(976px) {
  #toolbar-item-administration-tray {
    display: block;
  }

  .toolbar-fixed {
    padding-left: $toolbarWidth;
    transition: $transition;

    &[data-toolbar-menu='open'] {
      padding-left: $toolbarOpenWidth;

      .region-sticky {
        max-width: calc(100% - #{$toolbarOpenWidth});
      }
    }
  }

  .toolbar .toolbar-box {
    position: static;
  }

  .toolbar-tab > .toolbar-item {
    &.toolbar-icon-menu {
      display: none;
    }
  }

  .toolbar-menu-administration a.toolbar-menu__trigger {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 16px 10px 16px 24px;
    margin: 0;

    &, &:active, &:focus {
      background-color: transparent;
    }

    &:hover {
      background-color: var(--colorGinItemHover); //var(--colorGinAppBackground);
    }

    &:before {
      content: "";
      position: static;
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 1.25rem;
      border-radius: 50%;
      border: 1px solid var(--colorGinBorder);
      background: var(--colorGinLayerBackground) url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 1.7109375,0.31445312 0.2890625,1.7226562 5.5917969,7.0761719 0.2890625,12.429688 1.7109375,13.837891 8.4082031,7.0761719 Z' fill='%23999999'/%3E%3C/svg%3E") no-repeat center center;
      background-size: 12px 12px;
      transition: $transition;
    }

    &.is-active {
      display: flex;
      font-size: 1rem;
      font-weight: normal;
      color: #777;
      padding: 16px 24px;
      width: $toolbarOpenWidth;

      &:before {
        transform: rotate(180deg);
      }
    }

    .menu {
      display: none;
    }

    .close {
      display: inline;
    }
  }

  // Hide unused tabs
  .toolbar .toolbar-bar {
    background: transparent;

    .toolbar-tab {
      &, .toolbar-menu__logo {
        display: none;
      }

      &.toolbar-tab--toolbar-item-administration {
        display: block;
      }
    }
  }

  .toolbar-tab--toolbar-item-administration {
    order: -1;
  }

  .toolbar-menu__logo {
    display: block;
    width: $toolbarWidth;
    height: 100%;
    background: rgba(255, 255, 255, .075) url(../images/drupal.svg) no-repeat left 21px center;
    background-size: 56px auto;

    &:hover {
      background-color: rgba(255, 255, 255, 0.125);
    }
  }

  .region-sticky {
    max-width: calc(100% - #{$toolbarWidth});
  }

  .path-node .region-sticky {
    max-width: calc(100% - #{$toolbarWidth + $sidebarWidth + 2px});
  }

  .path-node[data-toolbar-menu='open'] .region-sticky {
    max-width: calc(100% - #{$toolbarOpenWidth + $sidebarWidth + 2px});
  }

  .toolbar-menu-administration {
    display: flex;
    position: fixed;
    top: auto;
    left: 0;
    width: $toolbarWidth;
    height: 100vh;
    max-width: calc(100% - #{$topBar});
    background: var(--colorGinLayerBackground);
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    transition: $transition;

    [data-toolbar-menu='open'] & {
      width: $toolbarOpenWidth;
    }

    .toolbar-tray-horizontal & {
      ul li.menu-item--expanded .menu-item.hover-intent ul {
        margin-top: 0;
        margin-left: ($subToolbarWidth - 2px);
      }
    }

    // Open Menu
    .toolbar-vertical & {
      width: $subToolbarWidth;

      > .toolbar-menu {
        > .menu-item {
          border-top: 0 none;
          border-bottom: 0 none;

          > .toolbar-icon,
          > .toolbar-box > .toolbar-icon {
            width: auto;
            padding-left: 3.5rem;
          }

          .toolbar-menu {
            left: $subToolbarWidth;
          }
        }
      }
    }

    > .toolbar-menu {
      align-self: center; // flex-start;
      padding-top: 12px;
      max-height: calc(100% - 112px);
      overflow-y: auto;
      background: transparent;
      -webkit-overflow-scrolling: touch;

      > .menu-item {
        > .toolbar-icon,
        > .toolbar-box > .toolbar-icon {
          font-size: 1rem;
          color: #777;
          display: flex;
          align-items: center;
          width: $toolbarWidth;
          height: 64px;
          padding-left: $toolbarWidth;
          padding-right: 0;
          overflow: hidden;

          &:hover {
            background-color: transparent; //var(--colorGinAppBackground);
          }

          [data-toolbar-menu='open'] & {
            width: $toolbarOpenWidth;
            padding-left: $toolbarWidth - 11px;
          }

          &.is-active {
            color: var(--colorGinPrimary);

            &:after {
              content: "";
              opacity: .9;
              position: absolute;
              left: 45px;
              display: block;
              width: 4px;
              height: 4px;
              box-shadow: 2px 3px 10px var(--colorGinPrimary),
                          2px 3px 20px var(--colorGinPrimary),
                          2px 3px 30px var(--colorGinPrimary),
                          2px 3px 60px var(--colorGinPrimary);
            }
          }

          &.toolbar-handle {
            width: $toolbarWidth;

            &:before {
              display: none;
            }
          }
        }

        .toolbar-menu {
          display: none;
          position: fixed;
          top: 0; // $topBar;
          margin-left: ($toolbarWidth - 11px);
          width: $subToolbarWidth;
          height: 100vh;
          max-width: calc(100% - #{$topBar});
          background: var(--colorGinLayerBackground);
          box-shadow: none;
          border-left: 1px solid rgba(216, 217, 224, 0.8);

          .gin--dark-mode & {
            border-left: 1px solid $colorDarkAppBackground;
          }

          // Link color
          a {
            color: var(--colorGinText);
          }

          &__title,
          &__sub-title {
            display: block;
            min-height: 36px;
            font-size: 2em;
            font-weight: normal;
            letter-spacing: -.025em;
            padding: 0;
            margin: 0;

            a {
              color: var(--colorGinTitle);
              padding: 24px 24px 16px 24px;
            }
          }

          &__sub-title {
            font-size: 1.5em;
            letter-spacing: normal;
            margin-bottom: 7px;
          }

          .menu-item {
            border-top: 0 none;
            border-left: 0 none;
            border-bottom: 0 none;

            .toolbar-icon {
              font-size: 1rem;
              padding: 1.25em 2rem 1.25em 1.5rem;
            }
          }
        }
      }
    }

    .menu-item.hover-intent > .toolbar-menu {
      display: block;
      box-shadow: 8px 8px 14px rgba(0,0,0,0.15);
    }
  }

  // Hide Drupal's default toggle for sidebar
  .toolbar .toolbar-toggle-orientation button {
    display: none;
  }
}

.toolbar-horizontal .toolbar-tray > .toolbar-lining {
  padding-right: 0;
}

#toolbar-item-administration-search-tray input {
  width: 100%;
  max-width: calc(100% - 16px);
  outline: none;
}
