// Import breakpoint
@import "node_modules/breakpoint-sass/stylesheets/breakpoint";

@import "_vars";
@import "coffee";
@import "toolbar";

// Toolbar
.toolbar {
  .toolbar-bar {
    $breakpoint: 576px;
    overflow: auto;
    background: #100f10;
    box-shadow: none;

    @include mq($breakpoint) {
      // Alignment: move user account
      .user-menu {
        align-self: flex-end;
      }
    }

    @include mq(976px) {
      overflow: initial;
    }

    .toolbar-tab > .toolbar-item {
      white-space: nowrap;
    }

    // Home icon
    .toolbar-icon-admin-toolbar-tools-help {
      width: auto;
    }
  }
}

.toolbar .toolbar-menu,
.toolbar-horizontal .toolbar-tray .menu-item--expanded,
.toolbar .toolbar-tray {
  background-color: var(--colorGinLayerBackground);
}

.toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation {
  border-left: 1px solid var(--colorGinBorder);
}

.toolbar-tray a,
.toolbar .toolbar-menu .toolbar-menu a {
  color: var(--colorGinText);

  &:hover {
    color: var(--colorGinTitle);
  }
}

.toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a,
.toolbar .toolbar-tray a.is-active {
  color: var(--colorGinPrimary);
  font-weight: normal;
}

// Inline Edit toggle
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item,
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item.is-active,
.toolbar-tab > .toolbar-icon.toolbar-icon-edit.toolbar-item:focus {
  background: var(--colorGinPrimary);
}

.toolbar-tray-horizontal a:focus,
.toolbar-box a:focus,
.toolbar .toolbar-icon.toolbar-handle:focus {
  background-color: var(--colorGinLayer2Background);
}

.toolbar-menu__trigger,
.menu-item-title,
.menu-item-sub-title {
  display: none !important;
}

.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded,
.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus {
  position: relative;

  &:before {
    top: 12px;
    right: 12px;
  }
}

.toolbar .level-2 > ul,
.gin--dark-mode .toolbar .toolbar-toggle-orientation {
  background-color: var(--colorGinLayer2Background);
}

.toolbar .level-3 > ul {
  background-color: var(--colorGinAppBackground);
}

.gin--classic-toolbar.toolbar-tray-open .page-wrapper__node-edit-form .layout-region-node-secondary {
  padding-top: 79px;
}

.gin--classic-toolbar {
  .page-wrapper__node-edit-form .layout-region-node-secondary {
    padding-top: 39px;
  }

  table.sticky-header {
    @include mq(1024px) {
      margin-top: 0;
    }
  }

  .toolbar-bar {
    .toolbar-icon-escape-admin,
    .toolbar-icon-edit,
    .toolbar-icon-local-tasks,
    .toolbar-icon-menu,
    .toolbar-icon-shortcut,
    .toolbar-icon-coffee,
    .toolbar-icon-devel,
    .toolbar-icon-user,
    #toolbar-item-administration-search,
    .toolbar-tab > .toolbar-icon-edit.toolbar-item {
      &:hover:before,
      &.is-active:before {
        background: #fff;
      }
    }
  }
}
